{% extends 'button.html' %}
{% block edgeflip_style %}
<!-- MAIG FONTS!!! -->
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/s3.mayorsagainstillegalguns.org/css/fonts.css" />
<!-- MAIG FONTS!!! -->

<!-- edgeflip stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients/demandaction/button.css') }}" />
<!-- edgeflip stylesheets -->
{% endblock edgeflip_style %}
{% block button %}
<div id="share_button" class="button inactive_button" style="width: 250px;" onclick="doFBLogin();">Support us on Facebook</div>
{% endblock button %}
