{% extends "targetadmin/page.html" %}
{% block title %}Log in to your account{% endblock %}

{% block require %}
    require(
        [
          'app',
          'views/sidebar',
          'views/login'
        ], function(app, sidebar, Login) {

            sidebar.setup( {
                model: new Backbone.Model( {
                    logoSrc: "{{ STATIC_URL }}img/edgeflip-logo.png",
                    nav: [
                        { name: 'help',
                          label: 'Help',
                          glyphClass: 'glyphicon glyphicon-info-sign'
                        }
                    ]
                } )
            } ).render();

            new Login( {
                token: "{% csrf_token %}",
                action: "{% url 'targetadmin:login' %}",
                next: "{{next}}",
                error: {% if form.errors %} true {% else %} false {% endif %}
            } );
        }
    );
{% endblock %}
