<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <script data-main="/static/js/main.js" src="/static/js/vendor/require.js"></script>

      {% block extrahead %}
      {% endblock %}
  </head>

  <body>

    <nav class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-togle="collapse" data-target="navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'targetadmin:client-list' %}">EdgeFlip</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'targetadmin:client-list' %}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        {% block content %}{% endblock %}

    </div>

    {% block extrascript %}
    {% endblock %}
  </body>
</html>
