* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    color: white;
    font-family: Montserrat, sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}
.container-main {
    margin-top: 50px;
    width: 475px;

    background-color: #87C440;
    border: white 1px solid;
    border-radius: 50px;
    padding: 30px;
}

.row {
    content: " ";
    display: table;
    margin-left: -15px;
    margin-right: -15px; 
    width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    min-height: 1px;
    padding: 0 15px;
}
.col-1 {
    width: 8%;
}
.col-2 {
    width: 17%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33%;
}
.col-5 {
    width: 42%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58%;
}
.col-8 {
    width: 67%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83%;
}
.col-11 {
    width: 92%;
}
.col-12 {
    width: 100%;
}

.clear-fix {
    clear: both;
}

.caps {
    text-transform: uppercase;
}
.small-caps {
    font-variant: small-caps;
}
.text-callout {
    font-size: 17px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.logo-bug {
    width: 55px;
}

.title {
    font-size: 39px;
    letter-spacing: 0.4px;
    margin-bottom: 0;
    margin-top: 4px;
}
.subtitle {
    font-weight: normal;
    margin-top: 0;
}

.container-main > .row [class^=col-] {
    padding-right: 0;
}

.container-callout [class^=icon-] {
    font-size: 55px;
}
.container-callout .row {
    padding: 15px 0;
}
.container-callout p {
    margin: 13px 0;
}

.disclaimer {
    font-size: 15px;
}

.btn {
    border-radius: 15px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.btn img {
    border-radius: 15px;
    vertical-align: bottom;
}
.btn-text {
    display: inline-block;
    padding: 1em;
}

.btn-submit {
    background-color: #3b5998;
    border: white 1px solid;
}
.btn-submit .btn-text {
    border-left: white 1px solid;
}
