/* Global */

* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    color: white;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container-lg, .container-md {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container-lg {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-lg {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-lg {
        width: 1170px;
    }
}

.container-md {
    width: 350px;
}

.row {
    content: " ";
    display: table;
    margin-left: -15px;
    margin-right: -15px; 
    width: 100%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.container-fluid > .row {
    margin-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    min-height: 1px;
    padding: 0 15px;
}

.col-1 {
    width: 8%;
}
.col-2 {
    width: 17%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33%;
}
.col-5 {
    width: 42%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58%;
}
.col-8 {
    width: 67%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83%;
}
.col-11 {
    width: 92%;
}
.col-12 {
    width: 100%;
}

@media (max-width: 650px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        position: relative;
        float: none;
        width: 100%;
    }
}

.clear-fix {
    clear: both;
}

.caps {
    text-transform: uppercase;
}
.small-caps {
    font-variant: small-caps;
}
.text-callout {
    font-size: 17px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.simple-list {
    padding-left: inherit;
}

dl.callout {
    margin-top: 0;
    margin-bottom: 15px;
}
dl.callout dt, dl.callout dd {
    line-height: 1.2;
}
dl.callout dt {
    font-size: 40px;
    margin-top: 0.5em;
}
dl.callout dd {
    font-size: 15px;
    margin-left: 0;
}

.switch {
    display: none;
}
.switch.on {
    display: block;
}
span.switch.on {
    display: inline;
}


/* Shared */

.terms {
    font-family: Arial, sans-serif;
}

.logo-bug {
    width: 55px;
}
.brand .logo-bug {
    width: 40px;
    vertical-align: middle;
}

.title {
    font-size: 39px;
    letter-spacing: 0.4px;
    margin-bottom: 0;
    margin-top: 4px;
}
.subtitle {
    font-weight: normal;
    margin-top: 0;
}

.btn {
    border-radius: 15px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
.btn img {
    border-radius: 15px;
    vertical-align: bottom;
}
.btn-text {
    display: inline-block;
    padding: 1em;
}

.btn-submit {
    background-color: #3b5998;
    border: white 1px solid;
}
.btn-submit .btn-text {
    border-left: white 1px solid;
}

/* Intro */

.container-panel-main {
    margin-top: 50px;
    width: 475px;
    min-height: 500px;

    background-color: #87C440;
    border: white 1px solid;
    border-radius: 50px;
    padding: 30px;
}

.container-panel-main > .row [class^=col-] {
    padding-right: 0;
}

.container-callout [class^=icon-], .container-callout [data-icon] {
    font-size: 55px;
}
.container-callout .row {
    padding: 15px 0;
}
.container-callout p {
    margin: 13px 0;
}

.disclaimer {
    font-size: 15px;
}

/* Main */

.container-interstitial {
    margin-top: 20px;
}
.container-interstitial [data-icon] {
    font-size: 50px;
}
.container-interstitial .row {
    margin-left: 0;
}

.panel {
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 1em 0;
}
.panel-heading {
    padding: 10px 20px;
}
.panel-title {
    margin-top: 0.5em;
    margin-bottom: 0;
}
.panel-body {
    padding: 0 20px;
    margin: 10px 0;
}

.content .panel {
    background-color: #87C440;
    min-height: 335px;
}

.header, .footer {
    background-color: #4785AB;
}
.header {
    padding-top: 1em;
}
.footer {
    padding-bottom: 1em;
}

.footer * {
    font-weight: normal;
}
.footer h3 {
    letter-spacing: 0.02em;
}
.footer .brand {
    margin-top: 3em;
}
.footer .text-center .btn,
.footer .text-center.brand {
    margin-left: -40px;
}
.footer .boost-name {
    display: table-caption;
    margin-top: 50px;
    padding-left: 10px;
}
.footer .boost-logo {
    float: left;
    width: 40%;
}
.footer .short-header {
    margin-left: -8%;
    text-align: center;
}

.green-like {
    margin: 10px;
}

#post-list {
    background-color: #F9FAFA;
    border-radius: 3px;
    border-color: #F9FAFA;
}

#post-list th {
    background-color: #F9FAFA;
    color: black;
    text-align: left;
}

#post-list td {
    color: #3B5998;
    margin: 0px;
}

#post-list tr:nth-child(odd) td {background: #F9FAFA}
#post-list tr:nth-child(even) td {background: #FFF}

#post-list td, th {
    font-size: 11px;
    font-family: Arial, sans-serif;
}

#post-list td.post-score, th.post-score {
    min-width: 7em;
    text-align: center;
}

#post-list img {
    max-width: 30px;
    float: left;
    margin-right: 5px;
}

#friend-list {
    padding-left: 20px;
}
#friend-list li {
    margin: 0 0 0.3em;
}

.share-rank {
    margin: 2em 0;
}

.profile-picture {
    max-width: 70px;
    padding: 0 0.7em 0 0.4em;
    vertical-align: text-top;
}

/* Use these to bring rank values and labels onto the same line:
dt.notice {
    display: inline-table;
    padding-left: 0.15em;
}
dd.notice {
    display: inline-block;
    padding-left: 0.25em;
}
*/
