{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/campaign_summary.css">
{% endblock %}

<div class="row well">
   <h4 class="campaign-name">{{ root_campaign.name|slice:":-2" }}</h4>
   <div id="filter-criteria"></div>
   <div>
       <h5 class="sub-header">Friend Suggestion Page Info</h5>
       <div>Headline : {{fb_obj_attributes.sharing_prompt}}</div>
       <div>Sub-header : {{fb_obj_attributes.sharing_sub_header}}</div>
       <div>Thanks URL : {{campaign_properties.client_thanks_url}}</div>
       <div>Error URL : {{campaign_properties.client_error_url}}</div>
   </div>
   <div>
       <h5 class="sub-header">Facebook Post</h5>
       <div>Cause or Organization : {{fb_obj_attributes.org_name}}</div>
       {% if fb_obj_attributes.msg1_pre or fb_obj_attributes.msg1_post or fb_obj_attributes.msg2_pre or fb_obj_attributes.msg2_post %}
           <div class="suggested-messages">
               <h6 class="suggested-messages-header">Suggested Messages</h6>
               <div>Message 1 : {{fb_obj_attributes.msg1_pre}} [Friend Names] {{fb_obj_attributes.msg1_post}}</div>
               <div>Message 2 : {{fb_obj_attributes.msg2_pre}} [Friend Names] {{fb_obj_attributes.msg2_post}}</div>
           </div>
       {% endif %}
       <div>Title : {{fb_obj_attributes.og_title}}</div>
       <div>Image URL : {{fb_obj_attributes.og_image}}</div>
       <div>Description : {{fb_obj_attributes.og_description}}</div>
       <div>Content URL : {{content.url}}</div>
   </div>
</div>
<script src="{{ STATIC_URL }}js/models/filterModels.js"></script>

<script type="text/javascript">
    ( function($) {

        var filterLayers = _.map( {{ filters|safe }}, function( filter ) {
           return new filterCollection( filter[0] ); 
        } );

        var filterView = function( options ) {
            this.el = options.el;
            this.filters = filterLayers;
            this.initialize();
        }

        $.extend( filterView.prototype, {

            initialize: function() {

                _.each( this.filters, function( filterLayer, i ) {
                    this.addLayer( {
                        layer: filterLayer,
                        label: ( i === 0 )
                            ? 'Target Audience'
                            : 'Fallback Audience ' + ( i + 1 ) } );
                }, this );
            },

            addLayer: function( options ) {

                var listItems = options.layer.reduce( function( memo, filter ) {
                    return memo += '<li>' + filter.getReadable() + '</li>';
                }, '' );

                if( ! listItems ) { listItems = '<li>No Filtering</li>'; }

                this.el.append( '<div class="filter-layer">' +
                    '<div class="audience-label">' + options.label + '</div>' +
                    '<ul>' + listItems + '</ul></div>' );
            }

        } );

        new filterView( { el: $('#filter-criteria') } );

      }
    )(jQuery);
</script>
