<h4 class="page-sub-header">Let's start with the basics</h4>

<div class="basic-info-item">
    <div>Give your campaign a name</div>
    <div>
        {{ campaign_form.name }}
    </div>
</div>

<div class="basic-info-item">
    <div>To the right you can see an example of our targeted sharing, or "faces" page.</div>
    <div>If you would like to embed this page on your site, please give us the URL where it will exist.</div>
    <div>If you would prefer that the faces page lives on facebook, leave it blank.</div>
    <div class="basic-info-left-input">
        {{ campaign_form.faces_url }}
    </div>
    <div class="basic-info-right-image">
        <img src="{{ STATIC_URL }}img/faces-example.png" />
    </div>
</div>

<div class="basic-info-item">
    <div>After a user completes the faces page, we will want to redirect them to a thanks page</div>
    <div>Please enter the Thanks URL below</div>
    <div class="basic-info-left-input">
        {{ campaign_form.thanks_url }}
    </div>
    <div class="basic-info-right-image">
        <img src="{{ STATIC_URL }}img/faces-example.png" />
    </div>
</div>

<div class="basic-info-item">
    <div>When a facebook user clicks on a campaign postpost about you, what content do we show them next ?</div>
    <div>Please enter the Content URL</div>
    <div class="basic-info-left-input">
        {{ campaign_form.content_url }}
    </div>
    <div class="basic-info-right-image">
        <img src="{{ STATIC_URL }}img/fb-obj-example.png" />
    </div>
</div>

<div class="basic-info-item">
    <div>If an error occurs, where should we send your users ?</div>
    <div>Please enter the Error URL</div>
    <div>
        {{ campaign_form.error_url }}
    </div>
</div>

<script>
    var sizeBasicInfoFaces = function() {
        var basic_info_faces = $('#basic-info-faces-example');

        if( basic_info_faces.is(':visible') ) {
            basic_info_faces.height( $(window).height() - basic_info_faces.offset().top - 30 );
        }
    }

    //TODO: add debouncer
    $(window).resize( sizeBasicInfoFaces );

    $( sizeBasicInfoFaces );
</script>
