<div class="row">
    <div class="span12 faces-header">
        <h4>Your Faces Page</h4>
        <p>
            Below to the right, you see an example of a faces page.  This is the interface your supporters will use to share with their friends.
            Take note of the "Suggest A Message" button, we will configure suggested messages on the next page.
        </p>
        <p>
            Let's customize your faces page now.
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span5" id="input-wrapper">
        <div id="input-popover"></div>
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.sharing_prompt.id_for_label }}">{{ fb_obj_form.sharing_prompt.label}}:</label>
            {{ fb_obj_form.sharing_prompt}}
        </div>
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.sharing_sub_header.id_for_label }}">{{ fb_obj_form.sharing_sub_header.label }}:</label>
            {{ fb_obj_form.sharing_sub_header }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ campaign_form.thanks_url.id_for_label }}">{{ campaign_form.thanks_url.label }}:</label>
            {{ campaign_form.thanks_url }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ campaign_form.error_url.id_for_label }}">{{ campaign_form.error_url.label }}:</label>
            {{ campaign_form.error_url }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ campaign_form.faces_url.id_for_label }}">{{ campaign_form.faces_url.label }}:</label>
            {{ campaign_form.faces_url }}
        </div>
    </div>

    <div id="img-helper-container" class="span7 img-helper-wrapper">
        <div id="faces-img-popover"></div>
        <img id="faces-img" class="img-helper" src="{{ STATIC_URL }}img/faces-example.png">
    </div>
</div>
<div class="row wizard-button-container">
    <a href="#" id="step3-next" class="btn btn-large btn-primary step-submit filter-step" data-step="fbobjects">Next</a>
    <a href="#" id="step3-prev" class="btn btn-large btn-danger step-submit filter-step" data-step="filtering">Previous</a>
</div>
    <script>

        // call on document ready
        $( function() {

            //constructor
            var facesIndicator = function() {

                //add properties to our instance
                $.extend( this, {

                    //store $ stuff
                    window: $(window),
                    html: $('html'),
                    body: $('body'),
                    imageContainer: $('#img-helper-container'),
                    imagePopoverEl: $('#faces-img-popover'),
                    inputPopoverEl: $('#input-popover'),
                    inputWrapper: $('#input-wrapper'),

                    //store calculations
                    imageContainerOffset: { top: undefined, left: undefined },
                    inputWrapperHeight: 0,
                    scrollTop: 0,
                    imageContainerHeight: undefined,

                    //store "models"
                    isInitialized: false,
                    currentFormField: undefined,
                    verticalImagePadding: 10,


                    //TODO: should be passed into constructor for reuse
                    imageMetaData: {
                        el: $('#faces-img'),
                        originalDims: { x: 753, y: 854 },
                        multiplier: { x: undefined, y: undefined },
                        currentDims: { x: undefined, y: undefined }
                    }
                } );


                //add more properties, these rely on things extended above
                //this is why another extend is called
                $.extend( this, {
                  
                    //data about form fields and their relation to images 
                    //TODO: should be passed into constructor for reuse 
                    formFields: {

                        sharing_prompt: {
                            el: $('input[name="sharing_prompt"]'),
                            coords: { x: 380, y: 134 },
                            placement: 'bottom',
                            text: "Your headline will go here.",
                            title: ''
                        },

                        sharing_sub_header: {
                            el: $('textarea[name="sharing_sub_header"]'),
                            coords: { x: 384, y: 189 },
                            placement: 'bottom',
                            text: "Your sub header will go here.",
                            title: ''
                        },

                        thanks_url: {
                            el: $('input[name="thanks_url"]'),
                            coords: { x: 524, y: 813 },
                            placement: 'left',
                            text: "Where should we send your supporters after they share with their friends?",
                            title: ''
                        },
                        
                        error_url: {
                            el: $('input[name="error_url"]'),
                            text: [ "If the user does not have any friends that fit the targeting criteria ",
                                    "or if there is a sharing error, they will be sent to this URL " ].join(""),
                            title: ''
                        },
                        
                        faces_url: {
                            el: $('input[name="faces_url"]'),
                            text: [ "Provide the URL where this page will be embedded. ",
                                    "Leave blank if using Facebook canvas." ].join(""),
                            title: ''
                        }
                    }

                    
                } );
                    
                return this;
            }

            //add methods to our object
            $.extend( facesIndicator.prototype, {

                init: function() {
                    this.storeElementDimensions();
                    this.imageContainerHeight =
                        this.windowHeight - this.imageContainerOffset.top - this.verticalImagePadding;
                    if( this.imageContainerHeight > this.inputWrapperHeight ) {
                        this.imageContainerHeight = this.inputWrapperHeight;
                    }
                    this.imageContainer.height( this.imageContainerHeight );
                    $('body,html').scrollTop( 0 );
                    this.maxScroll = this.body.height() - this.windowHeight;
                    this.sizeAndPositionImage();
                    this.initPopovers();
                    this.delegateEvents();
                    this.isInitialized = true;
                },

                initPopovers: function() {
                    var self = this;

                    //instantiate img popover
                    this.imagePopoverEl.popover( {
                        animation: false,
                        trigger: 'manual',
                        title: function() { return self.getPopoverTitle(); },
                        content: function() { return self.getPopoverText(); },
                        placement: function() { return self.getPopoverPlacement(); }
                    } );

                    //instantiate img popover
                    this.inputPopoverEl.popover( {
                        animation: false,
                        trigger: 'manual',
                        content: function() { return self.getPopoverText(); },
                        placement: 'right'
                    } );
                },

                delegateEvents: function() {
                    var self = this;

                    //binds form focus / blur events
                    $.each( this.formFields, function( fieldName, formMetaData ) {

                        formMetaData.el.on( 'focus', function() {
                                         self.setCurrentFormField( fieldName )
                                             .emboldenLabel()
                                             .scrollToField() } )

                                .on( 'blur', function() {
                                        self.weakenLabel()
                                            .hidePopover()
                                            .setCurrentFormField( null ) } );
                    } );

                    //handle window resize so our popovers and images look alright
                    this.window.resize( function() { self.handleWindowResize(); } );
                    this.window.scroll( _.debounce( function() { self.handleWindowScroll() }, 150 ) );

                },

                setCurrentFormField: function( fieldName ) { this.currentFormField = fieldName; return this; },

                emboldenLabel: function() {
                    this.formFields[ this.currentFormField ].el.prev().css( 'font-weight', 'bold' );
                    return this;
                },
                
                weakenLabel: function() {
                    this.formFields[ this.currentFormField ].el.prev().css( 'font-weight', 'normal' );
                    return this;
                },

                positionAndShowPopover: function() {
     
                    var focusedFormMetaData = this.formFields[ this.currentFormField ];
                
                    if( focusedFormMetaData.coords ) {
                        this.inputPopoverEl.popover('hide');
                        this.imagePopoverEl.css( {
                            top: ( focusedFormMetaData.coords.y * this.imageMetaData.multiplier.y ),
                            left: ( focusedFormMetaData.coords.x * this.imageMetaData.multiplier.x ) } ).popover('show');
                    } else {
                        this.imagePopoverEl.popover('hide');
                        this.inputPopoverEl.css( {
                            top: focusedFormMetaData.el.offset().top + ( focusedFormMetaData.el.outerHeight( true ) / 2 ),
                            left: focusedFormMetaData.el.offset().left + focusedFormMetaData.el.outerWidth( true ) + 5 } ).popover('show');
                    }

                    return this;    
                },

                hidePopover: function() {
                    var focusedFormMetaData = this.formFields[ this.currentFormField ];

                    if( focusedFormMetaData.coords ) {
                        this.imagePopoverEl.popover('hide');
                    } else {
                        this.inputPopoverEl.popover('hide');
                    }

                    return this;
                },

                getPopoverText: function() { return this.formFields[ this.currentFormField ].text; },
                
                getPopoverTitle: function() { return this.formFields[ this.currentFormField ].title; },

                getPopoverPlacement: function() { return this.formFields[ this.currentFormField ].placement; },

                scrollToField: function() {

                    var difference,
                        maxDifference = this.inputWrapperHeight - this.imageContainerHeight,
                        formElTop = this.formFields[ this.currentFormField ].el.offset().top,
                        self = this,
                        scrollTop = ( formElTop - ( this.window.height() / 2 ) );

                    difference =
                        ( formElTop ) -
                        ( ( this.imageContainerOffset.top - parseFloat( this.imageContainer.css('top' ) ) ) + ( this.imageMetaData.currentDims.y / 2 ) );

                    if( difference < 0 ) { difference = 0; }
                    else if( difference > maxDifference ) { difference = maxDifference; }

                    this.imageContainer.animate(
                        { 'top': difference },
                        { complete: function() {
                            self.imageContainerOffset = self.imageContainer.offset(); } } );

                    if( ( this.scrollTop >= this.maxScroll && scrollTop >= this.maxScroll ) ||
                        ( this.scrollTop === scrollTop ) || 
                        ( this.scrollTop === 0 && scrollTop <= 0 ) ) {
                        self.positionAndShowPopover();
                    } else {
                        $('body,html').animate( { 'scrollTop' : scrollTop } );
                    }

                    return this;
                },

                handleWindowScroll: function() {

                    this.scrollTop = ( this.body.scrollTop() != 0 )
                        ? this.body.scrollTop()
                        : this.html.scrollTop();

                    this.sizeAndPositionImage();
                },

                sizeAndPositionImage: function() {

                    var diff = this.inputWrapperOffset.top - this.scrollTop,
                        top = 0,
                        stickyHeaderBump = 0,
                        self = this;

                    //if the viewport contains the top of the input wrapper
                    if( diff > 0 ) {

                        if( diff < 60 ) {
                            stickyHeaderBump = 60 - diff;
                        } 
                        this.imageContainerHeight = this.windowHeight - diff - this.verticalImagePadding - stickyHeaderBump;
                    
                        if( this.imageContainerHeight > this.inputWrapperHeight ) {
                            this.imageContainerHeight = this.inputWrapperHeight;
                        }
                            
                        top = stickyHeaderBump;

                    //if the viewport contains only our form fields and our image
                    } else if( ( this.scrollTop + this.windowHeight ) <
                               ( this.inputWrapperHeight + this.inputWrapperOffset.top ) ) {
                        

                        this.imageContainerHeight = this.windowHeight -
                            this.navbarHeight -
                            ( this.verticalImagePadding * 2 );

                        top = ( this.scrollTop - this.inputWrapperOffset.top ) +
                              this.navbarHeight + this.verticalImagePadding;
                    
                    //if the viewport contains the bottom of the input wrapper
                    } else {

                        this.imageContainerHeight = 
                            ( this.inputWrapperHeight + this.inputWrapperOffset.top - this.scrollTop ) -
                            ( this.navbarHeight + this.verticalImagePadding );

                        top = this.scrollTop - this.inputWrapperOffset.top +
                              this.navbarHeight + this.verticalImagePadding;
                    }

                    this.imageContainer.animate(
                        { top: top, height: this.imageContainerHeight },
                        { duration: 200,
                          complete: function() {
                            self.setImageMetaData();
                            if( self.currentFormField ) { self.positionAndShowPopover(); }
                          } } );
            
                    return;
                },

                handleWindowResize: function() {
                    this.windowHeight = this.window.height();
                    this.maxScroll = this.body.height() - this.windowHeight;
                    this.imageContainerHeight =
                        this.windowHeight - this.imageContainerOffset.top - this.verticalImagePadding;
                    if( this.imageContainerHeight > this.inputWrapperHeight ) {
                        this.imageContainerHeight = this.inputWrapperHeight;
                    }
                    this.imageContainer.height( this.imageContainerHeight );
                    this.sizeAndPositionImage();
                },

                storeElementDimensions: function() {
                    this.imageContainerOffset = this.imageContainer.offset();
                    this.inputWrapperOffset = this.inputWrapper.offset();
                    this.inputWrapperHeight = this.inputWrapper.outerHeight( true );
                    this.windowHeight = this.window.height();
                    this.navbarHeight = $('.navbar').outerHeight( true );
                },


                setImageMetaData: function() {

                    this.imageMetaData.currentDims = {
                        x: this.imageMetaData.el.outerWidth(true),
                        y: this.imageMetaData.el.outerHeight(true)
                    };    

                    this.imageMetaData.multiplier = {
                        x: this.imageMetaData.currentDims.x / this.imageMetaData.originalDims.x,
                        y: this.imageMetaData.currentDims.y / this.imageMetaData.originalDims.y
                    }
                }

            } );

            window.facesIndicator = new facesIndicator();

        } );

</script>
