<div class="row">
    <div class="span10 offset1 header-container">
        <h2 class="wizard-header">Friend Suggestion Page</h2>
        <p>The Friend Suggestion Page is what your supporters will see when they authorize the Targeted Sharing application to access their Facebook information. It can reside either on Facebook or on your site.</p>
        <p>Configure your Friend Suggestion Page by filling in the form below.</p>
    </div>
</div>

<div id="facesImageCompanion" class="row-fluid">
    <div class="span5 offset1" data-js="inputContainer">
        <div data-js="inputPopover" class="companion-popover"></div>
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.sharing_prompt.id_for_label }}">{{ fb_obj_form.sharing_prompt.label}}:</label>
            {{ fb_obj_form.sharing_prompt}}
        </div>
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.sharing_sub_header.id_for_label }}">{{ fb_obj_form.sharing_sub_header.label }}:</label>
            {{ fb_obj_form.sharing_sub_header }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.sharing_button.id_for_label }}">{{ fb_obj_form.sharing_button.label }}:</label>
            {{ fb_obj_form.sharing_button }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ campaign_form.thanks_url.id_for_label }}">{{ campaign_form.thanks_url.label }}:</label>
            {{ campaign_form.thanks_url }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ campaign_form.error_url.id_for_label }}">{{ campaign_form.error_url.label }}:</label>
            {{ campaign_form.error_url }}
        </div>
        <div class="fb-obj-item">
            <label for="{{ campaign_form.faces_url.id_for_label }}">{{ campaign_form.faces_url.label }}:</label>
            {{ campaign_form.faces_url }}
        </div>
    </div>

    <div data-js="imageContainer" class="span5 img-helper-wrapper">
        <div data-js="imagePopover" class="companion-popover"></div>
        <img data-js="image" class="img-helper" src="{{ STATIC_URL }}img/faces-example.png">
    </div>
</div>

<div class="row wizard-button-container">
    <button type="button" id="step3-prev" class="btn btn-link step-submit pull-left" data-step="filtering">Previous</button>
    <button type="button" id="step3-next" class="btn btn-large btn-primary step-submit" data-step="fbobjects">Next</button>
</div>

<script type="text/javascript">
    // call on document ready
    $( function() {

        var defaultFieldData = {
            placement: 'bottom'
        };

        var imageCompanionFieldData = {

            "sharing_prompt": {
                type: 'image',
                coords: { x: 380, y: 134 },
                text: 'Your headline will go here.',
                index: 0
            },

            "sharing_sub_header": {
                type: "image",
                coords: { x: 384, y: 189 },
                text: "Your sub header will go here.",
                index: 1
            },

            "sharing_button": {
                type: "image",
                coords: { x: 524, y: 813 },
                placement: 'left',
                text: "What should the text on the sharing button be?",
                index: 3
            },

            "thanks_url": {
                type: "image",
                coords: { x: 524, y: 813 },
                placement: 'left',
                text: "Where should we send your supporters after they share with their friends?",
                index: 3
            },

            "error_url": {
                type: "input",
                text: [ "If the user does not have any friends that fit the targeting criteria ",
                      "or if there is a sharing error, they will be sent to this URL" ].join(""),
                index: 4
            },

            "faces_url": {
                type: "input",
                text: [ "Provide the URL where this page will be embedded. ",
                        "Leave blank if using Facebook canvas." ].join(""),
                index: 5
            } 
        };

        $('#id_sharing_button').val('');

        _.each( imageCompanionFieldData, function( meta, key ) {
             _.defaults( meta, defaultFieldData );
        } );

        window.facesImageCompanion = new window.imageCompanion( {
            el: '#facesImageCompanion',
            fields: imageCompanionFieldData
        } );

        $('#step3-prev,#step3-next').on( 'click', function() {
            if( window.facesImageCompanion.model.get('isCycling') ) {
                window.facesImageCompanion.stopCycling();
            }
        } );

    } );
</script>
