<section id="faces" class="hide">
    <div class="row">
        <div class="header">
            <h4>Your Faces Page</h4>
            <p>Below to the right is an example of a Faces page.  This the interface your supporters will use to share with their friends.</p>
            <p>Take note of the "Suggest A Message" button.  We will configure suggested messages on the next page.</p>
            <p>Let's customize your faces page now.</p>
        </div>
    </div>

    <div class="row">
        <div class="input-container" data-js="inputContainer">
            <div data-js="inputPopover" class="popover-container"></div>
            <div class="fb-obj-item">
                <div>
                    <label for="{{ fb_obj_form.sharing_prompt.id_for_label }}">{{ fb_obj_form.sharing_prompt.label}}:</label>
                </div>
                {{ fb_obj_form.sharing_prompt}}
            </div>
            <div class="fb-obj-item">
                <div>
                    <label for="{{ fb_obj_form.sharing_sub_header.id_for_label }}">{{ fb_obj_form.sharing_sub_header.label }}:</label>
                 </div>
                {{ fb_obj_form.sharing_sub_header }}
            </div>
            <div class="fb-obj-item">
                <div>
                    <label for="{{ campaign_form.thanks_url.id_for_label }}">{{ campaign_form.thanks_url.label }}:</label>
                </div>
                {{ campaign_form.thanks_url }}
            </div>
            <div class="fb-obj-item">
                <div>
                    <label for="{{ campaign_form.error_url.id_for_label }}">{{ campaign_form.error_url.label }}:</label>
                </div>
                {{ campaign_form.error_url }}
            </div>
            <div class="fb-obj-item">
                <div>
                    <label for="{{ campaign_form.faces_url.id_for_label }}">{{ campaign_form.faces_url.label }}:</label>
                </div>
                {{ campaign_form.faces_url }}
            </div>
        </div>

        <div data-js="imageContainer" class="image-container">
            <div data-js="imagePopover" class="popover-container"></div>
            <img data-js="image" src="{{ STATIC_URL }}img/faces-example.png">
        </div>
    </div>
    <div class="row wizard-button-container">
        <button data-js="nextBtn" type="button" class="btn btn-large btn-primary">Next</a>
        <button data-js="prevBtn" type="button" class="btn btn-large btn-danger">Previous</a>
    </div>
</section>
