<div class="row">
    <div class="span10 offset1 header-container">
        <h2 class="wizard-header">Facebook Post</h2>
        <p>
            Once your supporters have selected which friends to share with, the Targeted Sharing application will generate a Facebook post that your target audience will see. Clicking on this post will send users to your campaign content. <a href="{% url 'targetadmin:how-it-works' client.pk %}" target="_blank">Learn more.</a>
        </p>
        <p>Create your Facebook post by filling in the form below.</p>
    </div>
</div>


<div id="fbObjImageCompanion" class="row-fluid">
    <div class="span5 offset1" data-js="inputContainer">
        <div data-js="inputPopover" class="companion-popover"></div>
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.org_name.id_for_label }}">{{ fb_obj_form.org_name.label}}:</label>
            {{ fb_obj_form.org_name }}
        </div>

        <div class="suggested-message-container">
            <h4>
                <span>Suggested Messages</span>
                <i class="icon-question-sign suggested-message-header" data-placement="right" data-content="When your supporters share your campaign with their friends, they'll be able to customize the Facebook post that their friends see. You can also provide your supporters with up to two suggested messages to help them craft the perfect Facebook post."></i>
            </h4>

            <div class="fb-obj-group">
                <h5><span>Message 1</span></h5>
                <div class="fb-obj-item">
                    <label for="{{ fb_obj_form.msg1_pre.id_for_label }}">{{ fb_obj_form.msg1_pre.label}}:</label>
                    {{ fb_obj_form.msg1_pre }}
                </div>

                <div class="fb-obj-item">
                    <label for="{{ fb_obj_form.msg1_post.id_for_label }}">{{ fb_obj_form.msg1_post.label}}:</label>
                    {{ fb_obj_form.msg1_post }}
                </div>
            </div>

            <div class="fb-obj-group">
                <h5><span>Message 2</span></h5>
                <div class="fb-obj-item">
                    <label for="{{ fb_obj_form.msg2_pre.id_for_label }}">{{ fb_obj_form.msg2_pre.label}}:</label>
                    {{ fb_obj_form.msg2_pre }}
                </div>

                <div class="fb-obj-item">
                    <label for="{{ fb_obj_form.msg2_post.id_for_label }}">{{ fb_obj_form.msg2_post.label}}:</label>
                    {{ fb_obj_form.msg2_post }}
                </div>
            </div>
        </div>

        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.og_title.id_for_label }}">{{ fb_obj_form.og_title.label}}:</label>
            {{ fb_obj_form.og_title }}
        </div>

        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.og_image.id_for_label }}">{{ fb_obj_form.og_image.label}}:</label>
            {{ fb_obj_form.og_image }}
        </div>
        
        <div class="fb-obj-item">
            <label for="{{ fb_obj_form.og_description.id_for_label }}">{{ fb_obj_form.og_description.label }}:</label>
            {{ fb_obj_form.og_description}}
        </div>

        <div class="fb-obj-item">
            <label for="{{ campaign_form.content_url.id_for_label }}">{{ campaign_form.content_url.label }}:</label>
            {{ campaign_form.content_url }}
        </div>
    </div>

    <div data-js="imageContainer" class="span5 img-helper-wrapper">
        <div data-js="imagePopover" class="companion-popover"></div>
        <img data-js="image" class="img-helper" src="{{ STATIC_URL }}img/fb-obj-example.png">
    </div>

</div>

<div class="row wizard-button-container">
    <button type="button" id="step4-prev" class="btn btn-link step-submit pull-left" data-step="faces">Previous</button>
    <button type="button" class="btn btn-large btn-primary step-submit fbobject-step" value="Submit" id="wizard-submit">Create Campaign!</button>
</div>


<script type="text/javascript">

    // call on document ready
    $( function() {

        var defaultFieldData = {
            placement: 'bottom'
        };

        var imageCompanionFieldData = {

            org_name: {
                type: 'image',
                coords: { x: 540, y: 80 },
                text: "The cause or organization you enter will replace 'Freakonomics Radio' here.",
                index: 0
            },

            msg1_pre: {
                type: 'image',
                coords: { x: 56, y: 206 },
                text: "Text to be displayed before friend names."
            },

            msg1_post: {
                type: 'image',
                coords: { x: 519, y: 204 },
                text: "Text that will go after the friend names."
            },

            msg2_pre: {
                type: 'image',
                coords: { x: 56, y: 206 },
                text: "Alternate text to suggest before friend names so that your supporters's feeds don't all look the same."
            },

            msg2_post: {
                type: 'image',
                coords: { x: 519, y: 204 },
                text: "Alternate text for after the friend names.  We will randomly pick a suggestion."
            },

            og_title: {
                type: 'image',
                coords: { x: 386, y: 754 },
                text: "Your title will go here."
            },

            og_image: {
                type: 'image',
                coords: { x: 641, y: 417 },
                placement: 'right',
                text: "Your image will go here."
            },

            og_description: {
                type: 'image',
                coords: { x: 464, y: 861 },
                text: "Your description will go here."
            },

            content_url: {
                type: 'input',
                text: "When someone clicks on the post, this is where we will send them."
            }
        };

        _.each( imageCompanionFieldData, function( meta, key ) {
             _.defaults( meta, defaultFieldData );
        } );

        window.fbObjImageCompanion = new window.imageCompanion( {
            el: '#fbObjImageCompanion',
            fields: imageCompanionFieldData
        } );

        $('#step3-prev,#wizard-submit').on( 'click', function() {
            if( window.fbObjImageCompanion.model.get('isCycling') ) {
                window.fbObjImageCompanion.stopCycling();
            }
        } );
    } );

</script>
