<div id="filters" class="container hide">
    <div class="row">
        <div class="col-md-12">
            <div class="row targeting-header">

                <div class="filter-info-item">
                    <h5>What audience would you like to target ?</h5>
                    <p>
                        When your supporters share your campaign with their Facebook friends, we will present them with a list of friend
                        suggestions based on criteria you select below.
                    </p>
                    <p>
                        To add filter criteria to your campaign, simply drag one or more filters from the "Available Filters" container to
                        one of the layers under the "Enabled Filters" heading. If you don't see the filter you want to use, click the "Add Filter" button to add a new one.
                    </p>
                </div>
                
                <div class="filter-info-item">
                    <h5>How it works</h5>
                    <p>Multiple filters in a single layer will be chained together with "and". For example, if you put the following four filters -- 
                       'gender eq Male', 'age min 22', 'age max 30', and 'state eq New York' -- into a single layer, you will be targeting
                        <i>22-30 year-old men living in New York state</i>.
                    </p>
                    <p>We highly recommend adding multiple layers to your criteria. To add a layer, click the "Add Layer" button to the right of the Enabled Filters header.</p>
                    <p>
                        Additional layers might target different audiences, or else they might provide a less restrictive "fallback" layer to make sure
                        that every supporter sees some friend suggestions when they share your Facebook post. In our example from above, a Layer 2
                        fallback criteria might be <i>22-30 year-old men</i>.  If that is still too restrictive, a third layer targeting only <i>men</i> might be added.
                    </p>
                    <p>As always, feel free to contact us for assistance.</p>
                </div>
            </div>
            <div data-js="enabledFiltersContainer" class="row">
                <h3>Enabled Filters <button data-js="addLayerBtn" type="button" class="btn btn-default btn-xs">Add Layer</button></h3>
                <h6>Top Layer</h6>
                <div class="clearfix">
                    <input type="hidden" id="id_enabled-filters-1" name="enabled-filters-1">
                    <div class="col-md-12 well sortable target-well" data-js="enabledFilters"></div>
                </div>
            </div>
            <div id="available-section" class="row">
                <h3>Available Filters <button data-js="addFilterBtn" data-target="#filter-modal" type="button" href="{% url 'targetadmin:filter-add' client.pk %}" id="create-filter-btn" class="btn btn-default btn-xs" data-toggle="modal">Add Filter</button></h3>
                <div class="col-md-12 well sortable target-well" data-js="availableFilters" id="existing-filters">
                    
                </div>
            </div>
            <div class="row empty-fallback">
                {{ campaign_form.include_empty_fallback.errors }}
                <label for="{{ campaign_form.include_empty_fallback.id_for_label }}">{{ campaign_form.include_empty_fallback.label }}:</label>
                {{ campaign_form.include_empty_fallback }}
                {% if campaign_form.include_empty_fallback.help_text %}
                    <span data-js="helpText" class="glyphicon glyphicon-question-sign" data-placement="right" data-content="{{ campaign_form.include_empty_fallback.help_text }}"></span>
                {% endif %}
            </div>
            <div class="row wizard-button-container">
                <button type="button" class="btn btn-large btn-primary" data-js="nextBtn" >Next</a>
                <button type="button" class="btn btn-large btn-danger" data-js="previousBtn">Previous</a>
            </div>
        </div>
    </div>
    <div id="filter-modal" data-js="addFilterModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
</div>
