<div class="row">
    <div class="span12">
        <div class="row">
            <h2>Targeting Criteria</h2>
            <p>
                The below items will be chained together with ANDs. 
                We highly recommend adding extra, subsequent targeting layers 
                as "fallbacks". For example, you may have a targeting criteria 
                of 18-34, Female, and living in Illinois. If a person using 
                the sharing platform doesn't have an adequate number of 
                friends meeting those requirements they won't be served any 
                friends to share with. 
            </p>
            <p>
                As a result, a fallback criteria might 
                be: Women that are 18-34. If that falls to find enough 
                friends, a further fullback of simply: Women, might be 
                applicable. As always, feel free to contact us for assistance
            </p>
        </div>
        <div id="enabled-section" class="row">
            <h3>Enabled Filters <button id="add-layer" class="btn btn-mini" data-layer-count="1">Add Layer</button></h3>
            <h5>Top Layer</h5>
            <div class="clearfix">
                <input type="hidden" id="id_enabled-filters-1" name="enabled-filters-1">
                <div class="span12 well sortable target-well" id="enabled-filters-1" style="margin-left: 0px; min-height:54px;"></div>
            </div>
        </div>
        <div class="row">
            <h3>Available Filters <button data-target="#filter-modal" href="{% url 'targetadmin:filter-add' client.pk %}" id="something" role="button" class="btn btn-mini" data-toggle="modal">Create Filter</button></h3>
            <div class="span12 well sortable target-well" id="existing-filters" style="margin-left: 0px; min-height:54px;">
                {% for ff in filter_features %}
                    <div data-filter-id="set_number={{ ff.feature }}.{{ ff.operator }}.{{ ff.value }}" class="span2 draggable">
                        <p>
                            <abbr title="{{ ff.feature }} {{ ff.operator }} {{ ff.value }}">
                                {{ ff.feature }} {{ ff.operator }} {{ ff.value|truncatechars:"25" }}
                            </abbr>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="filter-modal" class="modal hide fade" tabindex="-1" role="dialog" data-remote="{% url 'targetadmin:filter-add' client.pk %}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="filter-modal-label">Create Filter</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button id="filter-add" class="btn btn-primary">Save changes</button>
    </div>
</div>
