<div id="intro" class="hide">
    <div class="page-header-information">
        <div>Our targeted sharing application will spread your message across the web by asking your supporters to share your content with their friends.</div>
        <div>We found that individuals are much more likely to take some action when they are asked to do so by a trusted friend rather than by a large organization.</div>
        <div>Click on an image below to get started</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div id="intro-carousel" class="col-md-10 carousel slide" data-js="carouselEl">
            <ol class="carousel-indicators">
                <li data-target="#intro-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#intro-carousel" data-slide-to="1"></li>
                <li data-target="#intro-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="active item">
                    <img data-js="carouselImage" src="{{ STATIC_URL }}img/carousel-filter.jpg">
                    <div class="carousel-caption">
                        <h4>Audience Targeting</h4>
                        <p>
                            First, we will ask you to choose a set of filter criteria so we can get your campaign in front of the right audience.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img data-js="carouselImage" src="{{ STATIC_URL }}img/carousel-faces.jpg">
                    <div class="carousel-caption">
                        <h4>Utilize your supporter's social network</h4>
                        <p>
                            Then, we will customize your "faces page".  Send your supporters to it so they can share your campaign with their friends.
                            It can reside either on Facebook or on your site.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img data-js="carouselImage" src="{{ STATIC_URL }}img/carousel-fb-obj.jpg">
                    <div class="carousel-caption">
                        <h4>Facebook Post</h4>
                        <p>
                            Finally, we will build the Facebook post that your supporters will share with a targeted audience by tagging their friends in it.  Clicking on this post will send users to your campaign content.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#intro-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#intro-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div data-js="nameModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title campaign-name-title">Give your campaign a name</h4>
                </div>
                <div class="modal-body">
                    <div class="campaign-name-input-container">{{ campaign_form.name }}</div>
                </div>
                <div class="modal-footer">
                    <button data-js="nameSubmitBtn" type="button" class="btn btn-primary"">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
