<!DOCTYPE html>
<html{% block extra_html_tags %}{% endblock %}>
    <head{% block head_tags %}{% endblock %}>
        <title>{% block title %}{% endblock %}</title>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

        {% block style_includes %}
        {% endblock %}

        {% block style_inline %}
        {% endblock %}

        {% block js_include %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            {% comment %} Edgeflip js {% endcomment %}
            <script src="{{ STATIC_URL }}js/ie_fixes.js"></script>
            <script src="{{ STATIC_URL }}js/bigtext.js"></script>

            <script type='text/javascript'>
            {% include "core/includes/edgeflip.js" %}
            {% include "core/includes/url.js" %}
            {% include "core/includes/events.js" %}
            {% include "core/includes/csrf.js" %}
            </script>
        {% endblock %}
    </head>
    <body>
        {% csrf_token %} {# Ensures the token/cookie is available #}
        <script type="text/javascript">edgeflip.csrf.setHeader();</script>

        {% block js_inline %}{% endblock %}

        {% block body %}
        {% endblock %}
    </body>
</html>
