{% extends 'targetshare/base.html' %}

{% block title %}Sharing for Social Good Button{% endblock %}

{% block style_includes %}
    <!-- edgeflip stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ client_css }}" />
    <link rel="stylesheet" type="text/css" href="{{ client_css_simp }}" />
    <!-- edgeflip stylesheets -->
{% endblock %}

{% block style_inline %}
    <STYLE>
        html {
            overflow: hidden;
        }

        body {
            background-color: transparent;
            /* May also need ALLOWTRANSPARENCY="true" in the iframe tag... */
        }
    </STYLE>
{% endblock %}
{% block js_inline %}
    <SCRIPT>

        var sessionid = '{{ session_id }}';
        var campaignid = {{ campaign.pk }};
        var contentid = {{ content.pk }};

        function recordEvent(eventType, fbid, redirect, accessToken) {

            var appid = {{ fb_params.fb_app_id }};
            var content = '{{ fb_params.fb_app_name }}:button {{ goto|safe }}';

            var params = JSON.stringify({
                userid: fbid,
                appid: appid,
                content: content,
                eventType: eventType,
                sessionid: sessionid,
                campaignid: campaignid,
                contentid: contentid,
                token: accessToken
            });

            $.ajax({
                type: "POST",
                url: "{% url 'record-event' %}",
                contentType: "application/json",
                dataType: 'html',
                data: params,
                error: function(jqXHR, textStatus, errorThrown) {
                    // Even if the event writing failed, still send the user on their way...
                    if (redirect) {
                        top.location = redirect;
                    }
                },
                success: function(data, textStatus, jqXHR) {
                    var header_efsid = jqXHR.getResponseHeader('X-EF-SessionID');
                    sessionid = header_efsid || sessionid;
                    if (redirect) {
                        top.location = redirect;
                    }
                }
            });

        }

        // Initial call on page load
        recordEvent('button_load', '');

        // Called upon clicking the "share" button
        function doFBLogin() {

            recordEvent('button_click', '');

            var button_div = $('#share_button');
            button_div.hide();

            // super-hokey work-around to make redirect work on iPhone
            // (iOS 6 doesn't seem to return control to asynchronous code
            //  upon returning from FB login. For more info, see:
            //  http://stackoverflow.com/questions/14406692/fb-login-on-ios-6-doesnt-return-control-to-scripts-with-asynchronous-executio)
            var hasAuthed = false;
            var authedResponse = null;
            var intervalId = setInterval(function() {
                if( hasAuthed ) {
                    clearInterval(intervalId);

                    var gotoURL = "{{ goto|safe }}";
                    if (sessionid) {
                        gotoURL = gotoURL + '&efsid=' + sessionid;
                    }
                    recordEvent('authorized', authedResponse.authResponse.userID, gotoURL, authedResponse.authResponse.accessToken);
                
                }
            }, 200 );

            FB.login(function(response) {
                if (response.authResponse) {
                    // User authorized, so set flags that will tell setInterval() to write event and jump to page that will contain the faces...
                    authedResponse = response;
                    hasAuthed = true;

                } else {
                    recordEvent('auth_fail', '');
                    // zzz Figure out what to actually do here!
                    button_div.show();
                    // alert("Rocco, sit on the other side. You block the rearview mirror. "+JSON.stringify(response));
                    alert("Please login to facebook and authorize the app to share with your friends.");
                }
            }, {scope:'read_stream,user_photos,friends_photos,email,user_birthday,friends_birthday,publish_actions,user_about_me,user_location,friends_location,user_likes,friends_likes,user_interests,friends_interests'});

        }

    </script>
{% endblock %}
{% block body %}
    {% block button %}
        <div id="share_button" class="button_big active_button" style="width: 250px;" onclick="doFBLogin();">Support us on Facebook</div>
    {% endblock button %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        
        window.fbAsyncInit = function() {


            FB.init({ appId: '{{ fb_params.fb_app_id }}', //change the appId to your appId
                status: true, 
                cookie: true,
                xfbml: true,
                oauth: true});

        }; // fbAsyncInit

        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol 
                + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
            
    </script>
{% endblock %}
