{% extends 'targetshare/base.html' %}

{% block title %}Sharing for Social Good Button{% endblock %}

{% block style_includes %}
    <!-- Campaign stylesheets --> {% for css_link in campaign_css %}
    <link rel="stylesheet" type="text/css" href="{{ css_link.href }}" />
    {% endfor %} <!-- Campaign stylesheets -->
{% endblock %}

{% block style_inline %}
    <style>
        html {
            overflow: hidden;
        }

        body {
            background-color: transparent;
        }
    </style>
{% endblock %}
{% block js_inline %}
    <script type="text/javascript">

        var campaignid = {{ campaign.pk }};
        var contentid = {{ content.pk }};

        function recordEvent(eventType, fbid, redirect, accessToken) {

            var appid = {{ fb_params.fb_app_id }};
            var content = '{{ fb_params.fb_app_name }}:button {{ goto|safe }}';

            var params = {
                userid: fbid,
                appid: appid,
                content: content,
                eventType: eventType,
                campaignid: campaignid,
                contentid: contentid,
                token: accessToken
            };

            $.ajax({
                type: "POST",
                url: "{% url 'record-event' %}",
                dataType: 'html',
                data: params,
                error: function(jqXHR, textStatus, errorThrown) {
                    // Even if the event writing failed, still send the user on their way...
                    if (redirect) {
                        top.location = redirect;
                    }
                },
                success: function(data, textStatus, jqXHR) {
                    if (redirect) {
                        top.location = redirect;
                    }
                }
            });

        }

        // Initial call on page load
        recordEvent('button_load', '');

	var gotoURL = new edgeflip.Url("{{ goto }}");
	$.each(['efobjsrc', 'efsuccessurl', 'eferrorurl'], function() {
	    var carryThroughValue = edgeflip.Url.window.query[this];
	    if (carryThroughValue)
		gotoURL.query[this] = carryThroughValue;
	});
	{# Allow efobjsrc to be current document trivially #}
	if (gotoURL.query.efobjsrc === '1')
	    gotoURL.query.efobjsrc = encodeURIComponent(window.top.location.href);
	gotoURL = gotoURL.href()

        function doOAuthLogin() {
            recordEvent('button_click', '');
            window.top.location = "https://www.facebook.com/dialog/oauth?client_id={{ content.client.fb_app_id }}&scope={{ settings.FB_PERMS }}&redirect_uri=" + encodeURIComponent(gotoURL);
        }

        // Called upon clicking the "share" button
        function doFBLogin() {

            recordEvent('button_click', '');

            var button_div = $('#share_button');
            button_div.hide();

            // super-hokey work-around to make redirect work on iPhone
            // (iOS 6 doesn't seem to return control to asynchronous code
            //  upon returning from FB login. For more info, see:
            //  http://stackoverflow.com/questions/14406692/fb-login-on-ios-6-doesnt-return-control-to-scripts-with-asynchronous-executio)
            var hasAuthed = false;
            var authedResponse = null;
            var intervalId = setInterval(function() {
                if( hasAuthed ) {
                    clearInterval(intervalId);
                    recordEvent('authorized', authedResponse.authResponse.userID, gotoURL, authedResponse.authResponse.accessToken);
                }
            }, 200 );

            FB.login(function(response) {
                if (response.authResponse) {
                    // User authorized, so set flags that will tell setInterval() to write event and jump to page that will contain the faces...
                    authedResponse = response;
                    hasAuthed = true;

                } else {
                    recordEvent('auth_fail', '');
                    // zzz Figure out what to actually do here!
                    button_div.show();
                    // alert("Rocco, sit on the other side. You block the rearview mirror. "+JSON.stringify(response));
                    alert("Please login to facebook and authorize the app to share with your friends.");
                }
            }, {scope:'{{ settings.FB_PERMS }}'});

        }

    </script>
{% endblock %}
{% block body %}
    {% block button %}
        <div id="share_button" class="button_big button_active" onclick="doOAuthLogin();">{% block button_text %}Support us on Facebook{% endblock button_text %}</div>
    {% endblock button %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        
        window.fbAsyncInit = function() {
            FB.init({ appId: '{{ fb_params.fb_app_id }}', //change the appId to your appId
                status: true, 
                cookie: true,
                xfbml: true,
                oauth: true});
        };

        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol 
                + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
            
    </script>
{% endblock %}
