{% extends 'targetshare/base.html' %}

{% block title %}Powered by Edgeflip{% endblock %}

{% block meta_tags %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="coming, soon, sharing, social good" />
{% endblock %}

{% block style_includes %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sfsg_style.css">
{% endblock %}

{% block body %}
    <div id="coming-soon">

    <h1>Helping social good organizations engage the right audiences</h1>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <a href="http://www.mayorsagainstillegalguns.org/"><img src="{{ STATIC_URL }}img/MayorsAgainstIllegalGuns.png" width="252" height="147" border=0></a>
    <a href="http://terrymcauliffe.com/"><img src="{{ STATIC_URL }}img/mcauliffe.jpg" width="207" height="158" border=0></a>
    <p>Powered by <a href="http://www.edgeflip.com/" title="" target="_blank">Edgeflip</a> </p>


    <a href="http://twitter.com/#!/edgeflip" title="Visit Edgeflip on Twitter" class="twitter center">edgeflip</a>

    </div>
{% endblock %}
