<!-- DOC snippet returned by faces enpoint

this is the message div and the faces themselves
 -->
<script src="{{ STATIC_URL }}js/manual_add.js"></script>
<script>{% include 'targetshare/faces_and_msg.js' %}</script>


<script>

    if ({{ face_friends | length }} === 0) {
        // Should never, ever get here unless something went very wrong in Flask land
        // Even so, let's be sure to send the user somewhere reasonable rather than 
        // land them on a page with nothing to do...
        alert("Sorry. An error was encountered while communicating with Facebook.");
        outgoingRedirect(edgeflip.faces.errorURL);
    }

    // suggested messages
    var suggested_messages = [];
    suggested_messages.push(['{{ msg_params.msg1_pre }}', '{{ msg_params.msg1_post }}']);
    suggested_messages.push(['{{ msg_params.msg2_pre }}', '{{ msg_params.msg2_post }}']);

</script>


<div id="faces_form_container" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

    <div class="text_title_prompt"><span>{{ msg_params.sharing_prompt }}</span></div>
    <div class="subheader">{{ msg_params.sharing_sub_header|safe }}</div>
    <div class="header_end"></div>

    <div class="clearfix step-row">
        <div class="text_instructions">Step 1. Click on the friends you want to share with, or </div>
        <div id="button_select_all" class="select_all_btn button_active" onClick="selectAll();">select all shown below</div>
    </div>

    {% spaceless %}
    <div id="friends_table" class="clearfix {% if num_face|divisibleby:"3" %}by3{% elif num_face|divisibleby:"5" %}by5{% endif %}">
        {% for face_friend in show_faces %}
                <div class="friend_box_wrapper" id="wrapper-{{ face_friend.fbid }}">
                    <div class="friend_box friend_box_unselected" id="friend-{{ face_friend.fbid }}" onClick="toggleFriend({{ face_friend.fbid }});">
                        <div class="friend_pic">
                            <img src="https://graph.facebook.com/{{ face_friend.fbid }}/picture" border=0 />
                        </div>
                        <div class="friend_txt">
                            <div class="xout" data-id="{{face_friend.fbid}}">x</div>
                            <span class="friend_name_container">
                                <div class="friend_name"><span>{{ face_friend.fname }}</span></div>
                                <div class="friend_name"><span>{{ face_friend.lname }}</span></div>
                            </span>
                        </div>
                    </div>
                </div>
            {% if num_face|divisibleby:"3" %}
                {% if forloop.counter|divisibleby:"3" and num_face > forloop.counter %}
                    </tr><tr>
                {% endif %}
            {% elif num_face|divisibleby:"5" %}
                {% if forloop.counter|divisibleby:"5" and num_face > forloop.counter %}
                    </tr><tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endspaceless %}

    <div id="manual_add" class="clearfix">
        <div id="manual_add_text">
            {# Only one input will be displayed by CSS #}
            {% with text="You can add extra friends by typing their names here" %}
            <input id="manual_input" class="manual_input" autocomplete="off" placeholder="{{ text }}"/>
            <input id="manual_input_placeholder" class="manual_input" placeholder="{{ text }}" />
            {% endwith %}
        </div>
        <div id="picked_friends_container"></div>
    </div> <!-- manual_add -->

    <div class="clearfix step-row">
    {% block msg_prompt %}
        <div class="text_instructions">Step 2. Write a message to post on Facebook, or</div>
    {% endblock msg_prompt %}
        <div id="button_sugg_msg" class="suggested_message_btn button_inactive" onClick="useSuggested(suggested_messages);">use a suggested message</div>
    </div>

    <div id="message_container">
        <div id="message_form">
            <div id="message_form_editable" contentEditable="True">
                <span id='message_helper_txt'></span>
            </div>

            <!-- New, better way of doing things. Nixxed in favor of maintaining current look/feel -->
            <!--
            <div id='message_preview' valign='middle'>
                <img src='{{ fb_params.fb_object_image }}'>
                <div id='message_preview_title'>
                    {{ fb_params.fb_object_title }}
                </div>
                <div id='message_preview_desc'>
                    {{ fb_params.fb_object_description }}
                </div>
            </div>
            -->
            <!-- To my future self, I am so sorry. Below maintains current look/feel -->
            <div style="font-size: 0.75em; border-top: dashed thin gray; padding: 5px; font-family: 'nimbus-sans-condensed-n7','nimbus-sans-condensed', Helvetica, sans-serif;">
                <table style='width: 321px; height: 60px; background: white; padding-left: 10px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; float: left' valign='middle'>
                    <tr>
                        <td>
                            <img src='{{ fb_params.fb_object_image }}' style='margin-right: 7px; height: 60px'>
                        </td>
                        <td>
                            <div style='color: #3B5998; font-size: 11px; font-weight: bold; line-height: 11px'>
                                {{ fb_params.fb_object_title }}
                            </div>
                            <div style='font-size: 9px; color: gray; font-weight: normal'>
                                {{ fb_params.fb_object_description }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% block button %}
        <div id="button_share_container">
            <div id="button_do_share" class="show_support_btn button_inactive" onclick="doShare();">{{ msg_params.sharing_button|default:"Show Your Support" }}</div>
        </div>
    {% endblock button %}

</div> <!-- faces_container -->
