{% load dataformat facebook %}
<!-- DOC snippet returned by faces enpoint

this is the message div and the faces themselves
 -->
<script src="{{ STATIC_URL }}js/sharing.js"></script>
<script src="{{ STATIC_URL }}js/manual_add.js"></script>

{# Javascript library configuration via template context #}
<script>
    edgeflip.FB_APP_ID = '{{ fb_params.fb_app_id }}';
    edgeflip.FB_APP_NAME = '{{ fb_params.fb_app_name }}';
    edgeflip.FB_ACTION_TYPE = '{{ fb_params.fb_action_type }}';
    edgeflip.FB_OBJ_TYPE = '{{ fb_params.fb_object_type }}';
    edgeflip.FB_OBJ_URL = '{{ fb_params.fb_object_url | safe }}';

    edgeflip.sharing.configure({
        // All friend data
        allFriends: {
            {% for friend in all_friends %}
                {{ friend.uid | safejson }}: {
                    name: {{ friend.name | safejson }},
                    fname: {{ friend.fname | safejson }},
                    lname: {{ friend.lname | safejson }},
                    pic: {% if friend.picture %}{{ friend.picture | safejson }}{% else %}undefined{% endif %}
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        },

        // On-deck circle of friends who will get slotted in;
        // (we'll shift them off as we go)
        faceFriends: [
            {% for friend in face_friends %}
                {{ friend.uid | safejson }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ].slice({{ num_face }}),

        suggestedMessages: [
            ['{{ msg_params.msg1_pre }}', '{{ msg_params.msg1_post }}'],
            ['{{ msg_params.msg2_pre }}', '{{ msg_params.msg2_post }}']
        ]
    });

    if (edgeflip.sharing.faceFriends.length === 0) {
        // Shouldn't get here unless something went very wrong in backend;
        // nonetheless, let's be sure to send the user somewhere reasonable
        // rather than a page with nothing to do
        alert("Sorry. An error was encountered while communicating with Facebook.");
        outgoingRedirect(edgeflip.faces.errorURL);
    } else {
        setDropdown($.map(edgeflip.sharing.allFriends, function (friend, uid) {
            return {
                label: friend.name,
                value: {uid: uid, pic: friend.pic}
            };
        }));
    }
</script>

<div id="faces_form_container">

    <h1 class="text_title_prompt">{{ msg_params.sharing_prompt }}</h1>
    <div class="subheader">{{ msg_params.sharing_sub_header|safe }}</div>
    <div class="header-end"></div>

    {% block faces_prompt %}
        <div class="text_instructions">Step 1. Click on the friends you want to share with:</div>
    {% endblock faces_prompt %}

    <div id="button_select_all" class="button_small button_active">Select All</div><div class="clearfix"></div>
    
    {% spaceless %}
    <ol id="friends_table" class='clearfix {% if num_face|divisibleby:"3" %}by3{% elif num_face|divisibleby:"5" %}by5{% endif %}'>
        {% for face_friend in show_faces %}
            <li class="friend_wrapper" style="position: relative" id="wrapper-{{ face_friend.uid }}" data-uid="{{ face_friend.uid }}">
                    <div class="xout">x</div>
                    <div id="friend-{{ face_friend.uid }}" class="friend_box friend_box_unselected">
                        <div class="checkmark">&nbsp;</div>
                        <div class="friend_pic">
                            <img src="{{ face_friend | profilepic }}" border=0 />
                        </div>
                        <div class="friend_txt">
                            <div class="friend_name dojoxEllipsis">{{ face_friend.fname }}</div>
                            <div class="friend_name dojoxEllipsis">{{ face_friend.lname }}</div>
                        </div>
                    </div>
                </li>
        {% endfor %}
    </ol>
    {% endspaceless %}

    <div id="manual_add">
        <div id="manual_add_text">
            {# Only one input will be displayed by CSS #}
            {% with text="Add extra friends by typing their names here..." %}
            <label for="manual_input">{{ text }}:&nbsp;</label>
            <input id="manual_input" class="manual_input" />
            <input id="manual_input_placeholder" class="manual_input" placeholder="{{ text }}" />
            {% endwith %}
        </div>
        <div id="picked_friends_container" class="{% if num_face|divisibleby:"3" %}by3{% elif num_face|divisibleby:"5" %}by5{% endif %}"></div>
    </div> <!-- manual_add -->

    {% block msg_prompt %}
        <div class="text_instructions" style="margin-bottom: 10px;">Step 2. Write a message to post on Facebook:</div>
    {% endblock msg_prompt %}

    <div id="button_sugg_msg" class="button_small button_inactive">Suggest a Message</div><div class="clearfix"></div>

    <div id="message_container">
        <div id="message_form">
            <div id="message_form_editable" contentEditable="True">
                <span id='message_helper_txt' style='color: gray;'></span>
            </div>
            <div class="fb-obj-container" style="font-size: 0.75em; border-top: dashed thin gray; padding: 5px; font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;">
                <table style='width: 321px; height: 60px; background: white; padding-left: 10px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; float: left' valign='middle'>
                    <tr>
                        <td>
                            <img src='{{ fb_params.fb_object_image }}' style='margin-right: 7px; height: 60px'>
                        </td>
                        <td>
                            <div style='color: #3B5998; font-size: 11px; font-weight: bold; line-height: 1.28; margin-bottom: 3px;'>
                                {{ fb_params.fb_object_title }}
                            </div>
                            <div style='font-size: 12px; color: gray; line-height: 1.28;'>
                                {{ fb_params.fb_object_description }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    {% block button %}
        <div id="button_share_container">
            <div id="button_do_share" class="button_big button_inactive">{{ msg_params.sharing_button|default:"Show Your Support" }}</div>
        </div>
    {% endblock button %}

</div> <!-- faces_container -->
