{% extends 'targetshare/base.html' %}
{% block title %}Sharing for Social Good{% endblock %}

{% block style_includes %}
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" />
    <!-- edgeflip stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ client_css }}" />
    {% if client_css_simple %}
        <link rel="stylesheet" type="text/css" href="{{ client_css_simple }}" />
    {% endif %}
    <!-- edgeflip stylesheets -->
{% endblock %}

{% block style_inline %}
    <!-- Document-specific style -->
    <STYLE>
        /* May eventually want to template these style rules and pass from Flask */
        body {
            background-color: transparent;
            /* May also need ALLOWTRANSPARENCY="true" in the iframe tag... */
        }

    </STYLE>
    <!-- Document-specific style -->
{% endblock %}

{% block js_include %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

    <script> 
        // Force dojo to come in via https and load dojo.require() via https as well.
        dojoConfig = {
            baseUrl: 'https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/',
            modulePaths: {
                "dojo": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo",
                "dijit": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit",
                "dojox": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojox"
            }
        }; 
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
    <script>
        dojo.require("dojox.html.ellipsis");
    </script>

    <!-- edgeflip faces javascript -->
    <script type='text/javascript'>
    {% include "core/includes/heartbeat.js" %}
    {% include "core/includes/facebook.js" %}
    </script>

    <script src="{{ STATIC_URL }}js/load_and_login.js?version={{ settings.RELEASE_VERSION }}"></script>

    <script>
        edgeflip.FB_APP_ID = "{{ fb_params.fb_app_id }}";

        // faces defined in load_and_login.js
        edgeflip.faces.init({
            debug: {{ debug_mode|yesno:"true,false" }},
	    test_mode: {{ test_mode|yesno:"true,false" }},
            test_fbid: {{ test_mode.fbid|default:"null" }},
            test_token: '{{ test_mode.token|default:"" }}',
            thanksURL: '{{ properties.client_thanks_url }}',
            errorURL: '{{ properties.client_error_url }}',
            campaignid: {{ campaign.pk }},
            contentid: {{ content.pk }}
        });

        {% block js_configure %}
        {% endblock %}

        $(function () {edgeflip.faces.user.connect()});
    </script>
    <!-- edgeflip javascript -->
{% endblock %}

{% block body %}
    <div style="display: table; position: relative; margin: 0px auto;">

        {% block progress_box %}
            <div id="progress" class="h2_container loading"> 
                <div id="progress-text"><span></span></div>
                <div id="spinner"></div>
            </div>
        {% endblock %}

    </div>

    <div id="friends_div" {% if canvas %}class="canvas_friends_div" {% endif %} style="display:none; width: 100%;">
        
        <div id="your-friends-here">{% block friends_data %}{% endblock %}</div> <!-- your-friends-here -->

    </div> <!-- friends_div -->


    <div id="fb-root"></div>
    {% if canvas %}
        {% include 'targetshare/privacy_policy.html' %}
    {% endif %}
{% endblock %}
