{% extends 'targetshare/base.html' %}
{% block title %}Sharing for Social Good{% endblock %}

{% block style_includes %}
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" />
    <!-- edgeflip stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ client_css }}" />
    {% if client_css_simple %}
        <link rel="stylesheet" type="text/css" href="{{ client_css_simple }}" />
    {% endif %}
    <!-- edgeflip stylesheets -->
{% endblock %}

{% block style_inline %}
    <!-- Document-specific style -->
    <STYLE>
        /* May eventually want to template these style rules and pass from Flask */
        body {
            background-color: transparent;
            /* May also need ALLOWTRANSPARENCY="true" in the iframe tag... */
        }

    </STYLE>
    <!-- Document-specific style -->
{% endblock %}

{% block js_include %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>

    <script> 
        // Force dojo to come in via https and load dojo.require() via https as well.
        dojoConfig = {
            baseUrl: 'https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/',
            modulePaths: {
                "dojo": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo",
                "dijit": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit",
                "dojox": "https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojox"
            }
        }; 
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
    <script>
        dojo.require("dojox.html.ellipsis");
    </script>

    <!-- edgeflip javascript -->
    <script src="{{ STATIC_URL }}js/load_and_login.js?version={{ settings.RELEASE_VERSION }}"></script>
{% endblock %}

{% block js_inline %}
    <script>
        var tok = '';
        var appid = "{{ fb_params.fb_app_id }}";
        var campaignid = {{ campaign.pk }};
        var contentid = {{ content.pk }};
        var debug_mode = {% if debug_mode %}true{% else %}false{% endif %};
        var num_face = 9;

        {% if test_mode %}
            var test_mode = true;
            var test_fbid = {{ test_fbid }};
            var test_token = '{{ test_token }}';
        {% else %}
            var test_mode = false;
        {% endif %}

        var thanksURL = '{{ properties.client_thanks_url }}';
        var errorURL = '{{ properties.client_error_url }}';
    </script>
    <!-- edgeflip javascript -->
{% endblock %}

{% block body %}
    <div style="display: table; position: relative; margin: 0px auto;">

        {% block progress_box %}
            <div id="progress" class="h2_container"> 
                <div id="progress-text" style="margin-bottom: 10px">L o a d i n g . . .</div>
                <div id="spinner" class='spinner-loading'></div>
            </div>
        {% endblock %}

    </div>

    <div id="friends_div" {% if canvas %}class="canvas_friends_div" {% endif %} style="display:none; width: 100%;">
        
        <div id="your-friends-here">{% block friends_data %}{% endblock %}</div> <!-- your-friends-here -->

    </div> <!-- friends_div -->


    <div id="fb-root"></div>
    <script type="text/javascript">
        // Start the debugger heartbeat before FB interation comes into play
        if (debug_mode){
            heartbeat();
        }
        
        /* standard facebook workflow */

        window.fbAsyncInit = function() {


            FB.init({ appId: '{{ fb_params.fb_app_id }}', //change the appId to your appId
                status: true, 
                cookie: true,
                xfbml: true,
                oauth: true});

            FB.Event.subscribe('auth.statusChange', function(response) {
                if (response.status === 'connected') {
                    var uid = response.authResponse.userID;
                    var tok = response.authResponse.accessToken;
                    $.ajax({
                        type: "POST",
                        url: "{% url 'record-event' %}",
                        data: {
                            userid: uid,
                            appid: appid,
                            friends: [],
                            eventType: 'authorized',
                            campaignid: {{ campaign.pk }},
                            contentid: {{ content.pk }},
                            content: '',
                            token: tok
                       }
                   });
                   {% block run_sharing %}
                       login(uid, tok, response, null);
                   {% endblock %}
                } else {
                    // User isn't logged in or hasn't authed, so try doing the login directly
                    // (note: if we wanted to detect logged in to FB but not authed, could use status==='not_authorized')
                    doFBLogin();
                }
            });

        }; // fbAsyncInit

        (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol 
                + '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
        }());
            
    </script>
    {% if canvas %}
        {% include 'targetshare/privacy_policy.html' %}
    {% endif %}
{% endblock %}
