
<!-- DOC: jinja macro for a face widget -->
<div style="position: relative" id="wrapper-{{fbid}}">
    <div class="xout" onClick="doReplace({{fbid}});">
        x
    </div>
    <div class="friend_box unselected_friend" id="friend-{{fbid}}" onClick="faceClick({{fbid}});">
        <div class="checkmark">
            <img src="{{ STATIC_URL }}img/checkmark-sm.png">
        </div>
        <div class="friend_pic">
            <img src="https://graph.facebook.com/{{fbid}}/picture" border=0 />
        </div>
        <div class="friend_txt">
            <div class="friend_name dojoxEllipsis">
                {{firstname}}
            </div>
            <div class="friend_name dojoxEllipsis">
                {{lastname}}
            </div>
            <div class="friend_checkbox">
                <input type="checkbox" id="box-{{fbid}}">
            </div>
        </div>
    </div>
</div>
