<!-- DOC: jinja macro for a face widget -->
{% spaceless %}
<div class="friend_box_wrapper" id="wrapper-{{fbid}}">
    <div class="friend_box friend_box_unselected" id="friend-{{fbid}}" onClick="toggleFriend({{fbid}});">
        <div class="friend_pic">
            <img src="https://graph.facebook.com/{{fbid}}/picture" border=0 />
        </div>
        <div class="friend_txt">
            <div class="xout" data-id="{{fbid}}">x</div>
            <span class="friend_name_container">
                <div class="friend_name"><span>{{firstname}}</span></div>
                <div class="friend_name"><span>{{lastname}}</span></div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
