<div>
    <div style='font-size: 0.75em; margin: 50px auto 0px; width: 300px; color: #666666'>
        &copy; 2013 Edgeflip, LLC&nbsp;&nbsp;|&nbsp;&nbsp;
        <a style='text-decoration: none' href="http://www.edgeflip.com/">about</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a style='text-decoration: none' href="http://www.edgeflip.com/tou.html">terms of use</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a style='text-decoration: none' href="http://www.edgeflip.com/privacy.html">privacy</a>
    </div>
</div>
