{% extends 'targetshare/button.html' %}
{% block style_includes %}
    <!-- MAIG FONTS!!! -->
    <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/s3.mayorsagainstillegalguns.org/css/fonts.css" />
    <!-- MAIG FONTS!!! -->

    <!-- edgeflip stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/clients/demandaction/button.css" />
    <!-- edgeflip stylesheets -->
{% endblock %}
{% block button %}
    <div id="share_button" class="button button_inactive" style="width: 250px;" onclick="doFBLogin();">Support us on Facebook</div>
{% endblock button %}
