edgeflip/target_config.json
*.pyc
*.sqlite
/edgeflip/logs/*
edgeflip/edgeflip.config
edgeflip/web/templates/clients/local
edgeflip/web/templates/clients/local/*
*.wpr
*.wpu
*.pickle
*.swp
.coverage
/htmlcov/*
/doc/_build/*
/doc/snakefood.svg

*~
*.sublime-project
*.sublime-workspace
.ropeproject

edgeflip.egg-info
/cover

edgeflip/static
