*.pyc
*.sqlite
*.wpr
*.wpu
*.pickle
*.swp

/doc/_build/*
/doc/snakefood.svg

*~
*.sublime-project
*.sublime-workspace
.ropeproject

/edgeflip/logs/*
/edgeflip/static

/fake_dynamo.fdb
/.fake_dynamo.pid

/cover
/htmlcov
.coverage

/statsd
