*.pyc
*.sqlite
*.wpr
*.wpu
*.pickle
*.swp

/.dynamodb

/doc/_build/*
/doc/snakefood.svg

*~
*.sublime-project
*.sublime-workspace
.ropeproject
*.idea

/edgeflip/logs/*
/edgeflip/static

/cover
/htmlcov
.coverage

ssl
/statsd
