{% extends "gimmick/base.html" %}

{% block subtitle %}Your Ranking{% endblock %}

{% block js-includes %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- Edgeflip JavaScript includes -->
<script type='text/javascript'>
    {% include "core/includes/edgeflip.js" %}
</script>
<!-- End Edgeflip JavaScript includes -->
<!-- Edgeflip JavaScript resources -->
<script src="{{ STATIC_URL }}js/router-devices.js"></script>
<script src="{{ STATIC_URL }}js/engage.js"></script>
<!-- End Edgeflip JavaScript resources -->
{% endblock %}

{% block body %}
<!-- Facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ fb_app.appid }}',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- End Facebook SDK -->

<div class="container-main switch on">
    {% include "gimmick/includes/panel-interstitial.html" %}
</div>

<div class="container-main container-fluid switch">
    <div class="header row">
        <div class=container-lg>
            <div class=row>
                <div class="col-1">
                    <img src="{{ STATIC_URL }}img/bug-white-bars.svg" class="logo-bug" alt="SociallyEngaged">
                </div>
                <div class="col-11">
                    <h1 class=title>Your Environmental Rank</h1>
                    <h5 class=subtitle>Based on your likes, posts, and interactions on Facebook.</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class=container-lg>
            <div class=row>
                <div class="col-4">
                    <div class=panel>
                        <div class="panel-heading">
                            <h3 class=panel-title><span data-icon="&#xe077;"></span> Your Rank</h3>
                        </div>
                        <div class="panel-body">
                            <dl class="callout">
                                <dt class=friend-rank>
                                    <span class="switch on">#<span id=friend-rank></span></span>
                                    <span class=switch>?</span>
                                </dt>
                                <dd class=friend-rank>Among your friends</dd>

                                <dt class=city-rank>
                                    <span class="switch on">#</span><span class=switch>?</span><span id="city-rank"></span>
                                </dt>
                                <dd class=city-rank>
                                    <span class="switch on">
                                        In <span id="user-city"></span>, <span id="user-state"></span>
                                    </span>
                                    <span class=switch>
                                        You haven't shared your location
                                    </span>
                                </dd>

                                <dt class=age-rank>
                                    <span class="switch on">#</span><span class=switch>?</span><span id="age-rank"></span>
                                </dt>
                                <dd class=age-rank>
                                    <span class="switch on">
                                        Among <span id="user-age"></span> year-olds
                                    </span>
                                    <span class=switch>
                                        You haven't shared your birthday
                                    </span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class=panel>
                        <div class=panel-heading>
                            <h3 class=panel-title><span data-icon="&#xe001;"></span> Your Top Friends</h3>
                        </div>
                        <div class="panel-body top-friends">
                            <span class="switch on">
                                <ol id=friend-list class=simple-list></ol>
                            </span>
                            <span class=switch>
                                <p>You're the first of your friends to be ranked!</p>
                                <p>Invite your friends to get their ranking so you can see where you stack up.</p>
                                <p class=text-center>
                                    {% include "gimmick/includes/fb_button.html" with btn_text="Invite friends!" btn_class="share-rank" %}
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class=panel>
                        <div class=panel-heading>
                            <h3 class=panel-title><span data-icon="&#xe028;"></span> Your Greenest Posts</h3>
                        </div>
                        <div class=panel-body id=post-list-container>
                            <table id=post-list><tr><th colspan=2>Post</th><th class=post-score>Green Score</th></tr></table>
                        </div>

                        <div class=panel-heading>
                            <h3 class=panel-title><span data-icon="&#xe028;"></span> Your Greenest Likes</h3>
                        </div>
                        <div class=panel-body id=like-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer row">
        <div class=container-lg>
            <div class=row>
                <div class="col-4">
                    <h3>Share your score to see where your friends rank!</h3>
                    <p class="text-center">
                        {% include "gimmick/includes/fb_button.html" with btn_text="Share your score!" btn_class="share-rank" %}
                    </p>
                    <h3 class="brand text-center">
                        <img src="{{ STATIC_URL }}/img/bug-white-bars.svg" class="logo-bug" alt="SociallyEngaged">
                        SociallyEngaged
                    </h3>
                </div>

                <div class="col-4">
                    <h3>Boost your ranking by following EDF!</h3>
                    <p>
                        <a rel=external href="https://facebook.com/EnvDefenseFund">
                            <img src="https://graph.facebook.com/EnvDefenseFund/picture?height=100" class="boost-logo">
                        </a>
                        <a rel=external href="https://facebook.com/EnvDefenseFund">
                            <span class="boost-name">Environmental Defense Fund</span>
                        </a>
                    </p>
                </div>

                <div class="col-4">
                    <h3 class="short-header">Take action.</h3>
                    <p class="text-center">
                        <a href="http://support.edf.org/site/PageServer?pagename=cut_pollution_from_oil_and_gas_industry" rel=external>
                            <img src="{{ STATIC_URL }}img/Methane80Times_250.jpg" title="Cut Pollution from the Oil & Gas Industry" alt="Cut Pollution from the Oil & Gas Industry">
                        </a>
                    </p>
                </div>
            </div>
            <div class=row">
                <div class=col-12>
                    <p class="terms text-center">
                    {% include "gimmick/includes/terms.html" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body-script %}
<!-- Edgeflip Engage Main JavaScript -->
<script type="text/javascript">
    edgeflip.engage.init({
        taskId: "{{ task_id }}",
        appId: "{{ fb_app.appid }}",
        appName: "{{ fb_app.name }}"
    });

    // Anchors with rel="external" open their href in a new window.
    $('body').on('click', 'a[rel=external]', function (event) {
        event.preventDefault();
        window.open(this.href);
    });
</script>
<!-- End Edgeflip Engage Main JavaScript -->
{% endblock %}
