<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" 
    xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# {{ fb_app.name }}:
    http://ogp.me/ns/apps/{{ fb_app.name }}#">
    <title>SociallyEngaged: Environment</title>
    <meta property="fb:app_id" content="{{ fb_app.appid }}">
    <meta property="og:type" content="{{ fb_app.name }}:{{ fb_obj_type }}"> 
    <meta property="og:title" content="My Environmental Rank: #{{ rank }}"> 
    <meta property="og:description" content="I'm proud to support the environment on Facebook. See how you stack up!"> 
    <meta property="og:image" content="{{ fb_img_url | safe }}">
    <meta property="og:url" content="{{ fb_object_url | safe }}">

    <link href="{{ STATIC_URL }}css/engage.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/simple-line-icons.css" rel="stylesheet">

    <script>
        window.location = '{{ redirect_url }}';
    </script>
    </head>
    <body>
<div class="container-md container-panel-main">
    <div class=row>
        <div class="col-2 text-center">
            <img src="{{ STATIC_URL }}/img/bug-white-bars.svg" class="logo-bug" alt="SociallyEngaged">
        </div>
        <div class="col-10">
            <h1 class=title>SociallyEngaged</h1>
            <h5 class="subtitle caps">The Environmentalism Ranking Engine</h5>
            <p>You should be redirected to your content shortly. <a href="{{ redirect_url }}">Click here</a> if you're not redirected immediately.</p>
        </div>
    </div>
</div>
