<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Edgeflip JavaScript includes -->
        <script type='text/javascript'>
            {% include "core/includes/edgeflip.js" %}
            {% include "core/includes/util.js" %}
        </script>
        <!-- End Edgeflip JavaScript includes -->
    </head>
    <body>
        <a href="{{ initial_url }}" role="button">Rank Me on Facebook</a>

        <!-- Edgeflip Engage LP JavaScript -->
        <script type='text/javascript'>
            edgeflip.util.wrapEmbeddedLinks();
        </script>
        <!-- End Edgeflip Engage LP JavaScript -->
    </body>
</html>
