<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <!-- Edgeflip JavaScript includes -->
        <script type='text/javascript'>
            {% include "core/includes/edgeflip.js" %}
            {% include "core/includes/csrf.js" %}
            {% include "core/includes/events.js" %}
            {% include "core/includes/heartbeat.js" %}
            {% include "core/includes/facebook.js" %}
            edgeflip.FB_APP_ID = {{ fb_app_id }};
        </script>
        <!-- End Edgeflip JavaScript includes -->
        <!-- Edgeflip JavaScript resources -->
        <script src="{{STATIC_URL}}js/router.js"></script>
        <script src="{{ STATIC_URL }}js/map.js"></script>
        <!-- End Edgeflip JavaScript resources -->
        <!-- Edgeflip Map JavaScript -->
        <script>
            edgeflip.map.init({
                debug: {{ debug|yesno:"true,false" }},
                test: {% if test_mode %}{
                    fbid: {{ test_mode.fbid }},
                    token: '{{ test_mode.token }}'
                }{% else %}null{% endif %}
            });
        </script>
        <!-- End Edgeflip Map JavaScript -->
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>
            google.load('visualization', '1', {'packages': ['geochart']});
        </script>
    </head>
    <body>
        {% csrf_token %} {# Ensures the token/cookie is available #}
        <script type="text/javascript">edgeflip.csrf.setHeader();</script>

        hello you are <span id="total-score">&hellip;</span> popular
        <div id="map" style="width: 900px; height: 500px;"></div>
    </body>
</html>
