/***************************************************
 Main styling
*/

body {
}

#your-friends-here {
    width: 100%;
}

/* div around the entire form */
#faces_form_container {
    width: 700px;
    vertical-align: top;
    white-space: normal;
}

.text_title_prompt {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.text_instructions {
    text-align: left;
    font-weight: 200;
    padding: 0px;
    float: left;
}

.button_big, .button_small {
    float: right;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.button_big {
    border-radius: 7px;
    -moz-border-radius: 7px;
}
.button_small {
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.button_active {
}
.button_active:hover {
}
.button_inactive {
}
.button_inactive:hover {
}

.dojoxEllipsis,
.dojoxEllipsisShown {
    color: inherit;
}

#progress {
    background-color: white;
    margin: 50px auto;
    border: none;
    white-space: normal;
    text-align: center;
    font-size: 2.0em;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}


/***************************************************
 Styling for friend picker buttons (new_face.html)
*/

#friends_table {
    width: 550px;
    margin: 0px auto;
    clear: both;
}

/* styles the boxes with friend names and pictures */
.friend_box {
    padding: 7px 3px 3px 7px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 160px;
    position: relative;
    cursor: pointer;
}
.friend_box:hover {
}
.friend_box_selected {
}
.friend_box_unselected {
}

/* styles the little x button to cross off friends */
.xout {
    background-color: black;
    color: white;
    width: 12px;
    height: 12px;
    line-height: 11px;
    border: thin solid white;
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: arial,sans-serif;
    cursor: pointer;
    position: absolute;
    top: -4px;
    right: -4px;
    z-index: 10;
}
.xout:hover {
    background-color: #CC0000;
}

/* styles the check mark image that appears on select */
.checkmark {
    background-image: url('/static/img/checkmark-sm.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 2px;
    right: 6px;
    z-index: 10;
}

/* fb portrait of friends */
.friend_pic {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.friend_box img {
    width: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

/* wrapper div around first, last names */
.friend_txt {
    /* Have to specify width here to make ellipsis work */
    width: 110px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}
.friend_name {
    /* Have to specify width 100% here to make ellipsis work */
    color: inherit;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

/***************************************************
 Manual add box
*/

#manual_add, .ui-autocomplete, .ui-menu, .ui-menu-item {
    font-size: 11px;
}

#manual_add {
    width: 500px;
    padding-top: 5px;
    text-align: left;
    margin: 0px auto 30px auto;
    display: table;
    position: relative;
}

#manual_input {
    width: 180px;
    vertical-align: middle;
}

#picked_friends_container {
    vertical-align: bottom;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
* html .ui-autocomplete { /* IE 6 doesn't support max-height        */
    height: 100px;        /* we use height instead, but this        */
}                         /* forces the menu to always be this tall */

.added_friend {
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    white-space: nowrap;
}

.added_x {
    border-left: thin solid #f0f0f8;
    margin-left: 3px;
    padding-left: 2px;
    padding-right: 1px;
    display:inline-block;
    cursor: pointer;
    font-weight: bold;
}
.added_x:hover {
    color: #00A3DD;
}



/***************************************************
 Styling for message input box
*/

#message_form {
    clear: both;
    overflow-x: auto;
    overflow-y: visible;
    border-radius: 5px;
    width: 550px;
    margin: 0px auto;
}

#message_form_editable {
    display: block;
    padding: 5px;
    min-height: 90px;
    line-height: 25px;
    border-bottom: dashed thin gray;
    outline: 0;
}

#message_helper_txt:empty:before {
}

#message_preview {
    width: 321px;
    height: 60px;
    padding: 10px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    float: left;
}
#message_preview img {
    float: left;
    margin-right: 7px;
    height: 60px;
}
#message_preview_title {
    color: #3B5998;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    padding-top: 5px;
}
#message_preview_desc {
    font-size: 9px;
    color: gray;
    font-weight: normal;
}

.message_friend_name {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    vertical-align: middle;
    white-space: nowrap;

}

.message_x {
    font-weight: 900;
    color: #89A8BD;
    margin-left: 3px;
    cursor: pointer;
}

.message_x:hover {
    color: #0270A0;
}

/***************************************************
 Share button
*/

#button_share_container {
    margin-top: 20px;
    overflow: auto;
}




