body {
        font-family: 'Gotham SSm 4r','Gotham SSm A','Gotham SSm B',"Helvetica Neue",Helvetica,Segoe,"Segoe UI","Segoe WP",Calibri,Arial,clean,sans-serif, "Gill Sans", "Trebuchet MS", Helvetica, sans-serif;
    background-image: url('../img/facesBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.h2_container {
       border: none;
       white-space: normal; 
       text-align: center;
       padding: 10px;
       background-color: #f7f7f7;
       border-radius: 5px;
       -moz-border-radius: 5px;
       box-shadow: 0px 0px 5px black;
}

#your-friends-here {
    width: 100%;
}

/* div around the entire form */
#faces_form_container {
    width: 700px;
    vertical-align: top;
    white-space: normal;
    background-color: #f8f9f9;
    border: none;
    border-radius: 2px;
    padding: 25px;
    margin: 20px auto;
}

.canvas_friends_div {
    margin-top: 30px;
}

#progress {
    background-color: white;
    margin: 50px auto;
    border: none;
    white-space: normal;
    text-align: center;
    font-size: 2.0em;
}

.text_title_prompt {
    padding: 10px;
    font-size: 36px;
    text-align: center;
}

.clearfix {
    display: block;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.step-row {
    line-height: 30px;
    font-size: 16px;
    color: #dd4b39;
}

.text_instructions {
    text-align: left;
    font-weight: 200;
    padding-left: 6px;
    float: left;
}

.suggested-message-btn,
.select-all-btn {
    float: left;
    font-weight: bold;
    margin-left: 0.25em;
}

.select-all-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.show-support-btn {
    width: 250px;
    height: 30px;
    padding: 4px;
    font-size: 20px;
    font-weight:200;
    letter-spacing: 1.5px;
    line-height: 30px;
    border-radius: 7px;
    float: right;
    display: inline-block;
    background-color: #dd4b39;
    text-align: center;
    margin-right: 6px;
    color: white;
}

.dojoxEllipsis,
.dojoxEllipsisShown {
    color: inherit;
}

#reconnect_button {
    width: 250px; 
    margin: 0px auto;
    background-color: #0f2446;
    float: none;
}

#reconnect_button:hover {
    background-color: #094163;
}

#reconnect_text {
    font-size: 18px;
    font-family: arial,sans-serif;
    margin: 0px auto;
    display: table;
    padding-bottom: 5px;
}

/***************************************************
 Styling for friend picker buttons (new_face.html)
*/

#friends_table {
    margin: 0px;
    clear: both;
    width: 100%;
}

#friends_table td {
    width: 33%;
}

/* styles the boxes with friend names and pictures */


/* styles the little x button to cross off friends */
.xout {
    background-color: black;
    color: white;
    width: 12px;
    height: 12px;
    line-height: 11px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-family: arial,sans-serif;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -1px;
    z-index: 10;
}
.xout:hover {
    background-color: #CC0000;
}

/* fb portrait of friends */
.friend_pic {
    display: inline-block;
}
.friend_box img {
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 2px;
}

/* wrapper div around first, last names */
.friend_txt {
    /* Have to specify width here to make ellipsis work */
    width: 165px;
    text-align: left;
    display: inline-block;
}
.friend_name {
    /* Have to specify width 100% here to make ellipsis work */
    color: inherit;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    line-height: 25px;
}

/***************************************************
 Manual add box
*/

#manual_add, .ui-autocomplete, .ui-menu, .ui-menu-item {
    font-size: 11px;
}

#manual_add {
    width: 500px;
    padding-top: 5px;
    text-align: left;
    margin: 0px auto 30px auto;
    display: table;
    position: relative;
}

#manual_input, #manual_input_placeholder {
    width: 180px;
    vertical-align: middle;
}

#manual_input_placeholder {
	display: none;
}

#picked_friends_container {
    vertical-align: bottom;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
* html .ui-autocomplete { /* IE 6 doesn't support max-height        */
    height: 100px;        /* we use height instead, but this        */
}                         /* forces the menu to always be this tall */

.added_friend {
    font-size: smaller;
    color: #f0f0f8;
    border: thin solid gray;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    background-color: #003F77;
    display: inline-block;
    white-space: nowrap;
}

.added_x {
    border-left: thin solid #f0f0f8;
    margin-left: 3px;
    padding-left: 2px;
    padding-right: 1px;
    display:inline-block;
    cursor: pointer;
    font-weight: bold;
}
.added_x:hover {
    color: #00A3DD;
}



/***************************************************
 Styling for message input box
*/

#message_form {
    clear: both;
    overflow-x: auto;
    overflow-y: visible;
    margin: 0px auto;
    background-color: #fff;
    padding: 18px;
    box-shadow: 0 0 8px rgba(0,0,0,0.14);
    border: 1px solid black;
    margin: 0px 6px 0px 6px;
    border-radius: 2px;
}


#message_form_editable {
    display: block;
    padding: 5px;
    min-height: 90px;
    line-height: 25px;
    border-bottom: dashed thin gray;
    outline: 0;
}

#message_preview {
    width: 321px;
    height: 60px;
    padding: 10px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    float: left;
}
#message_preview img {
    float: left;
    margin-right: 7px;
    height: 60px;
}
#message_preview_title {
    color: #3B5998;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    padding-top: 5px;
}
#message_preview_desc {
    font-size: 9px;
    color: gray;
    font-weight: normal;
}

.message_friend_name {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    color: black;
    border: thin solid #89A8BD;
    padding: 1px 2px 1px 2px;
    background-color: #E6F2FF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    vertical-align: middle;
    white-space: nowrap;
}

.message_x {
    font-weight: 900;
    color: #89A8BD;
    margin-left: 3px;
    cursor: pointer;
}

.message_x:hover {
    color: #0270A0;
}




/***************************************************
 Share button
*/

#button_share_container {
    margin-top: 20px;
    overflow: auto;
}

/* Privacy Policy */
#priv-policy {
    font-size: 0.75em;
    margin: 50px auto 0px;
    width: 300px;
    color: #666666;
    text-decoration: none;
}

.button_active:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button_inactive {
    color: rgba( 0, 0, 0, 0.5 );
}

.button_inactive:hover {
    cursor: default;
    text-decoration: none;
}

.show-support-btn.button_inactive {
    color: rgba( 255, 255, 255, 0.5 );
}

/***************************************************
 Styling for friend picker buttons (new_face.html)
*/

/* styles the boxes with friend names and pictures */
.friend_box {
    border: thin solid gray;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    background-color: white;
}

.friend_box:hover {
    color: #999;
    box-shadow: 0 0 8px rgba(0,0,0,0.3)
}

.friend_box_selected {
    background-color: #07304E;
    color: white;
}

.friend_box_unselected {
    color: black;
}

#progress-text {
    margin-bottom: 10px;
}

.loading #progress-text :after {
    content: "L o a d i n g . . .";
}

.sending #progress-text :after {
    content: "S e n d i n g . . .";
}

.loading #spinner {
    background-image: url('../i/hampton-edgeflip-loading-whitebg.gif');
    background-repeat: no-repeat;
    width: 100%;
    height: 48px;
    background-position: center center;
}

.sending #spinner {
    background-image: url('../i/hampton-edgeflip-loading-whitebg.gif');
    background-repeat: no-repeat;
    width: 100%;
    height: 48px;
    background-position: center center;
}

/* Optional for sub header styling */
.subheader {
    text-align: center;
}

/* If the subheader is used, the header-end div can be used to make a simple,
 * nice border between the subheader and faces */
.header-end {
    padding-bottom: 15px;
    margin: 0px 6px 30px 6px;
    border-bottom: thin solid black;
}
