
#bounds {
    margin: 0 auto;
    width: 800px;
    }

/*
#charts {
    border:1px solid red;
    }
*/

#datepicker {
    float:left;
    margin: 10px 0 0 40px;
    }

#daily { 
    float:right; 
    border: 1px solid red;
    height: 200px;
    width: 600px;
    }

#daily svg { border: 1 px solid; }

#monthly {clear:both;}


/* something, somewhere, is overriding font-sizes */
.ui-widget {
    font-size: 10px;
    }
