/*** base styling ***/

@font-face {
    font-family: 'Franklin Gothic Book';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Book'), url('../f/FRABK.woff') format('woff');
}

@font-face {
    font-family: 'LatoLatin';
    src: url('../f/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('../f/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../f/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('../f/LatoLatin-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@-ms-viewport {
  width: device-width;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "franklin-gothic-ext-comp-urw","Franklin Gothic Book","Helvetica Neue",Helvetica,Calibri,Arial,"Gill Sans","Trebuchet MS",sans-serif;
    font-size: 110%;
    color: #56555a;
}

/* No more checkmark */
.checkmark {
    display: none !important;
}

/* helper */
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/*** base styling ***/


/*** Loading Dialog ***/
#progress {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    border: none;
    white-space: normal;
    text-align: center;
    font-size: 2.0em;
}

.h2_container {
    text-align: center;
}

.one-moment {
    text-transform: uppercase;
    color: #4f6ca0;
    display: block !important;
    font-weight: bold;
    font-size: 28px;
}

#progress-text {
    margin: 20px auto 0px auto;
    width: 400px;
    padding: 4px;
    background: #bfbfbf;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    height: 24px;
}

#progress-text span {
    display: block;
    position: relative;
    width: 0px;
    height: 16px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    background: #6984b5; /* Old browsers */
    background: -moz-linear-gradient(top,  #6984b5 0%, #6984b5 50%, #5472aa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6984b5), color-stop(50%,#6984b5), color-stop(51%,#5472aa), color-stop(100%,#5472aa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6984b5 0%, #6984b5 50%, #5472aa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6984b5 0%,#6984b5 50%, #5472aa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6984b5 0%,#6984b5 50%, #5472aa 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6984b5 0%,#6984b5 50%, #5472aa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6984b5', endColorstr='#5472aa',GradientType=0 ); /* IE6-9 */
}

#progress-text span:before, #progress-text span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#progress-text span:before {
    bottom: 0;
    background: url("../i/stripes.png") 0 0 repeat;
    border-radius: 4px 4px 0 0;
}

#progress-text span:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

#spinner:before {
    font-size: 14px;
    font-family: "Franklin Gothic Book";
}

.loading #spinner:before {
    content: 'Finding friends for you to share with.';
}

.sending #spinner:before {
    content: 'Sending your message.';
}
/*** Loading Dialog ***/


/*** Responsive styles ***/
@media(max-width:499px){

    .progress_container {
        width: 75%;
    }
    
    #spinner,
    #progress-text {
        width: 75%;
        line-height: 14px;
    }
    
    #spinner:before {
        font-size: 12px;
    }

    #spinner {
        margin-left: auto;
        margin-right: auto;
    }

    .text_instructions {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    #button_sugg_msg,
    #button_select_all {
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 8px 10px;
    }

    #button_sugg_msg,
    #button_select_all,
    .text_instructions {
        font-size: 16px;
    }

    #button_sugg_msg {
        width: 123px;
    }
    
    #button_select_all {
        width: 72px;
    }

    .friend_txt {
        padding-top: 10px !important;
    }

    .by3 .friend_pic {
        width: 50%;
    }
    
    .by3 .added_friend,
    .by3 .friend_txt {
        font-size: 8px;
    }
    
    .by3 .friend_txt {
        width: 50%;
    }

    .by3 .friend_pic img {
        height: 40px;
        width: 40px;
        margin: 12px auto;
    }

    #friends_table.by5 .friend_wrapper {
        width: 50%;
    }

    .by5 .friend_wrapper:nth-child(2n+2) .friend_box {
        margin: 0px 0px 10px 0px;
    }
    
    .by5 .friend_wrapper:nth-child(2n+2) .xout {
        right: 5px;
    }
    
    .by5 .friend_pic {
        width: 45%;
    }
    
    .by5 .added_friend,
    .by5 .friend_txt {
        font-size: 12px;
    }
    
    .by5 .friend_txt {
        width: 55%;
    }

    .by5 .friend_pic img {
        height: 40px;
        width: 40px;
        margin: 12px auto;
    }

    .by5 .friend_txt {
        padding-top: 0px;
    }

    .by5 .friend_box_selected .friend_txt {
        padding-top: 12px;
    }

    #button_do_share {
        float: none !important;
        font-size: 14px;
        padding: 10px 20px;
    }

    .manual_add {
        padding-right: 14px;
    }

    .manual_input {
        font-size: 8px;
    }

    #picked_friends_container {
        margin-top: 5px;
    }
    
    #message_form_editable,
    .message_friend_name {
        font-size: 10px;
    }
}

@media(min-width:500px){

    .text_instructions {
        float: left;
        margin-bottom: 20px !important;
    }

    #button_sugg_msg,
    #button_select_all,
    .text_instructions {
        font-size: 14px;
    }
    
    .text_instructions {
        line-height: 26px;
    }

    #button_sugg_msg,
    #button_select_all {
        margin-left: 0px;
        margin-right: 0px;
        float: right;
    }
    
    #button_select_all {
        padding: 3px 20px;
    }
    
    #button_sugg_msg {
        padding: 3px 20px 6px 20px;
    }
    
    #button_do_share {
        font-size: 14px;
    }
    
    #friends_table.by5 .friend_wrapper {
        width: 50%;
    }

    .by5 .friend_wrapper:nth-child(2n+2) .friend_box {
        margin: 0px 0px 10px 0px;
    }
    
    .by5 .friend_wrapper:nth-child(2n+2) .xout {
        right: 5px;
    }
    
    .by5 .friend_pic {
        width: 45%;
    }
    
    .by5 .added_friend,
    .by5 .friend_txt {
        font-size: 12px;
    }
    
    .by5 .friend_txt {
        width: 55%;
    }

    .by5 .friend_pic img {
        height: 50px;
        width: 50px;
        margin: 7px auto;
    }

    .by5 .friend_txt {
        padding-top: 0px;
    }

    .by5 .friend_box_selected .friend_txt {
        padding-top: 12px;
    }

    .by3 .friend_pic {
        width: 50%;
    }
    
    .by3 .friend_txt {
        width: 50%;
        padding-top: 8px;
    }
    
    .by3 .added_friend,
    .by3 .friend_txt {
        font-size: 10px;
    }
    
    .by3 .friend_pic img {
        height: 40px;
        width: 40px;
        margin: 12px auto;
    }

    .manual_add {
        padding-right: 14px;
    }

    .manual_input {
        font-size: 10px;
    }

    #picked_friends_container {
        margin-top: 5px;
    }
    
    #message_form_editable,
    .message_friend_name {
        font-size: 10px;
    }
}

@media(min-width:600px){
    
    #button_sugg_msg,
    #button_select_all,
    .text_instructions {
        font-size: 18px;
    }
    
    .text_instructions {
        line-height: 31px;
    }
    
    #button_do_share {
        font-size: 18px;
    }
    
    #friends_table.by5 .friend_wrapper {
        width: 20%;
    }

    .by5 .friend_wrapper:nth-child(2n+2) .friend_box {
        margin: 0px 10px 10px 0px;
    }
    
    .by5 .friend_wrapper:nth-child(2n+2) .xout {
        right: 15px;
    }

    .by5 .friend_wrapper:nth-child(5n+5) .friend_box {
        margin: 0px 0px 10px 0px;
    }

    .by5 .friend_wrapper:nth-child(5n+5) .xout {
        right: 5px;
    }

    .by5 .friend_pic {
        width: 45%;
    }
    
    .by5 .added_friend,
    .by5 .friend_txt {
        font-size: 10px;
    }
    
    .by5 .friend_txt {
        width: 55%;
    }
    
    .by5 .friend_pic img {
        height: 30px;
        width: 30px;
        margin: 17px auto;
    }
    
    .by5 .friend_txt {
        padding-top: 10px;
    }

    .by5 .friend_box_selected .friend_txt {
        padding-top: 22px;
    }

    .by3 .friend_pic {
        width: 35%;
    }
    
    .by3 .added_friend,
    .by3 .friend_txt {
        font-size: 12px;
    }
    
    .by3 .friend_txt {
        width: 65%;
    }
    
    .by3 .friend_pic img {
        height: 40px;
        width: 40px;
        margin: 12px auto;
    }

    .manual_add {
        padding-right: 14px;
    }
    
    .manual_input {
        font-size: 10px;
    }

    #picked_friends_container {
        margin-top: 5px;
    }
    
    #message_form_editable,
    .message_friend_name {
        font-size: 12px;
    }
}

@media(min-width:675px) {

    #button_sugg_msg,
    #button_select_all,
    .text_instructions {
        font-size: 20px;
    }
    
    .text_instructions {
        line-height: 33px;
    }

    .by5 .friend_pic img {
        height: 40px;
        width: 40px;
        margin: 12px auto;
    }

    .by5 .friend_txt {
        padding-top: 5px;
    }
    
    .by5 .friend_box_selected .friend_txt {
        padding-top: 17px;
    }

    .manual_input {
        font-size: 10px;
    }

    #message_form_editable,
    .message_friend_name {
        font-size: 14px;
    }
}

@media(min-width:768px) {

    #friends_div {
        width: 750px !important;
    }

    #faces_form_container {
        width: 83.33333333%;
        margin-left: 8.33333333%;
    }

    .manual_input {
        font-size: 10px;
    }

    #button_sugg_msg,
    #button_select_all {
        margin-top: 0px;
    }

    #button_sugg_msg,
    #button_select_all,
    .text_instructions {
        font-size: 24px;
    }

    .text_instructions {
        line-height: 38px;
    }
}

@media(min-width:992px){
    
    #friends_div {
        width: 970px !important;
    }

    #faces_form_container {
        width: 83.33333333%;
        margin-left: 8.33333333%;
    }

    #button_sugg_msg,
    #button_select_all {
        margin-top: 6px;
    }

    #button_sugg_msg,
    #button_select_all,
    .text_instructions {
        font-size: 32px;
    }

    .text_instructions {
        line-height: 48px;
    }
    
    #button_do_share {
        font-size: 22px;
    }
    
    .by5 .friend_pic {
        width: 40%;
    }
    
    .by5 .added_friend,
    .by5 .friend_txt {
        font-size: 12px;
    }
    
    .by5 .friend_txt {
        width: 60%;
    }

    .by3 .friend_pic {
        width: 30%;
    }
    
    .by3 .added_friend,
    .by3 .friend_txt {
        font-size: 14px;
    }
    
    .by3 .friend_txt {
        width: 70%;
    }
    
    .by3 .friend_pic img,
    .by5 .friend_pic img {
        height: 50px;
        width: 50px;
        margin: 7px auto;
    }
    
    .manual_input {
        font-size: 10px;
    }

    #manual_add_text {
        width: 31%;
        float: left;
    }

    #picked_friends_container {
        float: right;
        width: 65%;
        margin-top: 0px;
    }
    
    #message_form_editable,
    .message_friend_name {
        font-size: 16px;
    }
}

@media(min-width:1200px){

    #friends_div {
        width: 1170px !important;
    }

    #faces_form_container { 
        width: 66.66666667%;
        margin-left: 16.66666667%;
    }

    #button_do_share {
        font-size: 24px;
    }

    .by5 .friend_pic {
        width: 40%;
    }

    .by5 .added_friend,
    .by5 .friend_txt {
        font-size: 14px;
    }
    
    .by5 .friend_txt {
        width: 60%;
    }

    .by3 .friend_pic {
        width: 30%;
    }
    
    .by3 .added_friend,
    .by3 .friend_txt {
        font-size: 16px;
    }
    
    .by3 .friend_txt {
        width: 70%;
    }

    .by3 .friend_pic img,
    .by5 .friend_pic img {
        height: 50px;
        width: 50px;
        margin: 7px auto;
    }
}
/*** Responsive styles ***/


/*** Top Level DOM elements ***/
/* Used when on facebook's canvas, contains everything but the loading dialog */
.canvas_friends_div {
    margin-top: 30px;
}

/*** div around the content (everything but the loading dialog) ***/
#friends_div {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#friends_div:before,
#friends_div:after {
  display: table;
  content: " ";
}

#friends_div:after,
#your-friends-here:after {
  clear: both;
}

#your-friends-here {
    margin-right: -15px;
    margin-left: -15px;
}

#your-friends-here:before,
#your-friends-here:after {
    display: table;
    content: " ";
}

/* div around the form */
#faces_form_container {
    float: left;
    width: 83.33333333%;
    margin-left: 8.33333333%;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 10px 40px 30px 64px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    min-height: 1px;
}
/*** Top Level DOM elements ***/


/*** heading ***/
.text_title_prompt {
    padding: 10px;
    text-align: center;
    font-size: 6em;
    margin: 0px;
}

/* Optional for sub header styling */
.subheader {
    font-size: 24px;
    text-align: center;
    margin-bottom: 55px;
}

/* If the subheader is used, the header-end div can be used to make a simple,
 * nice border between the subheader and faces */
.header-end {
    display: none;
}
/*** heading ***/


/*** Instruction Rows ( Step 1, 2 ) ***/

.text_instructions {
    font-weight: bold;
    color: #4f6ca0;
    text-transform: uppercase;
}

#button_sugg_msg,
#button_select_all {
    font-family: Franklin Gothic Book;
    font-size: 16px;
    background-color: #d34730;
    border: 1px solid #d34730;
    color: white;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 2px;
    padding: 8px 20px;
}

#button_do_share:hover,
#button_sugg_msg:hover,
#button_select_all:hover {
    cursor: pointer;
    border: 1px solid #d34730;
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image: linear-gradient(to bottom, #dd4b39, #d14836); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}

.button_inactive {
    background-color: #4f6ca0 !important;
    border: 1px solid #4f6ca0 !important;
    color: white;
}

.button_inactive:hover {
    background-image: none !important;
}

/*** Instruction Rows ( Step 1, 2 ) ***/

/*** Friends Table ***/
#friends_table {
    width: 100%;
}

.friend_wrapper {
    float: left;
}

#friends_table.by3 .friend_wrapper {
    width: 33.33333333%;
}

.friend_box {
    height: 64px;
    cursor: pointer;
    background-color: white;
    margin: 0px 10px 10px 0px;
    border: 1px solid #cccccc;
}

.by3 .friend_wrapper:nth-child(3n+3) .friend_box {
    margin: 0px 0px 10px 0px;
}

.by3 .friend_wrapper:nth-child(3n+3) .xout {
    right: 5px;
}

#manual_add:before,
#manual_add:after,
.friend_box:before,
.friend_box:after {
  display: table;
  content: " ";
}

#manual_add:after,
.friend_box:after {
  clear: both;
}
    
.friend_pic img {
    border-radius: 2px;
    display: block;
}

.friend_box:hover {
    color: #999;
    box-shadow: 0 0 8px rgba(0,0,0,0.3)
}

.friend_box_selected {
    background-color: #d4e0f5;
}

/* styles the little x button to cross off friends */
.xout {
    width: 12px;
    height: 12px;
    line-height: 11px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: arial,sans-serif;
    cursor: pointer;
    position: relative;
    float: right;
    right: 15px;
    top: 5px;
    z-index: 10;
}

.friend_pic {
    float: left;
    height: 100%;
}

.friend_txt {
    font-family: "Franklin Gothic Book";
    height: 52px;
    float: right;
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 5px;
}

.friend_box_selected .friend_txt {
    padding-top: 12px;
}

.friend_name {
    overflow: hidden;
}

/*** Friends Table ***/


/*** Manual add box ***/
.ui-autocomplete, .ui-menu, .ui-menu-item {
    font-size: 11px;
}

.ui-autocomplete {
    border-radius: 0px !important;
    border-top: none !important;
    border-right: 1px solid #cccccc !important;
    border-left: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
}

.ui-menu {
    padding: 0px;
}

.ui-menu-item img {
    vertical-align: middle;
}

a.ui-state-focus {
    border-color: #cccccc !important;
    border-radius: 0px !important;
    background: none !important;
    background-color: #d4e0f5 !important;
}

#manual_add_text label {
    display: none;
}

#manual_add {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 55px;
}

#manual_input_placeholder {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 3px 8px 4px;
    line-height: 20px;
}

#manual_input_placeholder:focus {
    outline: 0;
}

#manual_input {
	display: none;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
* html .ui-autocomplete { /* IE 6 doesn't support max-height        */
    height: 100px;        /* we use height instead, but this        */
}                         /* forces the menu to always be this tall */

.added_friend {
    font-family: "Franklin Gothic Book";
    border: 1px solid #cccccc;
    padding: 0px 10px;
    margin: 0px 5px;
    background-color: #d4e0f5;
    display: inline-block;
    white-space: nowrap;
    line-height: 27px;
    height: 29px;
    vertical-align: top;
    font-size: 12px;
}

.added_x {
    padding-left: 10px;
    padding-right: 5px;
    display:inline-block;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
/*** Manual add box ***/

/*** Message input box ***/

#message_form {
    clear: both;
    overflow-x: auto;
    overflow-y: visible;
    margin: 0px auto;
    background-color: #fff;
    padding: 18px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: 'Franklin Gothic Book';
}
    
#message_form table {
    width: 100% !important;
}

#message_form table img {
    width: 90px;
    height: 90px !important;
    margin-right: 10px;
}

#message_form_editable {
    display: block;
    padding: 5px;
    min-height: 90px;
    line-height: 25px;
    border-bottom: 1px solid #cccccc;
    outline: 0;
}

#message_helper_text {
    color: gray;
}

.message_friend_name {
    display: inline-block;
    color: black;
    padding: 0px 10px;
    margin: 2px 5px;
    border: 1px solid #cccccc;
    background-color: #d4e0f5;
    vertical-align: baseline;
    white-space: nowrap;
    font-family: "Franklin Gothic Book";
    line-height: 29px;
    height: 29px;
    font-size: 12px;
}

.message_x {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 5px;
    display:inline-block;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

#message_helper_txt:empty:before {
    content: 'Write your message here, or click "Suggest a Message".';
}

.fb-obj-container {
    border: none !important;
}

/*** Message input box ***/


/*** Show Support Button ( submission ) ***/
#button_share_container {
    margin-top: 20px;
    overflow: auto;
}

#button_do_share {
    font-family: Franklin Gothic Book;
    font-size: 24px;
    padding: 6px 30px;
    border-radius: 3px;
    float: right;
    background-color: #d34730;
    border: 1px solid #d34730;
    text-align: center;
    color: white;
}

/*** Show Support Button ( submission ) ***/


/*** Reconnect Button ***/
#reconnect_button {
    width: 250px; 
    margin: 0px auto;
    background-color: #dd4b39;
    float: none;
    color: white;
    text-align: center;
    border-radius: 3px;
    letter-spacing: 1.5px;
    line-height: 30px;
    font-weight:200;
    height: 30px;
    padding: 4px;
    font-size: 20px;
}

#reconnect_button:hover {
    text-decoration: underline;
}

#reconnect_text {
    font-size: 18px;
    font-family: arial,sans-serif;
    margin: 0px auto;
    display: table;
    padding-bottom: 5px;
}
/*** Reconnect Button ***/


/* Privacy Policy */
#priv-policy {
    font-size: 0.75em;
    margin: 50px auto 0px;
    width: 300px;
    color: #666666;
    text-decoration: none;
}
