<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
<HEAD>
    <title>{{ page_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</HEAD>
<BODY>
<h2>This is the OFA landing page...</h2>
<p>It lives on the OFA servers and is where our object page actually sends people to. It will probably contain content such as:</p>

<h3>{{ senInfo.state_name }} Residents: Tell Senator {{ senInfo.name }} It's Time for Climate Legislation!</h3>
<p style="margin-left: 50px;"><span style="font-weight:bold;">Senator {{ senInfo.name }}</span><BR>
Email: <a href="mailto:{{ senInfo.email }}">{{ senInfo.email }}</a><BR>
Phone: {{ senInfo.phone }}
</p>
<p style="font-size:10px; margin-top: 15px;">Not in {{ senInfo.state_name }}? <a href="http://demo.edgeflip.com/ofa">Click here to tell your friends.</a></p>
</BODY>
</HTML>
