<html>

<head>

</head>




<body>

    <div style='margin: 0px auto; width: 800px; padding: 20px; background-color: #CFCFCF; font-family: arial, sans; font-weight: bold'>

        <span style='font-size: 2.0em'>edgeflip queue control</span>
        <p>

        <div style='color: red'>
        {{msg}}&nbsp;
        </div>
        <br>
        <br>

        <input type='text' name='queueName' id='txtQueueName' size=22 value='{{queueName}}'>&nbsp has {{queueSize}}&nbsp;entries ({{updateTs}})
        <p>

        <input type='button' value='update' style='width: 100px' onClick='window.location="/queue?queueName="+document.getElementById("txtQueueName").value'>
        <p>

        <br>
        <br>
        <input type='button' value='reset queue' style='width: 100px' onClick='window.location="/queue_reset?queueName="+document.getElementById("txtQueueName").value'>
        <p>

        <input type='button' value='load queue' style='width: 100px' onClick='window.location="/queue_load?queueName="+document.getElementById("txtQueueName").value+"&loadPath="+document.getElementById("txtLoadPath").value'>
        &nbsp;
        <input type='text' name='loadPath' id='txtLoadPath' size=40 value='{{loadName}}'>
        <p>





</body>

</html>