@import (reference) "theme.less";

.style-popover( @text-color, @bg-color, @border-color ) {
    
    .popover {
        color: @text-color;
        background-color: @bg-color;
        border-color: @border-color;
    }

    .popover.right .arrow:after {
        border-right-color: @bg-color;
    }

    .popover.bottom .arrow:after {
        border-bottom-color: @bg-color;
    }

    .popover.left .arrow:after {
        border-left-color: @bg-color;
    }

    .popover.top .arrow:after {
        border-top-color: @bg-color;
    }

    .popover.right .arrow {
        border-right-color: @border-color;
    }

    .popover.bottom .arrow {
        border-bottom-color: @border-color;
    }

    .popover.left .arrow {
        border-left-color: @border-color;
    }

    .popover.top .arrow {
        border-top-color: @border-color;
    }
}

.popover-container {
    position: absolute;
}

.wizard-button-container {
    text-align: center;
    margin: 50px 0px;

    button {
        &:first-child {
            margin-right: 50px;
        }
    }
}

#intro {
    .campaign-name-input-container {
        text-align: center;

        input {
            padding: 10px;
            width: 400px;
            font-size: x-large;
            text-align: center;
            color: black;
            height: 50px;
            line-height: 30px;
        }
    }

    .campaign-name-title {
        text-align: center;
    }

    .carousel {
        padding-left: 0px;
        padding-right: 0px;
    }

    .carousel-caption {
        left: 0px;
        right: 0px;
        width: 100%;
        background-color: rgba( 0, 0, 0, 0.75 );
    }

    .modal-footer {
        text-align: center;
    }
}

#filters {
    #enabled-section h6,
    #available-section h3,
    #enabled-section h3 {
        text-transform: uppercase;
    }

    #available-section button,
    #enabled-section button {
        text-transform: none;
        vertical-align: bottom;
        margin-left: 10px;
    }

    .well {
        margin-left: 0px;
        min-height: 94px;
    }

    .glyphicon-question-sign {
        font-size: large;
        margin-left: 20px;
    }
}

#fb-obj,
#faces {
    .container();

    .style-popover( white, #094163, #0cf );

    .header {
        .make-md-column(12);
        margin-bottom: 40px;
        text-align: center;

        h4 {
            text-transform: uppercase;
            text-align: center;
        }
    }

    .indicator-image {
        height: 100%;
        width: 100%;
    }

    .input-container {
        .make-md-column(5);

        .popover {
            width: 200px;
        }
    }

    .image-container {
        .make-md-column(7);
        padding-left: 0px;
        padding-right: 0px;
        top: 0px;
    }
}
