/* CSS FOR THE MESSAGE TO BE SHARED */

.right_container {
	overflow-x: hidden;
	vertical-align: top;
	padding-left: 15px;
	white-space: normal;
	width: 685px;
	display: table;
	margin: 0px auto;
}

.share_prompt {
	display: block;
	margin-bottom: 20px;
	color: #2a2a2a;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'nimbus-sans-condensed-n7','nimbus-sans-condensed', Helvetica, sans-serif;
}

.msg_friend_name {
	font-family: sans-serif;
	font-weight: 200;
	color: black;
	border: thin solid black;
	padding: 1px 2px 1px 2px;
	/*background-color: #fff147;*/
	background-color: #fff89A;
	border-radius: 4px;
	-moz-border-radius: 4px;
	vertical-align: middle;
	white-space: nowrap;
}

.msg-txt-friend {
	font-size: 12px;
	line-height: 18px;
}

.msg-sugg-friend {
	font-size: 10px;
	line-height: 13px;
}

.msg_x {
	font-weight: 900;
	color: black;
	margin-left: 3px;
	cursor: pointer;
}

.msg_x:hover {
	color: #CC0000;
}

.msg_picker,
.msg_title {
	display: block;
}

.msg_title {
	text-align: left;
	float: left;
    font-weight: normal;
    font-size: 16pt;
    line-height: 1.2;
    font-family: 'nimbus-sans-condensed-n7','nimbus-sans-condensed', Helvetica, sans-serif;
    color: #2a2a2a;
	line-height: 30px;
	vertical-align: middle;
}

.step_icon {
	height: 25px;
	vertical-align: middle;
	margin-top: -4px;
}

.msg_picker {
	border: 2px solid lightgrey;
	border-radius: 10px;
/*	background-color: #E6F2FF; */
	background-color: #F7F7F7;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
}

.msg_block {
	padding-bottom: 15px;
	clear: both;
}

.msg_txt {
	overflow-x: auto;
	overflow-y: visible;
	padding-bottom: 3px;
}

#suggested_msg_title {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
}

.suggested_msg {
	font-size: 14px;
	padding-bottom: 2px;
	margin-bottom: 0px;
}

#other_msg_prompt {
	margin-bottom: 3px;
	display: none;
}

#other_msg {
	display: block;
	border: solid thin gray;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	width: 93%;
	margin-left: 2%;
	min-height: 90px;
}

#do_share_container {
	position: relative;
	height: 75px;
}

#do_share_button {
	display: block;
	position: absolute;
	right: 0px;
	cursor: pointer; 
}
