/* CSS FOR THE FACES */

.faces_container,
#manual_add {
	width: 650px;
}

#manual_add {
	padding-left: 50px;
}



.left_container {
	width: 200px;
	float: left;
    margin: 50px;
}

.faces_container {
	background-color: #f7f7f7;
	border: 2px solid lightgrey;
	border-radius: 10px;
	padding: 15px;
}

.friends_table {
	border: 5px solid #f7f7f7;
	background-color: #f7f7f7;
}

.friend_box {
	padding: 3px;
	border: thin solid gray;
	border-radius: 10px;
	-moz-border-radius: 10px;
	/*background-color: #07304e;*/
    /*background-color: #6C6C6C;*/
    background-color: #0270A0;
	width: 160px;
	position: relative;


    color: #c0dbe7;

    /*height: 55px;*/
}

.highlight, .friend_box:hover {
    border: 1px solid #0270A0;
    background-color: #192c4f;
    color: white;

}


/*ul{*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*width: 100%;*/
/*}*/
/*ul.horizontal_list li {*/
    /*text-align: left;*/
    /*float: left;*/
    /*list-style: none;*/
    /*padding: 0;*/
    /*margin: 0px 2px;*/
    /*border: 1px solid green;*/
/*}*/



.friend_pic {
	/*width: 60px;*/
	text-align: right;
	/*vertical-align: middle;*/
	/*display: inline-block;*/
    /*padding: 0;*/

    /*float: right;*/
}

.friend_txt {
	/*width: 100px;*/
	text-align: left;
	vertical-align: top;
	display: inline-block;
    margin-left: 7px;
}

.friend_name {
	/*color: white;*/
	text-decoration: none;
	/*width: 100%; */
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.friend_checkbox {
	/*width: 100px;*/
	/*text-align: left;*/
}

.dojoxEllipsis,
.dojoxEllipsisShown {
	color: white;
}

.xout {
	/*background-color: #CC0000; */
    background-color: #CCCCCC;
	/*color: white;*/
	color: black;
	width: 12px;
	height: 12px; 
	line-height: 11px;
	border: thin solid #666666;
	border-radius: 6px; 
	font-size: 10px; 
	font-weight: bold; 
	text-align: center; 
	vertical-align: middle; 
	font-family: arial,sans-serif; 
	cursor: pointer;
	position: absolute;
	top: -3px;
	/*left: -3px;*/
	right: -3px;
    z-index: 10;
}

.xout:hover {
	background-color: red;
}



