.draggable {
    border: solid black 0.1em;
    border-radius: 5px;
    background-color: darkgrey;
    padding-left: 2px;
    padding-top: 2px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.draggable:hover,
.draggable p:hover,
.draggable p abbr:hover {
    cursor: move;
}

.draggable p {
    display: table;
    margin 0px !important;
    height: 100%;
    width: 100%;
}

.draggable p abbr {
    display: table-cell;
    vertical-align: middle;
}

.form-error {
    display: none;
}

.empty-fallback {
    margin-bottom: 20px;
}

.empty-fallback label {
    display: inline-block;
}

.empty-fallback input {
    margin: 0px 5px;
}

#age-range:hover {
    cursor: pointer;
}
