/*

edgeflip blue #094063
main red #98050C
*/

.navbar-inverse .navbar-inner {
    background-color: #3982B1 !important;
    background-image: none !important;
}

.navbar-inverse .nav > li > a,
.navbar-inverse .brand {
    color: #094063;
}

.navbar-inverse .nav > li > a:hover {
    color: white;
}

.navbar-inverse .nav > .active > a {
    background-color: #032A40;
}

.navbar-inverse .nav > .active > a:hover {
    background-color: #032A40;
}

.page-header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #98050C;
}

.page-header-information {
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.name-input-label {
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #98050C;
    font-size: large;
}

.name-input-container {
    text-align: center;
}

.name-input-container input {
    padding: 10px;
    width: 400px;
    font-size: xx-large;
    text-align: center;
    color: black;
    height: 30px;
    line-height: 30px;
}

.wizard-button-container {
    text-align: center;
    margin-top: 50px;
}

.wizard-button-container > .btn {
    background-color: #3982B1;
    color: #094063;
    background-image: none;
    border: none;
    text-shadow: none;
}

.wizard-button-container > .btn:hover {
    color: white;
}

.targeting-header {
    margin-bottom: 40px;
}

.targeting-header h4 {
    text-align: center;
}

.page-sub-header {
    text-align: center;
    margin-bottom: 50px;
}

.icon-question-sign {
    margin-left: 10px;
}

.img-helper-wrapper {
    position: relative;
    top: 0px;
}

.img-helper {
    height: 100%;
}

.suggested-message-container {
    width: 80%;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.suggested-message-container p {
    font-size: small;
    text-align: center;
}

.suggested-message-container .fb-obj-item {
    margin-bottom: 30px;
}

.suggested-message-container .fb-obj-item input {
    width: 100%;
}

.suggested-message-container h4 {
    text-align: center;
}

.fb-obj-group:last-child h5 {
    margin-top: 30px;
}

.fb-obj-group h5 {
    margin-top: 10px;
    width: 80%;
}

.fb-obj-item {
    margin-bottom: 40px;
}

.fb-obj-item label {
    color: #98050C;
    font-size: medium;
}

.fb-obj-item input {
    padding: 8px;
    font-size: medium;
    font-weight: bold;
    width: 80%;
}

.fb-obj-item textarea {
    padding: 8px;
    font-size: medium;
    width: 80%;
}

.fb-obj-item:last-child {
    margin-bottom: 0px;
 }

.step-submit {
    margin-right: 50px;
}

.fb-obj-info-item p {
    text-align: center;
}

.filter-info-item {
    margin-top: 40px;
}

.filter-info-item:first-child {
    margin-top: 0px;
}

.filter-info-item > div,
.filter-info-item > h4 {
    text-align: center;
}

#available-section h3,
#enabled-section h3 {
    color: #98050C;
}

#available-section button,
#enabled-section button {
    vertical-align: bottom;
    margin: 10px;
    background-image: none;
    background-color: #CDB960;
}

#available-section button:hover,
#enabled-section button:hover {
    background-color: #CDB238;
}

#fb-obj-input-wrapper label {
    display: inline-block;
}

.invalid-input-message:hover {
    background-color: red;
    cursor: pointer;
}

.invalid-input-message:hover.right .arrow:after {
    border-right-color: red;
}

.invalid-input-message:hover.left .arrow:after {
    border-left-color: red;
}

.invalid-input-message:hover.bottom .arrow:after {
    border-bottom-color: red;
}

.invalid-input-message:hover.top .arrow:after {
    border-bottom-color: red;
}

.popover {
    color: #98050C;
    font-weight: bold;
    background-color: #CDB638;
}

.popover.right .arrow:after {
    border-right-color: #CDB638;
}

.popover.bottom .arrow:after {
    border-bottom-color: #CDB638;
}

.popover.left .arrow:after {
    border-left-color: #CDB638;
}

.popover.top .arrow:after {
    border-top-color: #CDB638;
}

.invalid-input-popover,
#fb-obj-input-popover,
#input-popover,
#faces-img-popover,
#fb-obj-popover {
    position: absolute;
}

.add-filter-row {
    margin: 0px;
}

.filter-selection-col {
    width: 50%;
    float: left;
}

.filter-builder-col {
    display: none;
    width: 50%;
    float: left;
}

.text-input-list {
    max-width: 230px;
    width: 90%;
    float: left;
}

.filter-val-input {
    width: 90%;
    max-width: 206px;
}

.add-input-container {
    width: 10%;
    float: left;
    padding: 4px 0px;
    position: relative;
}

#location-options-container {
    margin-bottom: 30px;
}

.draggable.ui-sortable-helper {
    background-color: rgba(204, 95, 101, 0.3);
}

.draggable {
    font-weight: bold;
    color: #094063;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #598EB1;
    padding-left: 2px;
    padding-top: 2px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.draggable:hover {
    background-color: rgba(204, 95, 101, 0.1);
}

.draggable:hover,
.draggable p:hover,
.draggable p abbr:hover {
    cursor: move;
}

.draggable p {
    display: table;
    margin 0px !important;
    height: 100%;
    width: 100%;
}

.draggable p abbr {
    display: table-cell;
    vertical-align: middle;
    border-bottom: none;
}

.form-error {
    display: none;
}

.empty-fallback {
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty-fallback label {
    display: inline-block;
}

.empty-fallback input {
    margin: 0px 5px;
}

#age-range:hover {
    cursor: pointer;
}

#add-location-filter {
    display: inline-block;
    text-shadow: none;
    color: black;
    margin-top: 20px;
}

.filter-or {
    padding-left: 10px;
    color: lightgray;
}

.location-filter-value {
    float: left;
    width: 90%;
}

.remove-filter-item {
    float: right;
    width: 10%;
}

.remove-filter-item:hover {
    cursor: pointer;
    color: red;
}

.modal-header h3 {
    color: #094063;
    text-align: center;
}

.new-filters {
    color: #98050C;
}

.modal-footer > .btn {
    background-color: #3982B1;
    color: #094063;
    background-image: none;
    border: none;
    text-shadow: none;
}

.modal-footer > .btn:hover {
    color: white;
}

#state-container,
#city-container {
    margin-top: 20px;
}
