
.add-filter-row {
    margin: 0px;
}

.filter-selection-col {
    width: 50%;
    float: left;
}

.filter-builder-col {
    display: none;
    width: 50%;
    float: left;
}

.text-input-list {
    max-width: 230px;
    width: 90%;
    float: left;
}

.filter-val-input {
    width: 90%;
    max-width: 206px;
}

.add-input-container {
    width: 10%;
    float: left;
    padding: 4px 0px;
    position: relative;
}

#location-options-container {
    margin-bottom: 30px;
}

.draggable {
    border: solid black 0.1em;
    border-radius: 5px;
    background-color: darkgrey;
    padding-left: 2px;
    padding-top: 2px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.draggable:hover,
.draggable p:hover,
.draggable p abbr:hover {
    cursor: move;
}

.draggable p {
    display: table;
    margin 0px !important;
    height: 100%;
    width: 100%;
}

.draggable p abbr {
    display: table-cell;
    vertical-align: middle;
}

.form-error {
    display: none;
}

.empty-fallback {
    margin-bottom: 20px;
}

.empty-fallback label {
    display: inline-block;
}

.empty-fallback input {
    margin: 0px 5px;
}

#age-range:hover {
    cursor: pointer;
}

#add-location-filter {
    display: inline-block;
    text-shadow: none;
    color: black;
}

.filter-or {
    padding-left: 10px;
    color: lightgray;
}

.location-filter-value {
    float: left;
    width: 90%;
}

.remove-filter-item {
    float: right;
    width: 10%;
}

.remove-filter-item:hover {
    cursor: pointer;
    color: red;
}
