.campaign-name {
    text-align: center;
}
.audience-label {
    font-weight: bold;
    padding-top: 10px;
}

.sub-header {
    font-size: medium;
    padding-top: 20px;
}

.suggested-messages {
    margin-bottom: 10px;
}

.suggested-messages-header {
    margin-bottom: 0px;
}

.url-container {
    overflow: hidden;
}
