.campaign-summary .divided {
  border-bottom: 1px solid #f2f2f2;
}
.campaign-summary .create-campaign-btn {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}
.campaign-summary .group {
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.campaign-summary .group .name {
  color: black;
  font-weight: 700;
}
.campaign-summary .group .homeBtn {
  margin-right: 13px;
}
.campaign-summary .group .campaign-actions .btn {
  margin-right: 10px;
}
.campaign-summary .group .campaign-actions .btn-default {
  color: black;
}
.campaign-summary .group .campaign-actions .btn-default:hover {
  color: black;
}
.campaign-summary h1 .label {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.5px;
  margin-left: 5px;
  vertical-align: 60%;
}
.campaign-summary h1 .label-draft {
  background-color: #999;
}
.campaign-summary h1 .label-published {
  background-color: #2C4C6C;
}
.campaign-summary h1 .label-archived {
  background-color: #e4e4e4;
  border: solid #adacac 1px;
  color: #747474;
}
