.client-campaigns h1 {
  color: #2d4c6b;
}
.client-campaigns .header {
  padding-top: 20px;
}
.client-campaigns .create-campaign-btn {
  float: right;
  margin-right: 25px;
  color: white;
  background-color: #737373;
}
.client-campaigns .create-campaign-btn:hover {
  color: white;
  text-decoration: underline;
}
.client-campaigns .campaign-row {
  border-top: 1px solid #f2f2f2;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.client-campaigns .campaign-row .name {
  color: #2d4c6b;
  font-size: 18px;
  font-weight: 700;
}
.client-campaigns .campaign-row .name:hover {
  cursor: pointer;
  text-decoration: underline;
}
