#theModal.long-content .modal-dialog {
  margin-top: 20px;
  margin-bottom: 20px;
}
#theModal .modal-dialog {
  margin-top: 150px;
  margin-bottom: 150px;
}
#theModal .modal-content {
  border: 1px solid #c2c2c2;
  border-radius: 0px;
}
#theModal .modal-header {
  border-bottom: none;
}
#theModal .modal-header.show-border {
  border-bottom: 1px solid #c2c2c2;
}
#theModal .close {
  color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
  font-weight: normal;
  font-size: inherit;
}
#theModal .modal-body {
  padding: 5px 40px 20px 40px;
}
#theModal .modal-footer {
  border-top: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
}
#theModal .close-btn {
  background-image: none;
  background-color: #c2c2c2;
  text-shadow: none;
}
.modal-backdrop.in {
  opacity: .85;
  filter: alpha(opacity=85);
}
.modal-backdrop {
  background-color: #546f8a;
}
