#left-panel {
  padding-left: 0px;
}
ol {
  font-size: 18px;
  background-color: #f2f2f2;
}
ol .glyphicon {
  padding: 20px 10px;
}
ol li.selected {
  background-color: white;
}
ol li.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.logo {
  width: 100%;
  background-color: #2d4c6b;
}
.logo img {
  width: 100%;
  padding: 20%;
}
