<section id="campaign-summary" class="col-md-8 col-md-offset2">
    <h2 class="page-header">Campaign Summary</h2>
    <h4 class="campaign-name">{{name}}</h4>
    <div class="well">
        <h6>Audience</h6>
        <section data-js="filterContainer"></div>
    </div>
    <div class="well">
        <h6>Faces Page</h6>
        <section data-js="facesContainer"></section>
    </div>
    <div class="well">
        <h6>Facebook Post</h6>
        <section data-js="fbPostExample"></section>
    </div>
</section>
