<section class="col-sm-10 help">
    <img src="{{ howItWorksSrc }}">
    <div class="contact">
        <span>If you have more questions, feel free to </span>
        <a href="mailto:help@edgeflip.com" target="_blank">contact us</a>
    </div>
</section>
