<nav id="left-panel" class="col-md-3">
    <ol>
        <li class="logo">
            <img src="{{logoSrc}}"/>
        </li>
        <li class="home-btn" data-js="btn" data->
            <span class="glyphicon glyphicon-home"></span>
            <span class="client-name">{{clientName}}</span>
        </li>
        <li class="campaign-btn" data-js="btn">
            <span class="glyphicon glyphicon-share"></span>
            <span class="client-name">Campaigns</span>
        </li>
        <li class="report-btn" data-js="btn">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="client-name">Reports</span>
        </li>
        <li class="help-btn" data-js="btn">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span class="client-name">Help</span>
        </li>
    </ol>
</nav>
