<nav id="left-panel" class="col-sm-2">
    <ol>
        <li class="logo">
            <img src="{{logoSrc}}"/>
        </li>
        <li class="home-btn">
            <span class="glyphicon glyphicon-home"></span>
            <span class="client-name">{{clientName}}</span>
        </li>
        <li class="campaign-btn button" data-js="btn" data-nav="home">
            <span class="glyphicon glyphicon-share"></span>
            <span class="client-name">Campaigns</span>
        </li>
        <li class="report-btn button" data-js="btn" data-nav="reports">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="client-name">Reports</span>
        </li>
        <li class="help-btn button" data-js="btn" data-nav="help">
            <span class="glyphicon glyphicon-info-sign"></span>
            <span class="client-name">Help</span>
        </li>
    </ol>
</nav>
