@import "../colors.less";
@import "../mixins.less";

.campaign-wizard-fbobj {

    .input-label {
        margin-right: 5px;
        .HeadingFont();
        color: @darkBlue;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 0px;
    } 

    button.close-btn {
        background-color: @borderGray;
        margin-right: 20px;
    }
}
