<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>Sharing for Social Good</title> 
    <style type="text/css"> 
    html {overflow: auto;} 
    html, body, div, iframe {margin: 0px; padding: 0px; height: 100%; border: none;} 
    iframe {display: block; width: 100%; border: none; overflow-y: auto; overflow-x: hidden;} 
    </style> 
</head> 
<body> 
    <iframe id="splash_frame" name="splash_frame" src="http://www.sharingforsocialgood.com/" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" scrolling="no"></iframe> 
</body> 
</html>