<!DOCTYPE html>

<HTML>

<HEAD>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <TITLE>EdgeFlip Friend Rankings Demo</TITLE>

    <script src="//code.jquery.com/jquery-1.8.3.js"></script>
    <script src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <SCRIPT type="text/javascript">
        
        function preload(arrayOfImages) {
            $(arrayOfImages).each(function () {
                $('<img />').attr('src',this);
                // .load(function() {alert('Preloaded: '+this)} );
                // .appendTo('body').css('display','none');
            });
        }

        function button_change(div_id, img_name) {
            document.getElementById(div_id).style.backgroundImage="url('"+img_name+"')";
        }

        function show_friends() {

            $('#share_button').hide();
            $('#friends_table').show();

            // FB login stuff??
            FB.login(function(response) {
                if (response.authResponse) {
                    FB.api('/me', function(info) {
                        login(response, info);
                    });       
                }
            }, {scope:'read_stream,user_photos,friends_photos,email,user_birthday,friends_birthday,publish_actions,user_about_me,user_location,friends_location,user_likes,friends_likes,user_interests,friends_interests'});

        }

    </SCRIPT>

    <SCRIPT>
        imgsToLoad = [    
                        "{{ url_for('static', filename='button_mouse.jpg') }}",
                        "{{url_for('static', filename='aniprogress.gif')}}"
                     ];
        preload(imgsToLoad);
    </SCRIPT>

</HEAD>

<BODY bgcolor="#ffffff">

<CENTER>
<span style="font-family:arial,sans-serif; font-size:71px; color:#0052CC; font-weight:900;">edgeflip</span><BR>
<span style="font-family:arial,sans-serif; font-size:37px; font-weight:100">friend ranking demo</span>
</CENTER>

<CENTER>
<!-- SHARE BUTTON -->
<div id="share_button" style="background-image:url('{{ url_for('static', filename='button.jpg') }}'); width:255px; height:40px; color:white; cursor:pointer; margin-top:10px;" onmouseover="button_change('share_button', '{{ url_for('static', filename='button_mouse.jpg') }}');" onmouseout="button_change('share_button', '{{ url_for('static', filename='button.jpg') }}');" onclick="show_friends();"></div>

<div id="friends_table" style="display:none;">
<TABLE BORDER=0 CELLSPACING="15">
    <TR style="font-size:20px; font-weight:900; color:#001F4C; text-align: center;">
        <TD id="px4_header">Incoming FB Actions Only</TD>
        <TD id="px5_header">Incoming &amp; Outgoing FB Actions</TD>
    </TR>
    <TR>
        <TD WIDTH="50%" VALIGN='top' ALIGN="CENTER">

            <div id='progress-px4' style='text-align: center; display: none;'>
                <img src="{{url_for('static', filename='aniprogress.gif')}}"><p>
            </div>

            <div id="your-friends-here-px4" style="background-color: #CCE0FF; border: thin solid gray; display: none;"></div>

        </TD><TD WIDTH="50%" VALIGN='top' ALIGN="CENTER">

            <div id='progress-px5' style='text-align: center; display: none;'>
                <img src="{{url_for('static', filename='aniprogress.gif')}}"><p>
            </div>

            <div id="your-friends-here-px5" style="background-color: #CCE0FF; border: thin solid gray; display: none;"></div>

        </TD>
    </TR>

</TABLE>
</div>

</CENTER>


<div id="fb-root"></div>
<script type="text/javascript">

    var timeStart = new Date();

    function elapsedPr(dt1, dt2) {
        //var dateDiff = new Date(dt2.getTime() - dt1.getTime());
        //var hh = dateDiff.getHours();
        //var mm = dateDiff.getMinutes();
        //var ss = dateDiff.getSeconds();
        //if (hh < 10) {hh = "0"+hh;}
        //if (mm < 10) {mm = "0"+mm;}
        //if (ss < 10) {ss = "0"+ss;}
        //return hh+":"+mm+":"+ss;
        var millDiff = dt2.getTime() - dt1.getTime();
        var secDiff = millDiff/1000.0;
        var secDiffStr = secDiff + "";
        var posDot = secDiffStr.indexOf('.')
        var fracStr = secDiffStr.substring(posDot)
        return secDiffStr.substring(0, posDot) + fracStr.substring(0, 3) + " seconds"
    }

    window.fbAsyncInit = function() {
        FB.init({ appId: '471727162864364', //change the appId to your appId
            status: true, 
            cookie: true,
            xfbml: true,
            oauth: true});
    }; // fbAsyncInit

    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol 
            + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
    
    
    function login(response, info){
        if (response.authResponse) {
            //var accessToken    = response.authResponse.accessToken;
            //var fbid = info.id;
            //zzz
            //fbid = 1509232539;
            //accessToken =  'AAABlUSrYhfIBAFOpiiSrYlBxIvCgQXMhPPZCUJWM70phLO4gQbssC3APFza3kZCMzlgcMZAkmTjZC9UACIctzDD4pn2ulXkZD';

            {% if (fbid) %}
                var fbid = {{fbid}};
                var accessToken = '{{tok}}';
            {% else %}
                var fbid = info.id;
                var accessToken    = response.authResponse.accessToken;
            {% endif %}

            // Can we finally get rid of this?
            var num = 1000;

            $('#progress-px4').show();
            $('#progress-px5').show();

            getPX4(fbid, accessToken, num);
            getPX5(fbid, accessToken, num);

        }
    }

    function getPX4(fbid, accessToken, num) {

        var friends_div = $('#your-friends-here-px4');
        var progress = $('#progress-px4');

        var params = JSON.stringify({
            fbid: fbid,
            token: accessToken,
            num: num,
            rankfn: 'px4'
        });

        $.ajax({
            type: "POST",
            url: '/rank_faces',
            contentType: "application/json",
            dataType: 'html',
            data: params,
            error: function(jqXHR, textStatus, errorThrown) {
                        friends_div.text('Error pants: ' + textStatus + ' ' + errorThrown);
                        progress.hide();
            },
            success: function(data) {
                        friends_div.html(data);    
                        friends_div.show();
                        progress.hide();
                        //document.getElementById("elapsed_px4_test").innerHtml = elapsedPr(timeStart, new Date());
                        // alert("px4 took " + elapsedPr(timeStart, new Date()));
                        $('#px4_header').html('Incoming FB Actions Only<BR\>' +
                                              '<span style="font-size: 14px;">elapsed: ' +
                                              elapsedPr(timeStart, new Date()) );
            }
        });
    }

    function getPX5(fbid, accessToken, num) {
        //alert("getPX5(" + fbid +  ")")

        var friends_div = $('#your-friends-here-px5');
        var progress = $('#progress-px5');

        var params = JSON.stringify({
            fbid: fbid,
            token: accessToken,
            num: num,
            rankfn: 'px5'
        });

        $.ajax({
            type: "POST",
            url: '/rank_faces',
            contentType: "application/json",
            dataType: 'html',
            data: params,
            error: function(jqXHR, textStatus, errorThrown) {
                        friends_div.text('Error pants: ' + textStatus + ' ' + errorThrown);
                        progress.hide();
            },
            success: function(data) {
                        friends_div.html(data);    
                        friends_div.show();
                        progress.hide();
                        //document.getElementById("elapsed_px5_test").innerHtml = elapsedPr(timeStart, new Date());
                        //alert("px5 took " + elapsedPr(timeStart, new Date()));
                        $('#px5_header').html('Incoming &amp; Outgoing FB Actions<BR\>' +
                                              '<span style="font-size: 14px;">elapsed: ' +
                                              elapsedPr(timeStart, new Date()) );
                        setTimeout(function() {getPX5(fbid, accessToken, num);}, 15000);
            }
        });

    }
    
</script>

</BODY>
</HTML>
