.line-chart .d3-chart .axis path,
.line-chart .d3-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line-chart .d3-chart .x.axis path {
  display: none;
}
.line-chart .d3-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
