.d3-chart {
  border: 1px solid black;
  background-color: #d4e0f5;
  background: #d4e0f5;
}
.d3-chart .title {
  font-family: "franklin-gothic-ext-comp-urw", Helvetica, sans-serif;
  fill: black;
  text-anchor: start;
  font-size: 20px;
  text-transform: uppercase;
}
