{% extends 'base.html' %}

{% block title %}EdgeFlip | Dashboard{% endblock %}


{% block includes %}
    <!-- <script src="//www.google.com/jsapi"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/floathead.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rickshaw.min.js"></script>
    <!-- Edgeflip JavaScript includes -->
    <script type='text/javascript'>
        {% include "core/includes/edgeflip.js" %}
    </script>
    <!-- End Edgeflip JavaScript includes -->
    <!-- Edgeflip JavaScript resources -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/router-reports.js"></script>
    <!-- End Edgeflip JavaScript resources -->
    <!-- Edgeflip Dashboard JavaScript -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
    <!-- End Edgeflip Dashboard JavaScript -->

    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/rickshaw.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/auth.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dash.css" />
{% endblock %}


{% block body %}

<select id="clientpicker" onchange="edgeflip.dashboard.set_client_id()">
{% for client_id, name in clients %}
<option value="{{client_id}}" >{{name}}</option>
{% endfor %}
</select>

<div id="bounds">

    <table class="floathead" id="sumtable">

        <thead>
            <tr>
            <th id="name"><button class="icon sorter">Campaign</button></th>
            <th id="first_activity"><button class="icon sorter">First Activity</button></th>
            <th id="latest_activity"><button class="icon sorter">Latest Activity</button></th>
            {% for slug, display_name, description in columns %}
            <th id="{{slug}}" title="{{description}}"><button class="icon sorter">{{display_name}}</button></th>
            {% endfor %}
            <th></th>
            <th></th>
            </tr>
        </thead>

    </table>

    <img src="{{STATIC_URL}}img/aniprogress.gif" class="loading">

</div>

<div id="modal" style="display:none">

    <form id="side_panel">
        <h2 id="legend_header">Campaign Performance</h2>
        <section><div id="legend"></div></section>
    </form>

    <div id="chart_container">
        <div id="graph" class="chart"></div>
        <div id="slider"></div>
        <span id="xMin"></span>
        <span id="xMax"></span>
    </div>

    <img src="{{STATIC_URL}}img/aniprogress.gif" class="loading">

</div>


<hr style="clear:both; margin-top:50px;">
<div id="timestamp"><i style="font-size:12px">Last data found at {{ updated }}</i></div>
{% endblock %}
