{% extends "base.html" %}

{% block body %}


<style type="text/css">

    body {
        background: #2c3844;
    }

    #bounds { 
        text-align: center;
        margin: 50px auto;
        width: 500px;

        border: 1px solid #397793;
        text-align: right;
        padding-bottom: 20px;
        background: white;

        font-family: "Gill Sans", "Trebuchet MS", Helvetica, sans-serif;
        color: #397793;
    }

    #logo {
        margin: 28px;
    }

    #loginform {
        width: 200px;
        margin: 0 auto;
    }

    #errors {
        text-align: center;
        color: red;
    }


</style>


<div id="bounds">
    <img src="http://edgeflip.com/logo.png" width="443" height="120" id="logo" />

    {% if error %}
        <p id="errors">{{ error }}</p>
    {% endif %}

    <form method="post" action="/login/" id="loginform">
        <table>
            <tr>
                <td>Login</td>
                <td><input name="login"></input></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input name="password" type="password"></input></td>
            </tr>
       </table>

       <input type="submit" value="LOGIN" />
   </form>

</div>

{% endblock %}
