<section data-js="layerContainer">
    <div class="clearfix">
        <h5 data-js="layerHeading" class="layer-text-header pull-left">Layer {{layerNumber}}</h5>
        <h5 data-js="removeLayerBtn" class="btn btn-link pull-right remove-layer">
            <span class="glyphicon glyphicon-remove">
        </h5>
    </div>
    <div class="clearfix">
        <input type="hidden" name="id_enabled-filters-{{layerNumber}}" data-js="layerInput">
        <div class="col-md-12 well sortable target-well"></div>
    </div>
</section>
