{{#if notFirst}}
    <div class="filter-or">or</div>
{{/if}}
<div class="clearfix" data-val="{{val}}">
    <div class="location-filter-value">{{text}}</div>
    <div data-js="removeProposedLocationBtn" class="remove-filter-item">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>
