/* Faces CSS */
.h2_container {
    font-family: "Open Sans", Helvetica, sans-serif; 
    font-weight: 200; 
    font-size: 1.5em;
    margin: 2px; 
    color: #0f2446;
    border: none;
    white-space: normal; 
    text-align: center;
    padding: 5px;
    background-color: #f7f7f7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    width: 250px;
}

#faces_form_container {
    width: 650px;
    vertical-align: top;
    white-space: normal;
    background-color: #f7f7f7;
    border: 2px solid #7C889B;
    border-radius: 10px;
    padding: 15px;
    margin: 0px auto;
}

#friends_table {
    border: 5px solid #f7f7f7;
    background-color: #f7f7f7;
    width: 550px;
}

.friend_box {
    padding: 7px 3px 3px 7px;
    border: thin solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    width: 160px;
    position: relative;
    cursor: pointer;
}

.friend_txt {
    /* Have to specify width here to make ellipsis work */
    width: 110px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 3px;
}

.friend_name {
    /* Have to specify width 100% here to make ellipsis work */
    color: inherit;
    text-decoration: none;
    width: 100%; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.friend_box_selected {
    background-color: #0f2446;
    color: white;
}

.friend_box_selected:hover {
    background-color: #0270A0;
    color: white;
}

.friend_box_unselected {
    background-color: #E6F2FF;
    color: #0f2446;
}

.friend_box_unselected:hover {
    background-color: #96C2F0;
    color: #0f2446;
}

.button_big, .button_small {
    float: right;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

/* Button CSS */
.button_big {
    display: block;
    width:200px;
    height: 30px;
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    text-decoration: none;
    font-family: "Open Sans", Helvetica, sans-serif;
    vertical-align: middle;
    line-height: 30px;
    font-size: 20px;
    margin: 5px;
}
.button_small {
    width: 140px;
    float: right;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    width: 140px;
}
.button_active {
    background-color: #01a652;
    border: 2px solid #016431;
}
.button_active:hover {
    background-color: #4DC186;
    border: 2px solid #016431;    
}
.button_inactive {
    background-color: #0f2446;
    border: 2px solid #0270A0;
}
.button_inactive:hover {
    background-color: #0270A0;
    border: 2px solid #4E9BBD;    
}

.button_big.button_active {
    box-shadow: 3px 3px 5px black;
}

.button_big.button_active:hover {
    box-shadow: 2px 2px 3px black;
}

.button_big.button_inactive {
    box-shadow: 3px 3px 5px #0f2446;
}

.button_big.button_inactive:hover {
    box-shadow: 2px 2px 3px #0f2446;
}

.button_small.button_active {
    background-color: #01a652;
    border: thin solid #016431;
}

.button_small.button_active:hover {
    background-color: #4DC186;
    border: thin solid #016431;
}

.button_small.button_inactive {
    background-color: #0f2446;
    border: thin solid gray;
}

.button_small.button_inactive:hover {
    background-color: #0270A0;
    border: thin solid gray;
}

/* Share MSG CSS */
.text_title_prompt {
    margin-bottom: 18px;
    padding-bottom: 2px;
    color: #0f2446;
    font-size: 22px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 0px;
}

.text_instructions {
    display: block;
    font-size: 18px;
    text-align: left;
    color: #0f2446;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    float: left;
}

#message_form {
    clear: both;
    width: 520px;
}

#message_form_editable {
    display: block;
    /*border: solid thin gray;*/
    /*border-radius: 5px;*/
    background-color: white;
    padding: 5px;
    /*width: 80%;*/
    /*margin-left: 2%;*/
    min-height: 90px;
    line-height: 25px;
}

.message_friend_name {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 200;
    color: black;
    border: thin solid #89A8BD;
    padding: 1px 2px 1px 2px;
    background-color: #E6F2FF;
    border-radius: 4px;
    -moz-border-radius: 4px;
    vertical-align: middle;
    white-space: nowrap;
}


