/* CSS FOR THE MESSAGE TO BE SHARED */

.right_container {
	overflow-x: hidden;
	vertical-align: top;
	padding-left: 15px;
	white-space: normal;
	width: 685px;
	display: table;
	margin: 0px auto;
}

.share_prompt {
/*
	display: table;
	width: 70%;
	text-align: center;
	margin: 0px auto 18px auto;
*/
	margin-bottom: 18px;
	padding-bottom: 2px;
	color: #0f2446;
	font-size: 22px;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 600;
}

.msg_friend_name {
	display: inline-block;
	font-family: sans-serif;
	font-weight: 200;
	color: black;
	border: thin solid #89A8BD;
	padding: 1px 2px 1px 2px;
	background-color: #E6F2FF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	vertical-align: middle;
	white-space: nowrap;
}

.msg-txt-friend {
	font-size: 12px;
	line-height: 18px;
}

.msg-sugg-friend {
	font-size: 10px;
	line-height: 13px;
}

.msg_x {
	font-weight: 900;
	color: #89A8BD;
	margin-left: 3px;
	cursor: pointer;
}

.msg_x:hover {
	color: #0270A0;
}

.msg_picker,
.msg_title {
	display: block;
}

.msg_title {
	font-size: 18px;
	text-align: left;
	color: #0f2446;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	float: left;
}

.msg_picker {
	border: 2px solid lightgrey;
	border-radius: 10px;
/*	background-color: #E6F2FF; */
	background-color: #F7F7F7;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
}

.msg_block {
	padding-bottom: 15px;
	clear: both;
}

.msg_txt {
	overflow-x: auto;
	overflow-y: visible;
	padding-bottom: 3px;

    background: white;
    border: solid thin gray;
	border-radius: 5px;

    margin: 0px 60px;

}

#suggested_msg_title {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
}

.suggested_msg {
	font-size: 14px;
	padding-bottom: 2px;
	margin-bottom: 0px;
}

#other_msg_prompt {
	margin-bottom: 3px;
	display: none;
}

#other_msg {
	display: block;
	/*border: solid thin gray;*/
	/*border-radius: 5px;*/
	background-color: white;
	padding: 5px;
	/*width: 80%;*/
	/*margin-left: 2%;*/
	min-height: 90px;
	line-height: 25px;

}

#other_msg:focus {
    outline: none;
}

span#helper_txt:empty:before {
    content:"Click the button above to use a suggested message, or write your own here.";
}

#do_share_container {
	position: relative;
	height: 75px;
}

#do_share_button {
	display: block;
	position: absolute;
	right: 0px;
	color: white; 
	cursor: pointer; 
}
