<!DOCTYPE html>

<HTML>
<HEAD>
	<TITLE>Button Man Goes to the Mattresses (because he's em_bed_dable... stop rolling your eyes.)</TITLE>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<!-- edgeflip stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_man.css') }}" />
	<!-- edgeflip stylesheets -->

	<!-- Document-specific style -->
	<STYLE>
		html {
			overflow: hidden;
		}

		body {
			background-color: transparent;
			/* May also need ALLOWTRANSPARENCY="true" in the iframe tag... */
		}
	</STYLE>
	<!-- Document-specific style -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<!-- edgeflip javascript -->
	<script src="{{ url_for('static', filename='ie_fixes.js') }}"></script>
	<SCRIPT>

		// Called upon clicking the "share" button
		function doFBLogin() {

			var button_div = $('#share_button');
			button_div.hide();

			FB.login(function(response) {
				if (response.authResponse) {
					// User authorized, so jump to page that will contain the faces...
					top.location="http://demo.edgeflip.com/ofa";
				} else {
					button_div.show();
					alert("Rocco, sit on the other side. You block the rearview mirror.");
				}
			}, {scope:'read_stream,user_photos,friends_photos,email,user_birthday,friends_birthday,publish_actions,user_about_me,user_location,friends_location,user_likes,friends_likes,user_interests,friends_interests'});

		}

	</SCRIPT>
	<!-- edgeflip javascript -->

</HEAD>
<BODY>

<div id="share_button" class="button" onclick="doFBLogin();">Show Your Support</div>

<div id="fb-root"></div>
<script type="text/javascript">
	
	window.fbAsyncInit = function() {


		FB.init({ appId: '{{ fbParams.fb_app_id }}', //change the appId to your appId
			status: true, 
			cookie: true,
			xfbml: true,
			oauth: true});

	}; // fbAsyncInit

	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol 
			+ '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
		
</script>

</BODY>
</HTML>