<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>edgeFlip demo</title>

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='demo.css') }}">

	<!--
	 http://thinkdiff.net/facebook/new-javascript-sdk-oauth-2-0-based-fbconnect-tutorial/
	 @author: Mahmud Ahsan (http://mahmud.thinkdiff.net)
	-->

	<script type=text/javascript src="{{url_for('static', filename='jquery.js')}}"></script>
	<script type=text/javascript>
		function preloadUser() {
			var sel = document.getElementById('selUser');
			var elts = sel.options[sel.selectedIndex].value.split('::');
			document.getElementById('fbid').value = elts[0];
			document.getElementById('token').value = elts[1];
		}
		
		function getButtonName() {
			var flips = new Array("flip", "rip", "drip", "skip", "hip", "lip", "clip", "strip", "chip", "dip", "slip", "nip", "grip", "whip", "quip");
			var edges = new Array("edge", "dredge", "fledge", "hedge", "ledge", "pledge", "sedge", "sledge", "wedge");	
			var randFlip = flips[Math.floor(Math.random() * flips.length)];
			var randEdge = edges[Math.floor(Math.random() * edges.length)];
			return randFlip + " my " + randEdge;
		}

		function doOnLoad() {
			document.getElementById("flip-my-edge").value = getButtonName();		
		}		

	</script>

</head>

<body onload='doOnLoad()'>

	<div id="fb-root"></div>
	<script type="text/javascript">
		var APP_ID = '471727162864364';	
		var button;
		var userInfo;

		alert("heya 0");
		window.fbAsyncInit = function() {
			FB.init({ appId: APP_ID, //change the appId to your appId
				status: true,
				cookie: true,
				xfbml: true,
				oauth: true});
		   showLoader(true);
		   function updateButton(response) {
				button	   =   document.getElementById('fb-auth');
				userInfo	 =   document.getElementById('user-info');

				if (response.authResponse) { //user is already logged in and connected
					FB.api('/me', function(info) {
						login(response, info);
					});
					button.onclick = function() {
						FB.logout(function(response) {
							logout(response);
						});
					};
				} else {
					//user is not connected to your app or logged out
					button.innerHTML = 'Login';
					button.onclick = function() {
						showLoader(true);
						FB.login(function(response) {
							if (response.authResponse) {
								FB.api('/me', function(info) { login(response, info); });
							} else { //user cancelled login or did not grant authorization
								showLoader(false);
							}
						}, {scope:'email,user_birthday,status_update,publish_stream,user_about_me'});  	
					}
				}
			} // updateButton()
		   	alert("heya 1");
			// run once with current status and whenever the status changes
			FB.getLoginStatus(updateButton);
		   	alert("heya 2");
			FB.Event.subscribe('auth.statusChange', updateButton);	
		   	alert("heya 3");

		}; // window.fbAsyncInit
		
		(function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol
				+ '//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		}());


		function login(response, info){
			if (response.authResponse) {
				var accessToken								 =   response.authResponse.accessToken;

				userInfo.innerHTML							 = '<img src="https://graph.facebook.com/' + info.id + '/picture">' + info.name
																 + "<br /> Your Access Token: " + accessToken;
				button.innerHTML							   = 'Logout';
				showLoader(false);
				document.getElementById('other').style.display = "block";
			}
		}

		function logout(response){
			userInfo.innerHTML							 =   "";
			document.getElementById('debug').innerHTML	 =   "";
			document.getElementById('other').style.display =   "none";
			showLoader(false);
		}

		//stream publish method
		function streamPublish(name, description, hrefTitle, hrefLink, userPrompt){
			showLoader(true);
			FB.ui(
			{
				method: 'stream.publish',
				message: '',
				attachment: {
					name: name,
					caption: '',
					description: (description),
					href: hrefLink
				},
				action_links: [
					{ text: hrefTitle, href: hrefLink }
				],
				user_prompt_message: userPrompt
			},
			function(response) {
				showLoader(false);
			});

		}
		function showStream(){
			FB.api('/me', function(response) {
				//console.log(response.id);
				streamPublish(response.name, 'I like the articles of Thinkdiff.net', 'hrefTitle', 'http://thinkdiff.net', "Share thinkdiff.net");
			});
		}

		function share(){
			showLoader(true);
			var share = {
				method: 'stream.share',
				u: 'http://thinkdiff.net/'
			};

			FB.ui(share, function(response) {
				showLoader(false);
				console.log(response);
			});
		}

		function graphStreamPublish(){
			showLoader(true);

			FB.api('/me/feed', 'post',
				{
					message	 : "I love thinkdiff.net for facebook app development tutorials",
					link		: 'http://ithinkdiff.net',
					picture	 : 'http://thinkdiff.net/iphone/lucky7_ios.jpg',
					name		: 'iOS Apps & Games',
					description : 'Checkout iOS apps and games from iThinkdiff.net. I found some of them are just awesome!'

			},
			function(response) {
				showLoader(false);

				if (!response || response.error) {
					alert('Error occured');
				} else {
					alert('Post ID: ' + response.id);
				}
			});
		}

		function fqlQuery(){
			showLoader(true);

			FB.api('/me', function(response) {
				showLoader(false);

				//http://developers.facebook.com/docs/reference/fql/user/
				var query	   =  FB.Data.query('select name, profile_url, sex, pic_small from user where uid={0}', response.id);
				query.wait(function(rows) {
				   document.getElementById('debug').innerHTML =
					 'FQL Information: '+  "<br />" +
					 'Your name: '	  +  rows[0].name															+ "<br />" +
					 'Your Sex: '	   +  (rows[0].sex!= undefined ? rows[0].sex : "")							+ "<br />" +
					 'Your Profile: '   +  "<a href='" + rows[0].profile_url + "'>" + rows[0].profile_url + "</a>" + "<br />" +
					 '<img src="'	   +  rows[0].pic_small + '" alt="" />' + "<br />";
				 });
			});
		}

		function setStatus(){
			showLoader(true);

			status1 = document.getElementById('status').value;
			FB.api(
			  {
				method: 'status.set',
				status: status1
			  },
			  function(response) {
				if (response == 0){
					alert('Your facebook status not updated. Give Status Update Permission.');
				}
				else{
					alert('Your facebook status updated');
				}
				showLoader(false);
			  }
			);
		}

		function showLoader(status){
			if (status)
				document.getElementById('loader').style.display = 'block';
			else
				document.getElementById('loader').style.display = 'none';
		}

	</script>






	<div id='content'>

		<div id='logo'>
			edgeflip
		</div>

		<form id='user_form'>	
	
			<div style='float: right; width: 50px; text-align: center'>max<br><input id='num' type='text' size=4 value='1000'></div>
			<div style='float: left;  width: 50px'>&nbsp;</div>

			<table border=0>

				<tr valign='top'>				
					<td align='left' style='padding-left: 0px'>
						&nbsp;fbid<br>
						<!--
						<input type="text" name="fbid" id="fbid" size=20 value="500876410"/>
						-->

						<!--
						http://bit.wisestamp.com/uncategorized/htmljquery-editable-combo-2/
						-->
						<select id="selUser" style="width: 180px; height: 24px; border: solid 1px #666666" onchange="$('input#fbid').val($(this).val());preloadUser()">
							<option value="" disabled selected></option>			
							{% for user in users %}
								<option value="{{user.id}}::{{user.token}}">{{user.id}} ({{user.name}})</option>			
							{% endfor %}
						</select>
						<input id="fbid" style="margin-left: -184px; width: 160px; height: 20px; border: solid 1px #666666;" />

					</td>

					<td rowspan=2 style='padding-left: 20px'>
							&nbsp;token<br>
							<textarea rows=4 cols=30 name="token" style="border: solid 1px #666666" id="token">AAABlUSrYhfIBAH7jkzeLZAos8m8aET3rfZBmycGvHLrUEroS3XghNzATCuOwsbQ8JK5lgjDRMHAvasMxgIWWYbOSh5G2awxbep3PMONgZDZD</textarea>					
					</td>
				</tr>			

				<tr>
					<td align='center' valign='bottom'>
						&nbsp;<br>


						<!--
						<select id='selUser' onChange='preloadUser()'>	
							<option value="0">--- select ---</option>
							{% for user in users %}
								<option value="{{user.id}}::{{user.token}}">{{user.id}} ({{user.name}})</option>			
							{% endfor %}
						</select>	
						-->
					</td>
				</tr>

				<tr>
					<td colspan=2 align='center'>
						<br>
						<input type="button" id="flip-my-edge" value="submit" style='width: 200px; height: 45px; font-size: 1.5em'/>
					</td>		
				</tr>
				
			</table>
		</form>

		<div id='progress' style='text-align: center; display: none'>
			<img src="{{url_for('static', filename='aniprogress.gif')}}"><p>
		</div>
		
		<div id="your-friends-here"></div>

	</div><!-- content -->	

	<script type="text/javascript">
	
		var friends_div = $('#your-friends-here');
		var flip_btn = $('#flip-my-edge');
		var progress = $('#progress');
	
		$(function() {
			flip_btn.click(function(e) {
				flip_btn.attr('disabled', true);
				progress.show();

				friends_div.text("Reading stream...");	
							
				var params = JSON.stringify({
					fbid: $('#fbid').val(),
					token: $('#token').val(),
					num: $('#num').val()
				});
	
				$.ajax({
					type: "POST",
					url: '/edgeflip',
					contentType: "application/json",
					dataType: 'html',
					data: params,
					error: function(jqXHR, textStatus, errorThrown) {
								friends_div.text('Error pants: ' + textStatus + ' ' + errorThrown);
								flip_btn.attr('disabled', false);
								progress.css('display', 'none');
					},
					success: function(data) {
								friends_div.html(data);	
								friends_div.show();
								flip_btn.attr('disabled', false);
								progress.css('display', 'none');
					}
				});
			});
		});	
	
	</script>



		<h3>New JavaScript SDK & OAuth 2.0 based FBConnect Tutorial | Thinkdiff.net</h3>
		<button id="fb-auth">Login</button>
		<div id="loader" style="display:none">
			<img src="ajax-loader.gif" alt="loading" />
		</div>
		<br />
		<div id="user-info"></div>
		<br />
		<div id="debug"></div>

		<div id="other" style="display:none">
			<a href="#" onclick="showStream(); return false;">Publish Wall Post</a> |
			<a href="#" onclick="share(); return false;">Share With Your Friends</a> |
			<a href="#" onclick="graphStreamPublish(); return false;">Publish Stream Using Graph API</a> |
			<a href="#" onclick="fqlQuery(); return false;">FQL Query Example</a>

			<br />
			<textarea id="status" cols="50" rows="5">Write your status here and click 'Status Set Using Legacy Api Call'</textarea>
			<br />
			<a href="#" onclick="setStatus(); return false;">Status Set Using Legacy Api Call</a>
		</div>
	

</body>
</html>




