<!doctype html>
<html>
<head>
	<title>edgeFlip demo</title>

	<script type=text/javascript src="{{url_for('static', filename='jquery.js')}}"></script>
	<script type=text/javascript>
		function preloadUser() {
			var sel = document.getElementById('selUser');
			var elts = sel.options[sel.selectedIndex].value.split('::');
			document.getElementById('fbid').value = elts[0];
			document.getElementById('token').value = elts[1];
		}
	</script>
</head>

<body>
	<form>	
		<table border=0>
			<tr>
				<td>fbid&nbsp;</td>
				<td><input type="text" name="fbid" id="fbid" size=10 value="500876410"/></td>
				<td align='right'>
					<select id='selUser' onChange='preloadUser()'>	
						<option value="0">--- select ---</option>			
						{% for user in users %}
							<option value="{{user.id}}::{{user.token}}">{{user.id}} ({{user.name}})</option>			
						{% endfor %}
					</select>	
				</td>
			</tr>			
			<tr>
				<td>token&nbsp;</td>
				<td colspan=2><input type="text" name="token" id="token" size=110 value="AAABlUSrYhfIBAH7jkzeLZAos8m8aET3rfZBmycGvHLrUEroS3XghNzATCuOwsbQ8JK5lgjDRMHAvasMxgIWWYbOSh5G2awxbep3PMONgZDZD"/></td>
			</tr>
			<tr>
				<td colspan=2>
					<br>
					<input type="button" id="flip-my-edge" value="Flip my Edge"/>
				</td>
			</tr>
		</table>
	</form>
	
<div id="your-friends-here" style="display: none; background-color: yellow; padding: 10px; border: 1px solid black; font-weight: bold;"> </div>

</div>


<script type="text/javascript">

	var friends_div = $('#your-friends-here');
	var flip_btn = $('#flip-my-edge');

	$(function() {
		flip_btn.click(function(e) {
			flip_btn.attr('disabled', true);
			friends_div.text("Initializing...");	
			friends_div.show();
						
			var params = JSON.stringify({
				fbid: $('#fbid').val(),
				token: $('#token').val()
			});

			$.ajax({
				type: "POST",
				url: '/edgeflip',
				contentType: "application/json",
				dataType: 'html',
				data: params,
				error: function(jqXHR, textStatus, errorThrown) {
							friends_div.text('Error pants: ' + textStatus + ' ' + errorThrown);
							flip_btn.attr('disabled', false);
				},
				success: function(data) {
							alert("hello:" + data);
							friends_div.html(data);
							alert("hello again");

				}
			});
		});
	});	

</script>

<!--


			$.ajax({
				type: "POST",
				url: '/edgeflip',
				dataType: 'json',
				contentType: "application/json",
				data: params,
				error: function(jqXHR, textStatus, errorThrown) {
						friends_div.text('Error: ' + textStatus);
						flip_btn.attr('disabled', false);
				},
				success:
					function(data) {
						friends_div.html(data.resp);
					}
			});

-->



</body>
</html>

