
{% from 'new_face.html' import face %}

<SCRIPT>

	var nextidx = {{ face_friends | length }};

	// Just the friends who can come in as faces
	var friends = [
		{% for friend in all_friends %}
			{'id': {{friend.id}}, 'fname': '{{friend.fname}}', 'lname': '{{friend.lname}}' },
		{% endfor %}
		];

  	// This needs to the dictionary of all names, not just those initially shown...
    var fbnames = {

    	{% for friend in pickFriends %}
    		{{friend.id}}: '{{friend.name}}',
    	{% endfor %}

                  };

  	// Needs to be ALL of the user's friends since they could type in anyone,
  	// regardless of whether they meet our targeting criteria.
    var pick_friends = [

    {% for pickFriend in pickFriends %}
    	{
    		value: {{pickFriend.id}},
    		label: "{{pickFriend.name}}"
    	},
    {% endfor %}

    ];

</SCRIPT>

<div class="msg_title" style="padding: 0px;">Choose Some Friends:</div>
<div class="faces_container">
<table align=center border=0 cellpadding=0 cellspacing=7 class="friends_table">
	<tr>
	{% for face_friend in face_friends %}

		<td>
			{{ face(face_friend.id, face_friend.fname, face_friend.lname) }}
		</td>

		{% if ( (loop.index0 == 1) and (numFriends > 2) ) or ( (loop.index0 == 3) and (numFriends > 4) ) %}
				</tr><tr>

		{% endif %}

	{% endfor %}

	</tr>
</table>

<div id="manual_add">
	<div id="manual_input_container">
		<div>Manually add up to three other friends:</div>
		<div><input id="manual_input" onLoad="adjust_manual_width();" /></div>
	</div>
	<div id="picked_friends_container"></div>
</div> <!-- manual_add -->

</div> <!-- faces_container -->

<script>

	// Quick code to pre-load messages for testing...
	
    {% for face_friend in face_friends %}
    	recips.push({{face_friend.id}});
    {% endfor %}

    {% for face_friend in face_friends %}
		$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+{{face_friend.id}}+'" contentEditable="False">'+fbnames[{{face_friend.id}}]+'</span> ');
    {% endfor %}

	$('.preset_names').html(friendNames());

</script>

<script src="{{ url_for('static', filename='manual_add.js') }}"></script>

<script>
	alert('now here!');
	var pfwidth = $("#manual_add").width() - $("#manual_input_container").width() - 20;
	$("#picked_friends_container").width(pfwidth);
	alert('manual input loaded! set to: '+pfwidth);
</script>



