
<SCRIPT>

	var nextidx = {{ face_friends | length }};
	var friends = [
		{% for friend in all_friends %}
			{'id': {{friend.id}}, 'fname': '{{friend.fname}}', 'lname': '{{friend.lname}}' },
		{% endfor %}
		];

  	// This needs to the dictionary of all names, not just those initially shown...
    var fbnames = {

    	{% for friend in pickFriends %}
    		{{friend.id}}: '{{friend.name}}',
    	{% endfor %}

                  };

</SCRIPT>

<form>
<div style="display: table; margin: 0px auto; background-color: #e4e6e0; border: 3px solid #e4e6e0;">
<table align=center border=0 cellpadding=0 cellspacing=7 class="friends_table">
	<tr>
	{% for face_friend in face_friends %}

		<td>
			<div class="friend_box" id="friend-{{face_friend.id}}">
				<div class="xout" onClick="doReplace({{face_friend.id}});">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/{{face_friend.id}}/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						{{face_friend.fname}}
					</div>
					<div class="friend_name dojoxEllipsis">
						{{face_friend.lname}}
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-{{face_friend.id}}" checked="checked" onChange="toggleFriend({{face_friend.id}});">
					</div>
				</div>
			</div>
		</td>

		{% if (loop.index0 == 2) and (numFriends > 3) %}
				</tr><tr>

				{% if (numFriends == 4) %}
					<td></td>
				{% endif %}

		{% endif %}

	{% endfor %}

	</tr>
</table>

<div id="manual_add" style="width: 590; text-align: left; margin: 0px auto; display: table; position: relative;">
	<div style="vertical-align: top; display: inline-block;" id="manual_inbox_container">
		<div>Manually add up to three other friends:</div>
		<div><input id="manual_input" style="width: 100%; max-width: 180px;" /></div>
	</div>
	<div id="picked_friends_container" style="display: inline-block; vertical-align: bottom; padding-left: 10px;"></div>
</div>

</div>

<script>
	$("#picked_friends_container").width($("#manual_add").width() - $("#manual_inbox_container").width() - 10);
</script>

<BR />
<div class="msg_title">Choose A Message:</div>
<div class="msg_picker">

	<div style="padding-bottom: 15px;">
		<div style="display: inline-block; padding-right: 5px; vertical-align: top;">
			<input type="radio" name="msg" value="hi-there" onChange="updateMsg();" /> 
		</div>
		<div style="display: inline-block; width: 550px; text-align: left;">
			Hi there <span class="preset_names"></span> -- I just read a great article about Targeted Sharing and you should, too!
		</div>
	</div>

	<div style="padding-bottom: 15px;">
		<div style="display: inline-block; padding-right: 5px; vertical-align: top;">
			<input type="radio" name="msg" value="kasell" onChange="updateMsg();" /> 
		</div>
		<div style="display: inline-block; width: 550px; text-align: left;">
			Targeted Sharing is the way of the future. Go read about it now, <span class="preset_names"></span>!
		</div>
	</div>

	<div style="padding-bottom: 15px;">
		<div style="display: inline-block; padding-right: 5px; vertical-align: top;">
			<input type="radio" name="msg" value="other" onChange="updateMsg();" /> 
		</div>
		<div style="display: inline-block; width: 550px; text-align: left;">
			Write your own message (type around your friends' names):<BR />
			<div id="other_msg" style="display: none; border: solid thin gray; padding: 10px; width: 500px;" contentEditable="True">Replace this text with your message for </div>
		</div>
	</div>	

</div>

<BR>
<CENTER>
<div id="do_share_button" onmouseover="button_change('do_share_button', '{{ url_for('static', filename='share_mouse.jpg') }}');" onmouseout="button_change('do_share_button', '{{ url_for('static', filename='share.jpg') }}');" onclick="doShare();"></div>
</CENTER>

</form>

<script>

	// Quick code to pre-load messages for testing...
	
    {% for face_friend in face_friends %}
    	recips.push({{face_friend.id}});
    {% endfor %}

    {% for face_friend in face_friends %}
		$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+{{face_friend.id}}+'" contentEditable="False">'+fbnames[{{face_friend.id}}]+'</span> ');
    {% endfor %}

	$('.preset_names').html(friendNames());

</script>

<script>

  $(document).on( 'mouseenter', '.added_x', function(e) { $(this).css('color', 'darkblue'); });
  $(document).on( 'mouseleave', '.added_x', function(e) { $(this).css('color', 'white'); });

  $(function() {

  	// Needs to be ALL of the user's friends since they could type in anyone,
  	// regardless of whether they meet our targeting criteria.
    var pick_friends = [

    {% for pickFriend in pickFriends %}
    	{
    		value: {{pickFriend.id}},
    		label: "{{pickFriend.name}}"
    	},
    {% endfor %}

    ];
 
    $( "#manual_input" ).autocomplete({
      minLength: 0,
      source: pick_friends,
      focus: function( event, ui ) {
        $( "#manual_input" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {

      	// Only add a friend if they haven't already been added (and aren't already provided)
        if (!( $("#added-"+ui.item.value).length > 0 || $("#friend-"+ui.item.value).length > 0 ) ) {

          if ($(".added_friend").length >= 3) {

            alert("Sorry: only three friends can be added manually.");
          
          } else {

            $("#picked_friends_container").append("<div class='added_friend' id='added-"+ui.item.value+"'>"+ui.item.label+"<div class='added_x' onClick='removeFriend("+ui.item.value+");'>x</div></div>");

            var idx = recips.indexOf(ui.item.value);
			if (idx > -1) { recips.splice(idx, 1); }
			$('#msg-txt-friend-'+ui.item.value).remove();

			recips.push(ui.item.value);
			$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+ui.item.value+'" contentEditable="False">'+ui.item.label+'</span> ');

			$('.preset_names').html(friendNames());

          }
        }
        $("#manual_input").val('');
        return false;
      }
    })
	.data( "uiAutocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + "<img src='http://graph.facebook.com/" +item.value+"/picture' height=25 /> " + item.label + "</a>" )
        .appendTo( ul );
    };

  });

  function removeFriend(fbid) {
    $("#added-"+fbid).remove();

    var idx = recips.indexOf(fbid);
	if (idx > -1) { recips.splice(idx, 1); }
	$('#msg-txt-friend-'+fbid).remove();

	$('.preset_names').html(friendNames());
  }
  </script>


