<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
	<head prefix="og: http://ogp.me/ns# edgeflip: 
                  http://ogp.me/ns/apps/edgeflip#">
	<title>{{ page_title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta property="fb:app_id" content="{{ fb_app_id }}" /> 
	<meta property="og:type" content="{{ fb_app_name }}:{{ fb_object_type }}" /> 
	<meta property="og:title" content="{{ fb_object_title }}" /> 
	<meta property="og:image" content="{{ fb_object_image }}" /> 
	<meta property="og:description" content="{{ fb_object_desc }}" /> 
	<meta property="og:url" content="{{ fb_object_url }}">
