<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
	<head prefix="og: http://ogp.me/ns# edgeflip: 
                  http://ogp.me/ns/apps/edgeflip#">
	<title>TIME Targeted Sharing Article</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta property="fb:app_id" content="471727162864364" /> 
	<meta property="og:type" content="edgeflip:article" /> 
	<meta property="og:title" content="TIME Targeted Sharing Article" /> 
	<meta property="og:image" content="{{ url_for('static', filename='doc_brown.jpg') }}" /> 
	<meta property="og:description" content="According to TIME Magazine, Targeted Sharing is cool! Jim Messina called it one of the best things Obama's re-election campaign did and now you can use it to, for the low price of $100 Million." /> 
	<meta property="og:url" content="http://rayid.bigmarker.com/button">

	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />

	<!-- edgeflip stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_man.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='faces.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='share_msg.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manual_add.css') }}" />
	<!-- edgeflip stylesheets -->

  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
	<script>
		dojo.require("dojox.html.ellipsis");
	</script>

	<SCRIPT type="text/javascript">

		var myfbid; // The FB ID of the current user to be filled in upon auth.

		function preload(arrayOfImages) {
    		$(arrayOfImages).each(function () {
        		$('<img />').attr('src',this);
        		// .load(function() {alert('Preloaded: '+this)} );
        		// .appendTo('body').css('display','none');
    		});
		}
		
//		function button_change(div_id, img_name) {
//			document.getElementById(div_id).style.backgroundImage="url('"+img_name+"')";
//		}

		function show_friends() {
			hn = window.innerHeight*0.30;
			$("#share_content").animate({height:hn}, 500);

			setTimeout(function(){document.getElementById('share_button').style.display='none'; document.getElementById('friends_div').style.display='block';}, 400);

			// FB login stuff??
			FB.login(function(response) {
				if (response.authResponse) {
					FB.api('/me', function(info) {
						login(response, info);
					});	   
				}
			}, {scope:'email,user_birthday,status_update,publish_stream,user_about_me'});

		}

	</SCRIPT>

	<SCRIPT>
		imgsToLoad = [	"{{ url_for('static', filename='button_mouse.jpg') }}", 
						"{{ url_for('static', filename='share.jpg') }}",
						"{{ url_for('static', filename='share_mouse.jpg') }}",
						"{{ url_for('static', filename='aniprogress.gif') }}"
					];
		preload(imgsToLoad);
	</SCRIPT>

	<SCRIPT>

//	$(document).on( 'mouseenter', '.xout', function(e) { $(this).css('background-color', 'red'); });
//	$(document).on( 'mouseleave', '.xout', function(e) { $(this).css('background-color', '#CC0000'); });

	function doReplace(old_fbid) {

		var div_id = '#friend-'+old_fbid;

		// Remove the friend from the messages
		var idx = recips.indexOf(old_fbid);
		if (idx > -1) { recips.splice(idx, 1); }
		$('#msg-txt-friend-'+old_fbid).remove();

		if (nextidx < friends.length) {
			// Figure out the new friend
			var friend = friends[nextidx];
			var id = friend['id'];
			var fname = friend['fname'];
			var lname = friend['lname'];

			// Add the new friend to the list of message tags (since they'll start off pre-checked)
			recips.push(id);
			$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+id+'" contentEditable="False">'+fbnames[id]+'</span> ');

			// Update the friends shown
			// $(div_id).replaceWith(friendHTML(old_fbid, id, fname, lname, div_id));
			friendHTML(old_fbid, id, fname, lname, div_id);

			nextidx++;
		} else {
			// No new friends to add, so just hide this one
			$(div_id).remove();
		}

		// Update the message text with the new names
		$('.preset_names').html(friendNames());
	}

	function friendHTML(oldid, id, fname, lname, div_id) {

		var new_html;
		var userid = myfbid; // myfbid should get set globablly upon login/auth
		var appid = 471727162864364;
		var content = 'edgeflip:article http://rayid.bigmarker.com/button';

		var params = JSON.stringify({
			userid: userid,
			appid: appid,
			content: content,
			oldid: oldid,
			newid: id,
			fname: fname,
			lname: lname
		});

		$.ajax({
			type: "POST",
			url: '/suppress',
			contentType: "application/json",
			dataType: 'html',
			data: params,
			error: function(jqXHR, textStatus, errorThrown) {
						new_html = 'Error pants: ' + textStatus + ' ' + errorThrown;
						$(div_id).replaceWith(new_html);
			},
			success: function(data) {
						new_html = data;
						$(div_id).replaceWith(new_html);
			}
		});

	}

	</SCRIPT>


  <script type="text/javascript">

  function doShare()
  {

    if (recips.length == 0) { alert('Please choose at least one friend to share with.'); return; }


    msg_recips = "";

    for (i=0; i < (recips.length-1); i++) {
      msg_recips += "@[" + recips[i] + "], ";
    }

    if (recips.length > 2) {
      msg_recips += 'and ' + "@[" + recips[recips.length-1] + "]";
    } else if (recips.length == 2) {
      msg_recips = "@[" + recips[0] + "] and @[" + recips[1] + "]";
    } else {
      msg_recips = "@[" + recips[0] + "]";
    }


  	var msg_type = $('input:radio[name=msg]:checked').val();
  	var msg = "";

    if (!msg_type || msg_type === "") { alert('Please choose a message to send or write your own'); return;}

  	if (msg_type === "hi-there") {
  		msg = 'Hi there '+msg_recips+' -- I just donated to Chicago Public Radio and you should, too!';
  	} else if (msg_type === "kasell") {
  		msg = 'Carl Kasell has a message for you. Go donate to Chicago Public Radio, '+msg_recips+'!';
  	} else if (msg_type === "other") {

      for (i=0; i < recips.length; i++) {
        $('#msg-txt-friend-'+recips[i]).replaceWith("@[" + recips[i] + "]");
      }
      msg = $('#other_msg').html();
  	} else {
  		alert("Ruh-Roh!!");
  	}


    FB.api(
      '/me/edgeflip:read',
      'post',
      { 
      	contribution: 'http://rayid.bigmarker.com/button',
      	message: msg
      },
      function(response) {
         if (!response || response.error) {
            alert('Error occured ' + response.error.message);
         } else {
            alert('Post was successful! Action ID: ' + response.id);
         }
      });
  }
  </script>

  <script>

    var recips = [];

    function friendNames() {
      recip_str = "";

      if (recips.length == 0) { return ""; }

      for (i=0; i < (recips.length-1); i++) {
        recip_str += "<span class='msg_friend_name'>" + fbnames[recips[i]] + "</span>, ";
      }

      if (recips.length > 2) {
        recip_str += 'and ' + "<span class='msg_friend_name'>" + fbnames[recips[recips.length-1]] + "</span>";
      } else if (recips.length == 2) {
        recip_str = "<span class='msg_friend_name'>" + fbnames[recips[0]] + "</span> and <span class='msg_friend_name'>" + fbnames[recips[1]] + "</span>";
      } else {
        recip_str = "<span class='msg_friend_name'>" + fbnames[recips[0]] + "</span>";
      }

      return recip_str;
    }

    function toggleFriend(fbid) {
      var idx = recips.indexOf(fbid);
      if (idx > -1) { recips.splice(idx, 1); }
      $('#msg-txt-friend-'+fbid).remove();

      if ($('#box-'+fbid).is(':checked')) {
        recips.push(fbid);
        $('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+fbid+'" contentEditable="False">'+fbnames[fbid]+'</span> ');
      }

      $('.preset_names').html(friendNames());

    }

  	function updateMsg() {

  	  var msg_type = $('input:radio[name=msg]:checked').val();
      if (msg_type === "other") { 
        $('#other_msg').show().focus();

        var reptxt = $('#other_msg').text().indexOf('Replace this text with your message for ');

        if ( reptxt > -1 ) {

          var txtnode = document.getElementById('other_msg');

          if (document.createRange) {

            var selection = window.getSelection();
            var range = document.createRange();

            range.setStart(txtnode.firstChild, reptxt);
            range.setEnd(txtnode.firstChild, reptxt+40);
            selection.removeAllRanges();
            selection.addRange(range);

          } else {

            var range = document.body.createTextRange();
            range.moveToElementText($('#other_msg'));
            range.moveStart("character", reptxt);
            range.collapse(true);
            range.moveEnd("character", reptxt+40);
            range.select();

          }
        }
      } else {
        $('#other_msg').hide();
      }

  	}

  </script>


</HEAD>

<BODY bgcolor="#ffffff">

<div style="display: table; position: relative; margin: 0px auto;">
<div style="font-family:arial,sans-serif; font-size:71px; color:#0052CC; font-weight:900; display: inline-block;">edgeflip</div> <div style="font-family:arial,sans-serif; font-size:37px; font-weight:100; left: -70px; bottom: -15px; position: relative; display: inline-block;">sharing demo</div>
</div>

<!-- http://swampland.time.com/2012/11/07/inside-the-secret-world-of-quants-and-data-crunchers-who-helped-obama-win/ -->
<!-- http://swampland.time.com/2012/11/20/friended-how-the-obama-campaign-connected-with-young-voters/ -->
<iframe src="http://swampland.time.com/2012/11/20/friended-how-the-obama-campaign-connected-with-young-voters/print/" id="share_content"></iframe>
<SCRIPT>

	// Readjust iframe to relative height.
	// Note that this can't be done with CSS height: 70% because 70% refers to the height of the
	// content, not the height of the window, so the frame appears too small.

	iheight = window.innerHeight*0.70;
	$("#share_content").height(iheight);

</SCRIPT>
<BR><BR>
<CENTER>

<!-- SHARE BUTTON -->
<div id="share_button" onclick="show_friends();"></div>

<div id="friends_div" style="display:none;">

	<div id='progress' style='text-align: center; display: none'>
		<img src="{{url_for('static', filename='aniprogress.gif')}}">
		<p></p>
	</div>
	
	<div id="your-friends-here"></div>

</div>

</CENTER>


<div id="fb-root"></div>
<script type="text/javascript">
	
	window.fbAsyncInit = function() {


		FB.init({ appId: '471727162864364', //change the appId to your appId
			status: true, 
			cookie: true,
			xfbml: true,
			oauth: true});

	}; // fbAsyncInit

	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol 
			+ '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
	
	
	function login(response, info){
		if (response.authResponse) {
			var accessToken	= response.authResponse.accessToken;
			var fbid = info.id;
			var num = 1000;
			myfbid = fbid;

			var friends_div = $('#your-friends-here');
			var progress = $('#progress');


			progress.show();	
						
			var params = JSON.stringify({
				fbid: fbid,
				token: accessToken,
				num: num
			});

			$.ajax({
				type: "POST",
				url: '/edgeflip_faces',
				contentType: "application/json",
				dataType: 'html',
				data: params,
				error: function(jqXHR, textStatus, errorThrown) {
							friends_div.text('Error pants: ' + textStatus + ' ' + errorThrown);
							progress.css('display', 'none');
				},
				success: function(data) {
							friends_div.html(data);	
							friends_div.show();
							progress.css('display', 'none');
							$('#do_share_button').show()
				}
			});

		}
	}
	
</script>

</BODY>
</HTML>