<!DOCTYPE html>

{#- eventually all of these parameters should be specified by python, allowing customizable content -#}

{%- set page_title = 'TIME Targeted Sharing Article' -%}

{%- set fb_app_name = 'edgeflip' -%}
{%- set fb_app_id = '471727162864364' -%}

{%- set fb_action_type = 'read' -%}
{%- set fb_object_type = 'article' -%}
{%- set fb_object_title = 'TIME Targeted Sharing Article' -%}
{%- set fb_object_image = url_for('static', filename='doc_brown.jpg') -%}
{%- set fb_object_desc = "According to TIME Magazine, Targeted Sharing is cool! Jim Messina called it one of the best things Obama's re-election campaign did and now you can use it to, for the low price of $100 Million." -%}
{%- set fb_object_url = "http://rayid.bigmarker.com/button" -%}

{#- In the future, maybe pass as an array and set message code with a loop? -#}
{%- set msg1_pre = "Hi there " -%}
{%- set msg1_post = " -- I just read a great article about Targeted Sharing and you should, too!" -%}
{%- set msg2_pre = "Targeted Sharing is the way of the future. Go read about it now, " -%}
{%- set msg2_post = "!" -%}
{%- set msg_other_prompt = "Write your own message (type around your friends' names):" -%}
{%- set msg_other_init = "Replace this text with your message for " -%}


{%- include 'fb_object_header.html' -%}

	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />

	<!-- edgeflip stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_man.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='faces.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='share_msg.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manual_add.css') }}" />
	<STYLE>

		/* Funny thing about static CSS style sheets... can't template them out! */

		#share_button {
			background-image: url('{{ url_for('static', filename='button.jpg') }}');
			width: 255px; 
			height: 40px; 
		}

		#share_button:hover {
			background-image: url('{{ url_for('static', filename='button_mouse.jpg') }}');
		}

		#do_share_button {
			background-image: url('{{ url_for('static', filename='share.jpg') }}'); 
			width: 255px; 
			height: 40px;
		}

		#do_share_button:hover {
			background-image: url('{{ url_for('static', filename='share_mouse.jpg') }}');
		}

	</STYLE>
	<!-- edgeflip stylesheets -->

  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
	<script>
		dojo.require("dojox.html.ellipsis");
	</script>

	<!-- edgeflip javascript -->
	<script src="{{ url_for('static', filename='load_and_login.js') }}"></script>
	<SCRIPT>
		imgsToLoad = [	"{{ url_for('static', filename='button_mouse.jpg') }}", 
						"{{ url_for('static', filename='share.jpg') }}",
						"{{ url_for('static', filename='share_mouse.jpg') }}",
						"{{ url_for('static', filename='aniprogress.gif') }}"
					];
		preload(imgsToLoad);
	</SCRIPT>
	<SCRIPT>
		{% include 'faces_and_msg.js' %}
	</SCRIPT>
	<!-- edgeflip javascript -->

</HEAD>

<BODY>

<div style="display: table; position: relative; margin: 0px auto;">
<div style="font-family:arial,sans-serif; font-size:71px; color:#0052CC; font-weight:900; display: inline-block;">edgeflip</div> <div style="font-family:arial,sans-serif; font-size:37px; font-weight:100; left: -70px; bottom: -15px; position: relative; display: inline-block;">sharing demo</div>
</div>

<!-- http://swampland.time.com/2012/11/07/inside-the-secret-world-of-quants-and-data-crunchers-who-helped-obama-win/ -->
<!-- http://swampland.time.com/2012/11/20/friended-how-the-obama-campaign-connected-with-young-voters/ -->
<iframe src="http://swampland.time.com/2012/11/20/friended-how-the-obama-campaign-connected-with-young-voters/print/" id="share_content"></iframe>
<SCRIPT>

	// Readjust iframe to relative height.
	// Note that this can't be done with CSS height: 70% because 70% refers to the height of the
	// content, not the height of the window, so the frame appears too small.

	iheight = window.innerHeight*0.70;
	$("#share_content").height(iheight);

</SCRIPT>
<BR><BR>
<CENTER>

<!-- SHARE BUTTON -->
<div id="share_button" onclick="show_friends();"></div>

<div id="friends_div" style="display:none;">

	<div id='progress' style='text-align: center; display: none'>
		<img src="{{url_for('static', filename='aniprogress.gif')}}">
		<p></p>
	</div>
	
	<div id="your-friends-here">

		<div class="left_container"></div> <!-- left_container -->

		<div class="right_container">
		<div class="msg_title">Choose A Message:</div>
		<div class="msg_picker">

			<div class="msg_block">
				<div class="msg_radio">
					<input type="radio" name="msg" value="msg1" onChange="updateMsg();" /> 
				</div>
				<div class="msg_txt">
					{{ msg1_pre }}<span class="preset_names"></span>{{ msg1_post }}
				</div>
			</div>

			<div class="msg_block">
				<div class="msg_radio">
					<input type="radio" name="msg" value="msg2" onChange="updateMsg();" /> 
				</div>
				<div class="msg_txt">
					{{ msg2_pre }}<span class="preset_names"></span>{{ msg2_post }}
				</div>
			</div>

			<div class="msg_block">
				<div class="msg_radio">
					<input type="radio" name="msg" value="other" onChange="updateMsg();" /> 
				</div>
				<div class="msg_txt">
					{{ msg_other_prompt }}<BR />
					<div id="other_msg" contentEditable="True">{{ msg_other_init }}</div>
				</div>
			</div>	

		</div> <!-- msg_picker -->

		<div id="do_share_container">
			<div id="do_share_button" onclick="doShare();"></div>
		</div>

		</div> <!-- right_container -->

	</div>

</div>

</CENTER>


<div id="fb-root"></div>
<script type="text/javascript">
	
	window.fbAsyncInit = function() {


		FB.init({ appId: '{{ fb_app_id }}', //change the appId to your appId
			status: true, 
			cookie: true,
			xfbml: true,
			oauth: true});

	}; // fbAsyncInit

	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol 
			+ '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
		
</script>

</BODY>
</HTML>