<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
	<head prefix="og: http://ogp.me/ns# edgeflip: 
                  http://ogp.me/ns/apps/edgeflip#">
	<title>TIME Targeted Sharing Article</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta property="fb:app_id" content="471727162864364" /> 
	<meta property="og:type" content="edgeflip:article" /> 
	<meta property="og:title" content="TIME Targeted Sharing Article" /> 
	<meta property="og:image" content="{{ url_for('static', filename='doc_brown.jpg') }}" /> 
	<meta property="og:description" content="According to TIME Magazine, Targeted Sharing is cool! Jim Messina called it one of the best things Obama's re-election campaign did and now you can use it to, for the low price of $100 Million." /> 
	<meta property="og:url" content="http://rayid.bigmarker.com/button">

	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />

	<!-- edgeflip stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button_man.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='faces.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='share_msg.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='manual_add.css') }}" />
	<STYLE>

		/* Funny thing about static CSS style sheets... can't template them out! */

		#share_button {
			background-image: url('{{ url_for('static', filename='button.jpg') }}');
			width: 255px; 
			height: 40px; 
		}

		#share_button:hover {
			background-image: url('{{ url_for('static', filename='button_mouse.jpg') }}');
		}

		#do_share_button {
			background-image: url('{{ url_for('static', filename='share.jpg') }}'); 
			width: 255px; 
			height: 40px;
		}

		#do_share_button:hover {
			background-image: url('{{ url_for('static', filename='share_mouse.jpg') }}');
		}

	</STYLE>
	<!-- edgeflip stylesheets -->

  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
	<script>
		dojo.require("dojox.html.ellipsis");
	</script>

	<!-- edgeflip javascript -->
	<script src="{{ url_for('static', filename='load_and_login.js') }}"></script>
	<SCRIPT>
		imgsToLoad = [	"{{ url_for('static', filename='button_mouse.jpg') }}", 
						"{{ url_for('static', filename='share.jpg') }}",
						"{{ url_for('static', filename='share_mouse.jpg') }}",
						"{{ url_for('static', filename='aniprogress.gif') }}"
					];
		preload(imgsToLoad);
	</SCRIPT>
	<script src="{{ url_for('static', filename='faces_and_msg.js') }}"></script>
	<!-- edgeflip javascript -->

</HEAD>

<BODY>

<div style="display: table; position: relative; margin: 0px auto;">
<div style="font-family:arial,sans-serif; font-size:71px; color:#0052CC; font-weight:900; display: inline-block;">edgeflip</div> <div style="font-family:arial,sans-serif; font-size:37px; font-weight:100; left: -70px; bottom: -15px; position: relative; display: inline-block;">sharing demo</div>
</div>

<!-- http://swampland.time.com/2012/11/07/inside-the-secret-world-of-quants-and-data-crunchers-who-helped-obama-win/ -->
<!-- http://swampland.time.com/2012/11/20/friended-how-the-obama-campaign-connected-with-young-voters/ -->
<iframe src="http://swampland.time.com/2012/11/20/friended-how-the-obama-campaign-connected-with-young-voters/print/" id="share_content"></iframe>
<SCRIPT>

	// Readjust iframe to relative height.
	// Note that this can't be done with CSS height: 70% because 70% refers to the height of the
	// content, not the height of the window, so the frame appears too small.

	iheight = window.innerHeight*0.70;
	$("#share_content").height(iheight);

</SCRIPT>
<BR><BR>
<CENTER>

<!-- SHARE BUTTON -->
<div id="share_button" onclick="show_friends();"></div>

<div id="friends_div" style="display:none;">

	<div id='progress' style='text-align: center; display: none'>
		<img src="{{url_for('static', filename='aniprogress.gif')}}">
		<p></p>
	</div>
	
	<div id="your-friends-here"></div>

</div>

</CENTER>


<div id="fb-root"></div>
<script type="text/javascript">
	
	window.fbAsyncInit = function() {


		FB.init({ appId: '471727162864364', //change the appId to your appId
			status: true, 
			cookie: true,
			xfbml: true,
			oauth: true});

	}; // fbAsyncInit

	(function() {
		var e = document.createElement('script'); e.async = true;
		e.src = document.location.protocol 
			+ '//connect.facebook.net/en_US/all.js';
		document.getElementById('fb-root').appendChild(e);
	}());
		
</script>

</BODY>
</HTML>