


	<table id="friend-table">
		<tr>
			<td>&nbsp;</td>
			<td>fbid</td>
			<td>name</td>
			<td colspan=9>counts</td>
			<td>score</td>
		</tr>

		{% for friend in friends %}
			<tr>
				<td>{{friend.rank}}</td>
				<td>{{friend.id}}</td>
				<td>{{friend.name}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count0}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count1}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count2}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count3}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count4}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count5}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count6}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count7}}</td>
				<td style='font-size: 0.75em; text-align: right'>{{friend.count8}}</td>
				<td>{{friend.score}}</td>
			</tr>
		{% endfor %}

	</table>
