<html>

<head>

</head>




<body>

	<div style='margin: 0px auto; width: 800px; padding: 20px; background-color: #CFCFCF; font-family: arial, sans; font-weight: bold'>

		<span style='font-size: 2.0em'>edgeflip queue control<br><br></span>
		<p>

		queue&nbsp;<input type='text' name='txtQueueName' id='txtQueueName' size=22 value='{{queueName}}'>&nbsp has {{queueSize}}&nbsp;entries ({{updateTs}})&nbsp;
		<input type='button' value='update' style='width: 100px'>
		<p>

		<input type='button' value='reset queue' style='width: 100px'>
		<p>

		<input type='button' value='load queue' style='width: 100px'>&nbsp;<input type='text' name='txtLoadPath' id='txtLoadPath' size=50 value='{{loadName}}'>
		<p>





</body>

</html>