friend count: {{face_friends|length}}
<br>
<br>
{% for face_friend in face_friends %}
	<div style="bottom-border: thin dash darkblue;">
	<TABLE BORDER=0>
	  <TR>
	    <TD VALIGN="CENTER" ALIGN="LEFT">{{loop.index}}.</TD>
	    <TD VALIGN="TOP"><img src="http://graph.facebook.com/{{face_friend.id}}/picture" border=0/></TD>
		<TD VALIGN="TOP">{{face_friend.name}}<BR>
		Score: {{face_friend.score}}<br> 
		<span style="text-size: small;">Counts: {{face_friend.desc}}</span><br>
	</TD></TR>
	</TABLE>
	</div>
{% endfor %}

