<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
	<head prefix="og: http://ogp.me/ns# edgeflip: 
                  http://ogp.me/ns/apps/edgeflip#">
	<title>Chicago Public Radio</title>
	<meta property="fb:app_id" content="471727162864364" /> 
	<meta property="og:type" content="edgeflip:contribution" /> 
	<meta property="og:title" content="Chicago Public Radio" /> 
	<meta property="og:image" content="http://archives.wrkf.org/piclib/1218.jpg" /> 
	<meta property="og:description" content="Your New Answering Service." /> 
	<meta property="og:url" content="http://rayid.bigmarker.com:5000/pretty_faces">

	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojox/html/resources/ellipsis.css" />

	<STYLE>

		.friends_table {
			border: 5px solid #e4e6e0;
			background-color: #e4e6e0;
		}

		.friend_box {
			padding: 6px;
			border: thin solid gray;
			border-radius: 10px;
			-moz-border-radius: 10px;
			background-color: #07304e;
			width: 172px;
			position: relative;
		}

		.friend_pic {
			width: 60px;
			text-align: center;
			vertical-align: middle;
			display: inline-block;
		}

		.friend_txt {
			width: 100px;
			text-align: left;
			vertical-align: top;
			display: inline-block;
		}

		.friend_name {
			color: white;
			text-decoration: none;
			width: 100%; 
			overflow: hidden; 
			white-space: nowrap; 
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			-webkit-text-overflow: ellipsis;
		}

		.friend_checkbox {
			width: 100px;
			text-align: right;
		}

		.dojoxEllipsis,
		.dojoxEllipsisShown {
			color: white;
		}

		.xout {
			background-color: #CC0000; 
			color: white; 
			width: 12px; 
			height: 12px; 
			border: thin solid maroon; 
			border-radius: 6px; 
			font-size: 10px; 
			font-weight: bold; 
			text-align: center; 
			vertical-align: middle; 
			font-family: arial,sans-serif; 
			cursor: pointer;
			position: absolute;
			top: -3px;
			left: -3px;
			z-index: 10;
		}

	    .msg_friend_name {
	      /* color: DodgerBlue; */
	      color: #0A5195;
	      /* border-bottom: thin dashed DodgerBlue; */
	      border-bottom: thin dashed #0A5195;
	    }

	    .msg_picker,
	    .msg_title {
	    	width: 600px;
	    	margin: 0px auto; 
	    	display: table;
	    }

	    .msg_title {
	    	font-size: 22px;
	    	text-align: left;
	    	color: #07304e;
	    	padding-left: 15px;
	    }

	    .msg_picker {
	    	border: 1px solid #07304e;
	    	border-radius: 20px;
	    	/* background-color: #EBF3FF; */
	    	background-color: #E6F2FF;
	    	padding: 10px;
	    }

	    #other_msg {
	    	display: none;
	    	border: solid thin gray;
	    	background-color: white;
	    	padding: 10px;
	    	width: 500px;
	    }

	    #do_share_button {
	    	background-image: url('{{ url_for('static', filename='share.jpg') }}'); 
	    	width: 255px; 
	    	height: 40px; 
	    	color: white; 
	    	cursor: pointer; 
	    	display: block;
	    }

	</STYLE>

	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
	<script>
		dojo.require("dojox.html.ellipsis");
	</script>

	<SCRIPT>

	$(document).on( 'mouseenter', '.xout', function(e) { $(this).css('background-color', 'red'); });
	$(document).on( 'mouseleave', '.xout', function(e) { $(this).css('background-color', '#CC0000'); });

	var nextidx = 6;
	var friends = [
		{'id': 6963, 'fname': 'Michelangelo', 'lname': 'D\'Agostino'},
		{'id': 889290332, 'fname': 'MyNameIsMuchTooLongForThisDivSoYouShouldGetSomeEllipsis', 'lname': 'Shallwani'},
		{'id': 511853926, 'fname': 'Tim', 'lname': 'D\'Trautman'},
		{'id': 1196205988, 'fname': 'Warren', 'lname': 'Flood'},
		{'id': 122601112, 'fname': 'Marf', 'lname': 'Tanner'},
		{'id': 100005022126470, 'fname': 'Trevo', 'lname': 'Noisulli'},
		{'id': 500876410, 'fname': 'Rayid', 'lname': 'Ghani'},
		{'id': 100003222687678, 'fname': 'Matthew', 'lname': 'Rattigan'},
		{'id': 737543313, 'fname': 'Marilyce', 'lname': 'Hale'},
		{'id': 509180028, 'fname': 'Claster', 'lname': 'Pants'}
	]

	function doReplace(old_fbid) {

		var div_id = '#friend-'+old_fbid;

		// Remove the friend from the messages
		var idx = recips.indexOf(old_fbid);
		if (idx > -1) { recips.splice(idx, 1); }
		$('#msg-txt-friend-'+old_fbid).remove();

		if (nextidx < friends.length) {
			// Figure out the new friend
			var friend = friends[nextidx];
			var id = friend['id'];
			var fname = friend['fname'];
			var lname = friend['lname'];

			// Add the new friend to the list of message tags (since they'll start off pre-checked)
			recips.push(id);
			$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+id+'" contentEditable="False">'+fbnames[id]+'</span> ');

			// Update the friends shown
			// $(div_id).replaceWith(friendHTML(old_fbid, id, fname, lname, div_id));
			friendHTML(old_fbid, id, fname, lname, div_id);

			nextidx++;
		} else {
			// No new friends to add, so just hide this one
			$(div_id).remove();
		}

		// Update the message text with the new names
		$('.preset_names').html(friendNames());
	}

	function friendHTML(oldid, id, fname, lname, div_id) {

		var new_html;
		var userid = 31415926535; // Assume we'll actually grab this from auth/login
		var appid = 471727162864364;
		var content = 'edgeflip:contribution http://rayid.bigmarker.com:5000/pretty_faces';

		var params = JSON.stringify({
			userid: userid,
			appid: appid,
			content: content,
			oldid: oldid,
			newid: id,
			fname: fname,
			lname: lname
		});

		$.ajax({
			type: "POST",
			url: '/suppress',
			contentType: "application/json",
			dataType: 'html',
			data: params,
			error: function(jqXHR, textStatus, errorThrown) {
						new_html = 'Error pants: ' + textStatus + ' ' + errorThrown;
						$(div_id).replaceWith(new_html);
			},
			success: function(data) {
						new_html = data;
						$(div_id).replaceWith(new_html);
			}
		});

	}

	</SCRIPT>


  <script type="text/javascript">

	function button_change(div_id, img_name) {
		document.getElementById(div_id).style.backgroundImage="url('"+img_name+"')";
	}

  function postContrib()
  {

    if (recips.length == 0) { alert('Please choose at least one friend to share with.'); return; }


    msg_recips = "";

    for (i=0; i < (recips.length-1); i++) {
      msg_recips += "@[" + recips[i] + "], ";
    }

    if (recips.length > 2) {
      msg_recips += 'and ' + "@[" + recips[recips.length-1] + "]";
    } else if (recips.length == 2) {
      msg_recips = "@[" + recips[0] + "] and @[" + recips[1] + "]";
    } else {
      msg_recips = "@[" + recips[0] + "]";
    }


  	var msg_type = $('input:radio[name=msg]:checked').val();
  	var msg = "";

    if (!msg_type || msg_type === "") { alert('Please choose a message to send or write your own'); return;}

  	if (msg_type === "hi-there") {
  		msg = 'Hi there '+msg_recips+' -- I just donated to Chicago Public Radio and you should, too!';
  	} else if (msg_type === "kasell") {
  		msg = 'Carl Kasell has a message for you. Go donate to Chicago Public Radio, '+msg_recips+'!';
  	} else if (msg_type === "other") {

      for (i=0; i < recips.length; i++) {
        $('#msg-txt-friend-'+recips[i]).replaceWith("@[" + recips[i] + "]");
      }
      msg = $('#other_msg').html();
  	} else {
  		alert("Ruh-Roh!!");
  	}


    FB.api(
      '/me/edgeflip:donate',
      'post',
      { 
      	contribution: 'http://rayid.bigmarker.com:5000/pretty_faces',
      	message: msg
      },
      function(response) {
         if (!response || response.error) {
            alert('Error occured ' + response.error.message);
         } else {
            alert('Post was successful! Action ID: ' + response.id);
         }
      });
  }
  </script>

  <script>
  	// This needs to the dictionary of all names, not just those initially shown...
    var fbnames = {
                    6963: 'Michelangelo D\'Agostino',
                    889290332: 'Aziz Shallwani',
                    511853926: 'Tim Trautman',
                    1196205988: 'Warren Flood',
                    122601112: 'Marf Tanner',
                    100005022126470: 'Trevo Noisulli',
                    100003222687678: 'Matthew Rattigan',
                    500876410: 'Rayid Ghani',
                    737543313: 'Marilyce Hale',
                    509180028: 'Claster Pants'
                  }

    var recips = [];

    function friendNames() {
      recip_str = "";

      if (recips.length == 0) { return ""; }

      for (i=0; i < (recips.length-1); i++) {
        recip_str += "<span class='msg_friend_name'>" + fbnames[recips[i]] + "</span>, ";
      }

      if (recips.length > 2) {
        recip_str += 'and ' + "<span class='msg_friend_name'>" + fbnames[recips[recips.length-1]] + "</span>";
      } else if (recips.length == 2) {
        recip_str = "<span class='msg_friend_name'>" + fbnames[recips[0]] + "</span> and <span class='msg_friend_name'>" + fbnames[recips[1]] + "</span>";
      } else {
        recip_str = "<span class='msg_friend_name'>" + fbnames[recips[0]] + "</span>";
      }

      return recip_str;
    }

    function toggleFriend(fbid) {
      var idx = recips.indexOf(fbid);
      if (idx > -1) { recips.splice(idx, 1); }
      $('#msg-txt-friend-'+fbid).remove();

      if ($('#box-'+fbid).is(':checked')) {
        recips.push(fbid);
        $('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+fbid+'" contentEditable="False">'+fbnames[fbid]+'</span> ');
      }

      $('.preset_names').html(friendNames());

    }

  	function updateMsg() {

  	  var msg_type = $('input:radio[name=msg]:checked').val();
      if (msg_type === "other") { 
        $('#other_msg').show().focus();

        var reptxt = $('#other_msg').text().indexOf('Replace this text with your message for ');

        if ( reptxt > -1 ) {

          var txtnode = document.getElementById('other_msg');

          if (document.createRange) {

            var selection = window.getSelection();
            var range = document.createRange();

            range.setStart(txtnode.firstChild, reptxt);
            range.setEnd(txtnode.firstChild, reptxt+40);
            selection.removeAllRanges();
            selection.addRange(range);

          } else {

            var range = document.body.createTextRange();
            range.moveToElementText($('#other_msg'));
            range.moveStart("character", reptxt);
            range.collapse(true);
            range.moveEnd("character", reptxt+40);
            range.select();

          }
        }
      } else {
        $('#other_msg').hide();
      }

  	}

  </script>


</HEAD>

<BODY>

  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '471727162864364', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));


  </script>

  <table align="center" cellspacing="5px">
  	<tr><td>
    	<img title="Carl Kasell" src="http://archives.wrkf.org/piclib/1218.jpg" />
  </td><td valign="top">
  	<h3>Wait Wait... Don't Leave Yet!</h3>
  	Help us spread the word by telling your friends<br>
  	you just made a donation to NPR.
  </td></tr>
  </table>

  <br>


<form>
<div style="display: table; margin: 0px auto; white-space: nowrap;">
<div style="display: inline-block; width: 400px;">
<div class="msg_title" style="padding: 0px;">Choose Some Friends:</div>
<div style="width: 400px;">
<table align=center border=0 cellpadding=0 cellspacing=7 class="friends_table">
	<tr>

		<td>
			<div class="friend_box" id="friend-6963">
				<div class="xout" onClick="doReplace(6963);">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/6963/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						Michelangelo
					</div>
					<div class="friend_name dojoxEllipsis">
						D'Agostino
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-6963" checked="checked" onChange="toggleFriend(6963);">
					</div>
				</div>
			</div>
		</td>

		<td>
			<div class="friend_box" id="friend-889290332">
				<div class="xout" onClick="doReplace(889290332);">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/889290332/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						MyNameIsMuchTooLongForThisDivSoYouShouldGetSomeEllipsis
					</div>
					<div class="friend_name dojoxEllipsis">
						Shallwani
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-889290332" checked="checked" onChange="toggleFriend(889290332);">
					</div>
				</div>
			</div>
		</td>

		</tr><tr>

		<td>
			<div class="friend_box" id="friend-511853926">
				<div class="xout" onClick="doReplace(511853926);">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/511853926/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						Tim
					</div>
					<div class="friend_name dojoxEllipsis">
						Trautman
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-511853926" checked="checked" onChange="toggleFriend(511853926);">
					</div>
				</div>
			</div>
		</td>

		<td>
			<div class="friend_box" id="friend-1196205988">
				<div class="xout" onClick="doReplace(1196205988);">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/1196205988/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						Warren
					</div>
					<div class="friend_name dojoxEllipsis">
						Flood
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-1196205988" checked="checked" onChange="toggleFriend(1196205988);">
					</div>
				</div>
			</div>
		</td>

		</tr><tr>

		<td>
			<div class="friend_box" id="friend-122601112">
				<div class="xout" onClick="doReplace(122601112);">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/122601112/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						Marf
					</div>
					<div class="friend_name dojoxEllipsis">
						Tanner
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-122601112" checked="checked" onChange="toggleFriend(122601112);">
					</div>
				</div>
			</div>
		</td>

		<td>
			<div class="friend_box" id="friend-100005022126470">
				<div class="xout" onClick="doReplace(100005022126470);">
					x
				</div>
				<div class="friend_pic">
					<img src="http://graph.facebook.com/100005022126470/picture" border=0 />
				</div>
				<div class="friend_txt">
					<div class="friend_name dojoxEllipsis">
						Trevo
					</div>
					<div class="friend_name dojoxEllipsis">
						Noisulli
					</div>
					<div class="friend_checkbox">
						<input type="checkbox" id="box-100005022126470" checked="checked" onChange="toggleFriend(100005022126470);">
					</div>
				</div>
			</div>
		</td>

	</tr>
</table>
</div>
</div>

<!-- 
<BR />
<div style="width: 100%;">
	<div style="text-align: left; margin: 0px auto; display: table;">
		Color:
		<select onChange="$('.friend_box').css('background-color', $(this).val()); $('#color-text').val($(this).val());" id='color-select'>
			<option value="#07304e">OFA Dark Blue</option>
			<option value="indigo">Indigo</option>
			<option value="#370037">Dark Purple</option>
			<option value="brown">Brown</option>
			<option value="#613517">Dark Brown</option>
			<option value="maroon">Maroon</option>
			<option value="darkorange">Dark Orange</option>
			<option value="#CC5500">Burnt Orange</option>
			<option value="darkolivegreen">Dark Olive Green</option>
		</select>
		Or provide your own: <input type="text" onChange="$('.friend_box').css('background-color', $(this).val());" id='color-text' value="#07304e" />
		<BR />
		Rounded Rectangle Radius: <input type="text" onChange="$('.friend_box').css({'border-radius': $(this).val(), '-moz-border-radius': $(this).val()});" id='border-rad' value="10px" />
	</div>
</div>

<BR />
<BR />
-->

<div style="display: inline-block; vertical-align: top; margin-left: 15px; white-space: normal;">
<div class="msg_title">Choose A Message:</div>
<div class="msg_picker" style="margin-bottom: 5px;">

	<div style="padding-bottom: 15px;">
		<div style="display: inline-block; padding-right: 5px; vertical-align: top;">
			<input type="radio" name="msg" value="hi-there" onChange="updateMsg();" /> 
		</div>
		<div style="display: inline-block; width: 550px;">
			Hi there <span class="preset_names"></span> -- I just donated to Chicago Public Radio and you should, too!
		</div>
	</div>

	<div style="padding-bottom: 15px;">
		<div style="display: inline-block; padding-right: 5px; vertical-align: top;">
			<input type="radio" name="msg" value="kasell" onChange="updateMsg();" /> 
		</div>
		<div style="display: inline-block; width: 550px;">
			Carl Kasell has a message for you. Go donate to Chicago Public Radio, <span class="preset_names"></span>!
		</div>
	</div>

	<div style="padding-bottom: 15px;">
		<div style="display: inline-block; padding-right: 5px; vertical-align: top;">
			<input type="radio" name="msg" value="other" onChange="updateMsg();" /> 
		</div>
		<div style="display: inline-block; width: 550px;">
			Write your own message (type around your friends' names):<BR />
			<div id="other_msg" style="display: none; border: solid thin gray; padding: 10px; width: 500px;" contentEditable="True">Replace this text with your message for </div>
		</div>
	</div>	

</div>

<div style="align: right; width: 600px; position: relative;">
<div id="do_share_button" style="position: absolute; left: 345px;" onmouseover="button_change('do_share_button', '{{ url_for('static', filename='share_mouse.jpg') }}');" onmouseout="button_change('do_share_button', '{{ url_for('static', filename='share.jpg') }}');" onclick="postContrib();"></div>
</div>
</div>
</div>

</form>

<script>

	// Quick code to pre-load messages for testing...
	
	recips.push(6963);
	recips.push(889290332);
	recips.push(511853926);
	recips.push(1196205988);
	recips.push(122601112);
	recips.push(100005022126470);

	$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+6963+'" contentEditable="False">'+fbnames[6963]+'</span> ');
	$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+889290332+'" contentEditable="False">'+fbnames[889290332]+'</span> ');
	$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+511853926+'" contentEditable="False">'+fbnames[511853926]+'</span> ');
	$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+1196205988+'" contentEditable="False">'+fbnames[1196205988]+'</span> ');
	$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+122601112+'" contentEditable="False">'+fbnames[122601112]+'</span> ');
	$('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+100005022126470+'" contentEditable="False">'+fbnames[100005022126470]+'</span> ');

	$('.preset_names').html(friendNames());

</script>

</BODY>
</HTML>



