/* CSS FOR THE FACES */

.faces_container {
	width: 650px;
}

#manual_add {
	padding-left: 50px;
}

.left_container {
	width: 200px;
	margin: 50px;
	float: left;
}

.faces_container {
	background-color: #f7f7f7;
	border: 2px solid #7C889B;
	border-radius: 10px;
	padding: 15px;
}

.friends_table {
	border: 5px solid #f7f7f7;
	background-color: #f7f7f7;
}

.friend_box {
	padding: 7px 3px 3px 7px;
	border: thin solid gray;
	border-radius: 10px;
	-moz-border-radius: 10px;
	width: 160px;
	position: relative;
	cursor: pointer;
}

.selected_friend {
	background-color: #0f2446;
	color: white;
}

.selected_friend:hover {
	background-color: #0270A0;
	color: white;
}

.unselected_friend {
	background-color: #E6F2FF;
	color: #0f2446;
}

.unselected_friend:hover {
	background-color: #96C2F0;
	color: #0f2446;
}

.friend_pic {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.friend_pic, .friend_box img {
	width: 40px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.friend_txt {
	/* Have to specify width here to make ellipsis work */
	width: 110px;
	text-align: left;
	vertical-align: top;
	display: inline-block;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
	margin-left: 3px;
}

.friend_name {
	/* Have to specify width 100% here to make ellipsis work */
	color: inherit;
	text-decoration: none;
	width: 100%; 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.friend_checkbox {
	display: none;
	width: 100px;
	text-align: right;
}

.checkmark {
	display: none;
	position: absolute; 
	bottom: 2px; 
	right: 6px; 
	z-index: 10;
}


.dojoxEllipsis,
.dojoxEllipsisShown {
	color: inherit;
}

.xout {
	background-color: black;
	color: white; 
	width: 12px; 
	height: 12px; 
	line-height: 11px;
	border: thin solid white;
	border-radius: 6px; 
	font-size: 10px; 
	font-weight: bold; 
	text-align: center; 
	vertical-align: middle; 
	font-family: arial,sans-serif; 
	cursor: pointer;
	position: absolute;
	top: -4px;
	right: -4px;
	z-index: 10;
}

.xout:hover {
	background-color: #CC0000;
}
