/* CSS FOR MANUALLY ADDING FRIENDS */

#manual_add,
.ui-autocomplete,
.ui-menu, .ui-menu-item {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 11px;
}

#manual_add {
    width: 500px;
	padding-top: 5px;
	text-align: left;
    margin: 0px auto 30px auto;
	display: table;
	position: relative;
}

#manual_input_container {
	vertical-align: top;
}

#manual_input {
	width: 100%;
	max-width: 180px;
}

#picked_friends_container {
	vertical-align: bottom;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 100px;
}

.added_friend {
	font-size: smaller;
    color: #f0f0f8;
    border: thin solid gray;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    background-color: #0f2446;
    display: inline-block;
    white-space: nowrap;
}

.added_x {
    border-left: thin solid #f0f0f8;
    margin-left: 3px;
    padding-left: 2px;
    padding-right: 1px;
    display:inline-block;
    cursor: pointer;
    font-weight: bold;
}

.added_x:hover {
	color: #00A3DD;
}
