body {
	background-color: white;
	margin-left: 15px;
	margin-right: 15px;
}

#share_content {
	width: 100%; 
	height: 500px; /* NOTE: This will get readjusted to relative height with JS below */ 
	border: thin solid black;
}

#share_button {
	color: white; 
	cursor: pointer;
	display: table;
	margin: 0px auto;
}

#your-friends-here {
	display: none;
	margin: 0px auto;
	white-space: nowrap;
}

#friends_div {
	display: none;
	margin: 0px auto;
	white-space: nowrap;
}
