body {
/*	background-color: rgb(234, 234, 234);
	margin-left: 15px;
	margin-right: 15px;
*/
	background-image: url('http://secure.assets.bostatic.com/resize/wind-power-20130204002558.jpg');
    background-size: cover;
    background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

#share_content {
	width: 100%; 
	height: 500px; /* NOTE: This will get readjusted to relative height with JS below */ 
	border: thin solid black;
}

#share_button {
	color: white; 
	cursor: pointer;
	display: table;
	margin: 0px auto;
}

#your-friends-here {
	display: none;
	margin: 0px auto;
	white-space: nowrap;
}

#friends_div {
	display: none;
	margin: 0px auto;
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
}
