

#content {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	font-family: arial, sans;
}

#user_form {
	padding: 10px;
	font-size: 0.8em;	
}

#user_form table {
	background-color: #99AADD;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;	
	border: 5px solid #939393;
}

#logo {
	width: 100%;
	text-align: center;
	font-size: 96px;
	color: blue;
	//background: green;
	margin-bottom: 20px;
	//border-bottom: thin solid black;
}

#your-friends-here {
	display: none;
	background-color: #FFFF55;
	padding: 10px;
	border: 5px solid #939393;
	//font-weight: bold;
}

#friend-table td {
	padding-right: 10px;
	
}

