/* CSS FOR THE FACES */

.left_container,
.faces_container,
#manual_add {
	width: 405px;
}

.left_container {
	float: left;
	padding-right: 15px;
	margin-bottom: 100px;
}

.faces_container {
	background-color: #f7f7f7;
	border: 2px solid #e4e6e0;
	border-radius: 10px;
	padding: 5px;
}

.friends_table {
	border: 5px solid #f7f7f7;
	background-color: #f7f7f7;
}

.friend_box {
	padding: 6px;
	border: thin solid gray;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #07304e;
	width: 172px;
	position: relative;
}

.friend_pic {
	width: 60px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.friend_txt {
	width: 100px;
	text-align: left;
	vertical-align: top;
	display: inline-block;
}

.friend_name {
	color: white;
	text-decoration: none;
	width: 100%; 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.friend_checkbox {
	width: 100px;
	text-align: right;
}

.dojoxEllipsis,
.dojoxEllipsisShown {
	color: white;
}

.xout {
	background-color: #CC0000; 
	color: white; 
	width: 12px; 
	height: 12px; 
	border: thin solid maroon; 
	border-radius: 6px; 
	font-size: 10px; 
	font-weight: bold; 
	text-align: center; 
	vertical-align: middle; 
	font-family: arial,sans-serif; 
	cursor: pointer;
	position: absolute;
	top: -3px;
	left: -3px;
	z-index: 10;
}

.xout:hover {
	background-color: red;
}

#check_em_all {
	float: right;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 3px;
	background-color: #0270A0;
	color: white;
	border: thin solid gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 14px;
	font-family: 'Gill Sans', 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 200;
	cursor: pointer;
}
