/* CSS FOR THE MESSAGE TO BE SHARED */

.right_container {
	overflow-x: hidden;
	vertical-align: top;
	padding-left: 15px;
	white-space: normal;
	min-width: 300px;
	max-width: 650px;
	display: inline-block;
}

.msg_friend_name {
/*
  color: #0A5195;
  border-bottom: thin dashed #0A5195;
*/
	font-family: sans-serif;
	font-weight: 200;
	color: black;
	border: thin solid #89A8BD;
	padding: 1px 2px 1px 2px;
	background-color: #E6F2FF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	vertical-align: middle;
	white-space: nowrap;
}

.msg-txt-friend {
	font-size: 12px;
	line-height: 18px;
}

.msg-sugg-friend {
	font-size: 10px;
	line-height: 13px;
}

.msg_x {
	font-weight: 900;
	color: #89A8BD;
	margin-left: 3px;
	cursor: pointer;
}

.msg_x:hover {
	color: #0270A0;
}

.msg_picker,
.msg_title {
	display: block;
}

.msg_title {
	font-size: 22px;
	text-align: left;
	color: #07304e;
/*	padding-left: 15px; */
	font-family: 'Gill Sans', Helvetica, sans-serif;
	font-weight: 200;
	float: left;
}

.msg_picker {
/*	border: 1px solid #07304e; */
/*	border: 2px solid #e4e6e0; */
	border: 2px solid lightgrey;
	border-radius: 10px;
/*	background-color: #E6F2FF; */
	background-color: #F7F7F7;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
}

.msg_block {
	padding-bottom: 15px;
	clear: both;
}

.use_button {
	background-color: #0270A0;
	color: white;
	border: thin solid #094163;
	border-radius: 3px;
	-moz-border-radius: 3px;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 11px;
	font-family: 'Gill Sans', 'Trebuchet MS', Helvetica, sans-serif;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 3px;
	margin-left: 15px;
	font-weight: 200;
	line-height: 12px;
	letter-spacing: 1px;
	vertical-align: middle;
	box-shadow: 1px 1px 3px black;
}

.msg_radio {
	float: left;
	padding-right: 5px;
	vertical-align: top;
}

.msg_txt {
	overflow-x: auto;
	overflow-y: visible;
	padding-bottom: 3px;
}

#other_msg_container {
	display: none;
	border: solid thin gray;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	width: 93%;
	margin-left: 2%;
}

#do_share_container {
	position: relative;
	height: 45px;
}

#do_share_button {
	display: block;
	position: absolute;
	right: 0px;
	color: white; 
	cursor: pointer; 
}
