<form id="add-filter-form" action="{% url 'targetadmin:filter-add' client.pk %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="span5">
            <div id="new-form-1" class="new-filters">
                <p>{{ form.feature.errors }}{{ form.feature.label_tag }} <span id="feature-error" class="alert form-error">Required</span> {{ form.feature }}</p>
                <p style="display: none;">Asdkfljasdkjfa</p>
                <p>{{ form.operator.errors }}{{ form.operator.label_tag }} <span id="operator-error" class="alert form-error">Required</span> {{ form.operator }}</p>
                <p style="display: none;">{{ form.value }}</p>
                <p id="value-p">{{ form.value.errors }}
                    <label for="{{ form.value.id_for_label }}">{{ form.value.label }}</label><span id="value-error" class="alert form-error">Required</span>
                    <input id="{{ form.value.id_for_label }}-split-1" name="value-split-1" type="text" class="filter-val-input">
                    <span id="value-span"></span><a id="value-a" class="icon-plus" href="#id-value" style=""></a>
                    <select id="gender-dropdown" style="display:none;">
                        <option value="" selected="selected">--------</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <div id="age-range-container" style="display:none;">
                        <div style="padding-bottom: 10px;">
                            <span>Age range:</span>
                            <span id="age-range-display">25 - 75</span>
                        </div>
                        <div id="age-range"></div>
                    </div>
                    <div id="location-options-container" style="display: none;">
                        <div>
                            <label for="country-dropdown">Country</label>
                            <select id="country-dropdown" readonly>
                                <option value="us" selected="selected">United States</option>
                            </select>
                        </div>
                        <div>
                            <label for="us-state-dropdown">State</label>
                            <select id="us-state-dropdown">
                                <option value="" selected="selected">--------</option>
                            </select>
                        </div>
                        <div id="city-container" style="display: none;">
                            <label for="city-input">City</label>
                            <input type="text" id="city-input" placeholder="Enter a city" />
                        </div>
                    </div>
                </p>
                <hr>
            </div>
        </div>
    </div>
</form>
<script>
    var input_count = 1;

    $('.icon-plus').click(function(e){
        var split_id = e.target.id.split('-');
        var form_tag = split_id[0] + '-' + split_id[1];
        input_count += 1;
        var new_id = 'id_value-split-' + input_count;
        var dest_id = '#' + e.target.id + '-span';
        $('#value-span').append(
            '<input id="' + new_id + '" name="' + new_id + '" type="text" class="filter-val-input">'
        );
    });

    var createFilterManager = function() {

        this.state = 'default';

        this.cacheDomElements();

        this.saveMultipleChangesBtn =
            this.saveChangesBtn.clone().insertAfter( this.saveChangesBtn )
                .removeAttr( 'id' )
                .hide();

        this.delegateEvents();

        $( "#age-range" ).slider( {
            range: true,
            min: 0,
            max: 100,
            values: [ 25, 75 ],
            slide: function( event, ui ) {
              $( "#age-range-display" ).text( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
        } );

        this.addStatesToDropdown();

        return this;
    }

    $.extend( createFilterManager.prototype, {

        cacheDomElements: function() {

            this.featureDropdown =  $('#id_feature');
            
            this.operatorDropdown = $('#id_operator');
            this.operatorLabel = $('label[for="id_operator"]');
            this.operatorError = $('#operator-error');

            this.valueLabel = $('label[for="id_value"]');
            this.firstValueInput = $('#id_value-split-1');
            this.valueSpan = $('#value-span');
            this.valueError = $('#value-error');
            this.addValueIcon = $('#value-a');

            this.saveChangesBtn = $('#filter-add');

            this.locationContainer = $('#location-options-container');
            this.usStateDropdown = $('#us-state-dropdown');
            this.cityContainer = $('#city-container');
            this.cityInput = $('#city-input');

            this.genderDropdown = $('#gender-dropdown');

            this.ageRangeContainer = $('#age-range-container');

            return this;
        },

        delegateEvents: function() {
            var self = this;

            this.featureDropdown.on( 'change', function() { self.handleFeatureChange() } );
            this.genderDropdown.on( 'change', function() { self.handleGenderChange() } );
            this.usStateDropdown.on( 'change', function() { self.handleStateChange() } );
            
            this.saveMultipleChangesBtn.on( 'click', function(e) { e.preventDefault(); self.submitMultipleFilters() } );

            return this;
        },

        handleFeatureChange: function() {

            var feature = this.featureDropdown.val(),
                capitalizedFeature = feature.charAt(0).toUpperCase() + feature.slice(1),
                cleanupMethod = 'cleanup' + this.state + 'UI',
                showMethod = 'show' + capitalizedFeature + 'UI';

            if( this[ cleanupMethod ] ) { this[ cleanupMethod ](); }
            if( this[ showMethod ] ) { this[ showMethod ](); }

            this.state = capitalizedFeature;

            return this;
        },

        handleStateChange: function() {

            this.cityContainer[
                ( this.usStateDropdown.val() === '' )
                    ? 'fadeOut'
                    : 'fadeIn' ]();
            
            return this;
        },

        showLocationUI: function() {

            this.valueSpan.empty();
            this.operatorDropdown.val('eq').attr( 'disabled', true );
            this.toggleDefaultValueInputs( 'hide', [ 'valueLabel' ] );  
            this.locationContainer.fadeIn();
            this.saveChangesBtn.hide();
            this.saveMultipleChangesBtn.show();

            return this;
        },

        showAgeUI: function() {

            this.valueSpan.empty();
            this.toggleOperatorElements( 'hide' );
            this.toggleDefaultValueInputs( 'hide', [ 'valueLabel' ] );  
            this.ageRangeContainer.fadeIn();
            this.saveChangesBtn.hide();
            this.saveMultipleChangesBtn.show();
            
            return this;
        },

        showGenderUI: function() {

            this.valueSpan.empty();
            this.operatorDropdown.val('eq').attr( 'disabled', true );
            this.toggleDefaultValueInputs( 'hide' );  
            this.genderDropdown.fadeIn();
            
            return this;
        },

        cleanupLocationUI: function() {

            window.can_close_modal = true;
            this.saveChangesBtn.show();
            this.saveMultipleChangesBtn.hide();

            this.locationContainer.hide();
            this.firstValueInput.val('');
            this.operatorDropdown.val('').removeAttr( 'disabled' );
            this.toggleDefaultValueInputs( 'fadeIn', [ 'valueLabel' ] );

            return this;
        },

        cleanupAgeUI: function() {

            window.can_close_modal = true;
            this.saveChangesBtn.show();
            this.saveMultipleChangesBtn.hide();

            this.ageRangeContainer.hide();
            this.firstValueInput.val('');
            this.toggleOperatorElements( 'fadeIn' );
            this.toggleDefaultValueInputs( 'fadeIn', [ 'valueLabel' ] );
            
            return this;
        },

        cleanupGenderUI: function() {

            this.genderDropdown.hide();
            this.operatorDropdown.val('').removeAttr( 'disabled' );
            this.firstValueInput.val('');
            this.toggleDefaultValueInputs( 'fadeIn' );
            
            return this;
        },

        submitMultipleFilters: function() {

            this[ 'submit' + this.state + 'Filters' ]();
            
            return this;
        },

        submitLocationFilters: function() {

            var cityVal = $.trim( this.cityInput.val() );

            if( this.cityContainer.is( ':visible' ) &&
                cityVal != '' ) {
                window.can_close_modal = false;
                this.firstValueInput.val( cityVal );
            }


        },

        submitAgeFilters: function() {
            
            var values = $( '#age-range' ).slider( 'values' );

            window.can_close_modal = false;

            this.operatorDropdown.val('min');
            this.firstValueInput.val( values[0] );
            this.saveChangesBtn.click();

            window.can_close_modal = true;

            this.operatorDropdown.val('max');
            this.firstValueInput.val( values[1] );
            this.saveChangesBtn.click();
                
            this.saveMultipleChangesBtn.hide();
            this.saveChangesBtn.show();

            return this;
        },

        handleGenderChange: function() {

            this.firstValueInput.val( this.genderDropdown.val() );

            return this;
        },

        addStatesToDropdown: function() {

            var fragment = document.createDocumentFragment()
                placeholder = document.createElement('div');
            
            $.each( usStates, function( i, state ) {
                placeholder.innerHTML = '<option value="' + state + '">' + state + '</option>';
                fragment.appendChild( placeholder.firstChild );
            } );

            this.usStateDropdown.append( fragment );

            return this;
        },

        toggleOperatorElements: function( func ) {
            var elements = [ 'operatorLabel', 'operatorDropdown', 'operatorError' ];
            if( func === 'fadeIn' || func === 'show' ) { elements.splice( elements.indexOf( 'operatorError' ), 1 ); }
            this.toggleElements( elements, func );

            return this;
        },

        toggleDefaultValueInputs: function( func, extraEls ) {
            var elements = [ 'firstValueInput', 'valueSpan', 'addValueIcon', 'valueError' ];
            if( func === 'fadeIn' || func === 'show' ) { elements.splice( elements.indexOf( 'valueError' ), 1 ); }
            if( extraEls ) { elements = elements.concat( extraEls ); }
            this.toggleElements( elements, func );

            return this;
        },

        toggleElements: function( elementList, func ) {
            var self = this;
            $.each( elementList, function( i, elReference ) { self[ elReference ][ func ](); } );
            return this;
        },

        getMultipleValues: function() {
            var filter_values = '';

            $('.filter-val-input').each( function( index ) {
                var value = $(this).val();
                if( value ) {
                    if( filter_values === '' ) {
                        filter_values = value;
                    } else {
                        filter_values += '||' + value;
                    }
                }
            } );

            if( filter_values.slice(-2) === '||' ) {
                filter_values = filter_values.substr(0, filter_values.length - 2);
            }

            return filter_values;
        },

        validate: function() {
        }

    } );

    new createFilterManager();

    /*
    $('#filter-add').click(function(event) {
        var filter_values = '';
        $('.filter-val-input').each(function(index){
            var value = $(this).val();
            if (value) {
                if (filter_values === ''){
                    filter_values = value;
                } else {
                    filter_values += '||' + value;
                }
            }
        });
        if (filter_values.slice(-2) === '||'){
            filter_values = filter_values.substr(0, filter_values.length - 2);
        }
        $('#id_value').val(filter_values);
        var validation_elems = [
            [$('#id_feature'), $('#feature-error')],
            [$('#id_operator'), $('#operator-error')],
            [$('#id_value'), $('#value-error')]
        ]
        var form_errors = false;
        for (var elem=0; elem < validation_elems.length; elem++) {
            if (validation_elems[elem][0].val() === ""){
                validation_elems[elem][1].show();
                form_errors = true;
            } else {
                validation_elems[elem][1].hide();
            }
        }
        if (!form_errors) {
            var feature = $('#id_feature').val();
            var operator = $('#id_operator').val();
            var filter_values = $('#id_value').val();
            $('#existing-filters').prepend(
                '<div data-filter-id="set_number=' + feature + '.' + operator + 
                '.' + filter_values + '" class="span2 draggable"><p><abbr title="' + 
                feature + ' ' + operator + ' ' + filter_values + '">' + 
                feature + ' ' + ' ' + operator + ' ' + filter_values.slice(0, 15) + 
                '</abbr></p></div>'
            );

            if( window.can_close_modal ) {
                $('#filter-modal').modal('toggle');
                $('#filter-modal').removeData();
            }
        }
    });
    */

</script>
