{% extends "targetadmin/page.html" %}

{% block title %}{{ client.name }}{% endblock %}

{% block require %}
    require(
        [
          'app',
          'views/sidebar',
          'views/campaignSummary',
        ], function(app, sidebar, CampaignSummary) {

        var campaignListURL = "{% url 'targetadmin:client-detail' client.pk %}";
        var campaignSummary = new CampaignSummary({
            pk: {{ campaign_id }},
            name: "{{ root_campaign }}",
            campaign_list_url: campaignListURL,
            content_url: "{{ content_url }}",
            sharing_url: "{{ sharing_url }}",
            campaign_properties: {{ campaign_properties|safe }},
            fb_obj_attributes: {{ fb_obj_attributes|safe }},
            filters: {{ filters|safe }},
            message: "{{ message|safe }}",
            token: "{% csrf_token %}"
        });

        /* sidebar is already instantiated (singleton pattern),
           give it data to work with -- TODO: tie reporting url to
           nav data structure */
        sidebar.setup( {
            model: new Backbone.Model( {
                state: 'campaignSummary',
                logoSrc: "{{ STATIC_URL }}img/edgeflip-logo.png",
                nav: [
                    { name: 'campaigns',
                      label: 'Campaigns',
                      glyphClass: 'glyphicon glyphicon-share',
                      view: true
                    },
                    { name: 'reports',
                      label: 'Reports',
                      glyphClass: 'glyphicon glyphicon-stats'
                    },
                    { name: 'help',
                      label: 'Help',
                      glyphClass: 'glyphicon glyphicon-info-sign'
                    }
                ]
            } ),
            views: { campaignSummary: campaignSummary },
            campaignListURL: campaignListURL,
            reportingDashboardURL: "{% url 'reporting:main' %}"
        } ).render();
    } );
{% endblock %}
