{% extends "page.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css">
{% endblock %}

{% block title %}Campaign Setup Wizard{% endblock %}

{% block content %}
    <h2 class="page-header">Create a Targeted Sharing Campaign</h2>
    <div class="invalid-input-popover"></div>
    <form id="wizard-form" action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <div id="intro" class="wizard-step">
            <div class="page-header-information">
                <div>Our targeted sharing application will spread your message across the web by asking your supporters to share your content with their friends.</div>
                <div>We found that individuals are much more likely to take some action when they are asked to do so by a trusted friend rather than by a large organization.</div>
                <div>Click on an image below to get started</div>
            </div>
            <div class="row">
                <div class="span1"></div>
                <div id="intro-carousel" class="span10 carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#intro-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#intro-carousel" data-slide-to="1"></li>
                        <li data-target="#intro-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="{{ STATIC_URL }}img/carousel-filter.jpg">
                            <div class="carousel-caption">
                                <h4>Audience Targeting</h4>
                                <p>
                                    First, we will ask you to choose a set of filter criteria so we can get your campaign in front of the right audience.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ STATIC_URL }}img/carousel-faces.jpg">
                            <div class="carousel-caption">
                                <h4>Utilize your supporter's social network</h4>
                                <p>
                                    Then, we will customize your "faces page".  Send your supporters to it so they can share your campaign with their friends.
                                    It can reside either on Facebook or on your site.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ STATIC_URL }}img/carousel-fb-obj.jpg">
                            <div class="carousel-caption">
                                <h4>Facebook Post</h4>
                                <p>
                                    Finally, we will build the Facebook post that your supporters will share with a targeted audience by tagging their friends in it.  Clicking on this post will send users to your campaign content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control left" href="#intro-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#intro-carousel" data-slide="next">&rsaquo;</a>
                </div>
                <div class="span1"></div>
                <!-- <div class="wizard-button-container">
                    <a href="#" id="get-started" class="btn btn-large btn-primary">Get Started</a>
                    <a href="{% url 'targetadmin:client-detail' client.pk %}" class="btn btn-large btn-danger">Cancel</a>
                </div> -->
            </div>
        </div>
        <div id="filtering" class="wizard-step" style="display: none;">
            {% include 'targetadmin/includes/filter_wizard_form.html' %}
        </div>
        <div id="faces" class="wizard-step" style="display: none;">
            {% include 'targetadmin/includes/faces_wizard_form.html' %}
        </div>
        <div id="fbobjects" class="wizard-step" style="display: none;">
            {% include 'targetadmin/includes/fbobjects_wizard_form.html' %}
        </div>
        <div id="campaign-name-modal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="filter-modal-label">Give your campaign a name</h3>
        </div>
        <div class="modal-body">
            <div class="name-input-container">{{ campaign_form.name }}</div>
        </div>
        <div class="modal-footer">
            <a href="#" id="step1-next" class="btn btn-primary step-submit campaign-step" data-step="filtering">Continue</a>
        </div>
    </form>
</div>
{% endblock %} {% block extrascript %}
<script src="{{ STATIC_URL }}js/usStates.js" async></script>
<script src="{{ STATIC_URL }}js/inputValidator.js"></script>
<script>

$( function() {    
    var layer_count = 1,
        myWindow = $(window),
        carouselEl = $('#intro-carousel'),
        setCarouselHeight = function() {
            carouselEl.height(
                myWindow.height() - carouselEl.offset().top - 10 );
        };

    setCarouselHeight();
    $(window).on( 'resize', setCarouselHeight )

    $('i.icon-question-sign').popover( { trigger: 'hover' } );
    
    // Tracks number of layers in play on Filtering screen

    // "Steps"
    $('.step-submit').click(function(e) {
        var step = $(this).data('step');
        if ($(this).hasClass('filter-step')) {
            var v, values, filters, layer;
            for (layer = 1; layer <= layer_count; layer++) {
                filters = $('#enabled-filters-' + layer).sortable('toArray', 
                    {attribute: 'data-filter-id'});
                values = [];
                for (v = 0; v < filters.length; v++) {
                    values.push('"' + filters[v].split('=')[1] + '"');
                }
                $('#id_enabled-filters-' + layer).val(values);
            }
        }
        $('.wizard-step').hide();
        $('#' + step).show();
        
        if( step === 'faces' && (! window.facesIndicator.isInitialized ) ) {
            window.facesIndicator.init();
        }

        if( step === 'fbobjects' && (! window.fbObjIndicator.isInitialized ) ) {
            window.fbObjIndicator.init();
        }
        
        $( $('input:visible')[0] ).focus();
    } );

    // Remove Layer "X" clicked
    $('#filtering').on( 'click', '.remove-layer', function() {

        var deleted_layer_no = $(this).data('layer'),
            add_layer_btn = $('#add-layer');

        $.each( $('section[data-layer]'), function( i, layer_section ) {
            var $layer_section = $( layer_section );
            if( $layer_section.data('layer') == deleted_layer_no ) {

                $.each( $layer_section.find('div[data-filter-id]'), function( j, layer_filter ) {
                    var $layer_filter = $(layer_filter),
                        layer_filter_id = $layer_filter.data('filter-id');
                        
                    if( ( $('#existing-filters').find( 'div[data-filter-id="' + layer_filter_id + '"]' ).length === 0 ) &&
                        ( $('#enabled-filters-1').find( 'div[data-filter-id="' + layer_filter_id + '"]' ).length === 0 ) ) {

                        $('#existing-filters').append( $layer_filter );
                    }
                    
                } );

                $layer_section.fadeOut( 400, function() {
                    $(this).empty().remove();

                    $.each( $('*[data-layer]'), function( k, el ) {
                        var $el = $(el),
                            el_layer_no = $el.data('layer'),
                            new_layer_no = el_layer_no - 1;

                        if( el_layer_no > deleted_layer_no ) {
                            
                            $el.data( 'layer', new_layer_no );

                            if( $el.prop('tagName') === 'SECTION' ) {

                                $el.find('h6').first().text( 'Layer ' + new_layer_no );

                                $('#id_enabled-filters-' + el_layer_no )
                                    .attr( { "id": 'id_enabled-filters-' + new_layer_no,
                                             "name": 'enabled-filters-' + new_layer_no } );
                                           
                                $('#enabled-filters-' + el_layer_no )
                                    .attr( { "id": 'enabled-filters-' + new_layer_no } );
                            }
                        }
                    } );
                } );
            }
        } );

        layer_count--;
        add_layer_btn.data( 'layer-count', layer_count );

        if( add_layer_btn.prop( 'disabled' ) ) {
            add_layer_btn.prop( 'disabled', false );
        }
        
    } );

    // Sortables - Drag and Drop stuff
    $(function() {
        $('#existing-filters').sortable({
            connectWith: ".target-well"
        });
        $('#enabled-filters-1').sortable({
            connectWith: ".target-well"
        });
        $( ".sortable" ).disableSelection();
    });

    // Layer addition
    $('#add-layer').click(function(event){
        event.preventDefault();
        var previous_layer_html = $('#enabled-filters-' + layer_count).html()
        var hidden_elements = $('.hidden-elements')
        layer_count = $('#add-layer').data('layer-count') + 1;
        $('#add-layer').data('layer-count', layer_count);
        $('#enabled-section').append(
            '<section data-layer="' + layer_count + '">' +
            '<div class="clearfix"><h6 class="layer-text-header pull-left">Layer ' + layer_count + '</h6>' +
            '<h6 data-layer="' + layer_count + '" class="btn btn-link pull-right remove-layer">' +
            '<i class="icon-remove"></i></h6></div><div class="clearfix"><input type="hidden" id="id_enabled-filters-' + 
            layer_count + '" name="enabled-filters-' + layer_count + 
            '"><div style="margin-left: 0px; min-height:54px;" class="span12 well sortable target-well" id="enabled-filters-' + 
            layer_count + '">' + previous_layer_html  + '</div></div></section>'
        );

    //require( [ 'campaignWizard' ] );

    //$( $('input:visible')[0] ).focus();

    carouselEl.carousel( { interval: 20000, pause: "" } );

    $('#campaign-name-modal').on( 'hide', function() {
        carouselEl.carousel('cycle');
    } );

    carouselEl.on( 'click', 'img', function() {
        carouselEl.carousel('pause');
        $('#campaign-name-modal').modal();
    } );

    $('#step1-next').on( 'click', function() {
        $('#campaign-name-modal').modal('hide');
    } );
    
    $('#step2-prev').on( 'click', function() {
        carouselEl.carousel('cycle');
    } );

    $( document ).on( 'keydown', function(e) {
        var nameSubmitButton;
        
        if( e.keyCode === 13 ) {
            nameSubmitButton = $('#step1-next');

            if( nameSubmitButton.is(':visible') ) {
                //prevent <button>[0] from being clicked
                e.preventDefault();
                nameSubmitButton.click();
                $('body,html').scrollTop( 0 );
            }
        }
    } );
} );
</script>
{% endblock %}
