{% extends "targetadmin/base.html" %}
{% block title %}Edit {% if campaign %}{{ campaign.name }} Campaign{% else %}Choice Set{% endif %}{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-large" type="submit" value="Submit" />
    </form>
{% endblock %}
{% block extrascript %}
    <script> 
        $('#id_generic_fb_object').hide();
        $("label[for='id_generic_fb_object']").hide();
        $('#id_allow_generic').click(function(){
            $("label[for='id_generic_fb_object']").toggle(this.checked);
            $('#id_generic_fb_object').toggle(this.checked);
        });
    </script>
{% endblock %}
