{% extends "targetadmin/base.html" %}
{% block title %}{{ client.name }}{% endblock %}
{% block content %}
    <h2>{{ client.name }}</h2>
    <div class="span9">
        <ul>
            <li><b>Name</b>: {{ object.name }}</li>
            <li><b>Desc</b>: {{ object.description }}</li>
            <li><b>Faces URL</b>: {{ properties.client_faces_url }}</li>
            <li><b>Thanks URL</b>: {{ properties.client_thanks_url }}</li>
            <li><b>Error URL</b>: {{ properties.client_error_url }}</li>
            <li><b>Fallback Campaign</b>: {{ properties.fallback_campaign }}</li>
            <li><b>Fallback Content</b>: {{ properties.fallback_content }}</li>
            <li><b>Cascading Fallback</b>: {{ properties.fallback_is_cascading }}</li>
            <li><b>Minimum Friends</b>: {{ properties.min_friends }}</li>
            <li><b>Global Filter</b>: {{ object.global_filter.filter.name }}</li>
            <li><b>Button Style</b>: {{ object.button_style.button_style.name|default:"None" }}</li>
            <li><b>Choice Set</b>: {{ choice_set.choice_set.name }}</li>
            <li><b>Allow Generic</b>: {{ choice_set.allow_generic }}</li>
            <li><b>Facebook Object</b>: {{ object.fb_object.fb_object.name }}</li>
        </ul>
        {% block extra_content %}{% endblock %}
        <a href="{% url 'client-detail' client.pk %}" class="btn btn-small btn-primary">Return Home</a>
        <a href="{% url 'campaign-new' client.pk %}?clone_pk={{ object.pk }}" class="btn btn-small btn-inverse">Clone Campaign</a>
     </div>
{% endblock %}
