{% extends "targetadmin/base.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/admin.css">
{% endblock %}
{% block title %}Campaign Wizard{% endblock %}
{% block content %}
    <h2>Create Campaign</h2>
    <form id="wizard-form" action="" method="post">
        {% csrf_token %}
        <span id="campaign-settings" class="wizard-step">
            {% include 'targetadmin/includes/campaign_wizard_form.html' %}
            <a href="#" id="step1-next" class="btn btn-large btn-primary step-submit campaign-step" data-step="filtering">Next</a>
            <a href="{% url 'targetadmin:client-detail' client.pk %}" class="btn btn-large btn-danger">Cancel</a>
        </span>
        <span id="filtering" class="wizard-step" style="display: none;">
            {% include 'targetadmin/includes/filter_wizard_form.html' %}
            <a href="#" id="step2-next" class="btn btn-large btn-primary step-submit filter-step" data-step="fbobjects">Next</a>
            <a href="#" id="step2-prev" class="btn btn-large btn-danger step-submit filter-step" data-step="campaign-settings">Previous</a>
        </span>
        <span id="fbobjects" class="wizard-step" style="display: none;">
            {% include 'targetadmin/includes/fbobjects_wizard_form.html' %}
            <input type="submit" class="btn btn-large btn-primary step-submit fbobject-step" value="Submit" id="wizard-submit">
            <a href="#" id="step3-prev" class="btn btn-large btn-danger step-submit" data-step="filtering">Previous</a>
        </span>
    </form>
{% endblock %} {% block extrascript %}
<script>
    // Tracks number of layers in play on Filtering screen
    var layer_count = 1;

    // "Steps"
    $('.step-submit').click(function(e) {
        var step = $('#' + e.target.id).data('step');
        if ($('#' + e.target.id).hasClass('filter-step')) {
            for (var i = 1; i <= layer_count; i++) {
                var filters = $('#enabled-filters-' + i).sortable('serialize', 
                    {key: 'ff_' + i, attribute: 'data-filter-id'}).split('&');
                var values = [];
                for (var x = 0; x < filters.length; x++) {
                    values.push(filters[x].split('=')[1]);
                }
                $('#id_enabled-filters-' + i).val(values);
            }
        }
        $('.wizard-step').hide();
        $('#' + step).show();
    });

    // Sortables - Drag and Drop stuff
    $(function() {
        $('#existing-filters').sortable({
            connectWith: ".target-well"
        });
        $('#enabled-filters-1').sortable({
            connectWith: ".target-well"
        });
        $( ".sortable" ).disableSelection();
    });

    // Layer addition
    $('#add-layer').click(function(e){
        event.preventDefault();
        var previous_layer_html = $('#enabled-filters-' + layer_count).html()
        var hidden_elements = $('.hidden-elements')
        layer_count = $('#add-layer').data('layer-count') + 1;
        $('#add-layer').data('layer-count', layer_count);
        $('#enabled-section').append(
            '<h5>Layer ' + layer_count + '</h5><div class="row"><input type="hidden" id="id_enabled-filters-' + layer_count + '" name="enabled-filters-' + layer_count + '"><div class="span12 well sortable target-well" id="enabled-filters-' + layer_count + '">' +previous_layer_html  + '</div></div>'
        );
        $('#enabled-filters-' + layer_count).sortable({
            connectWith: '.target-well'
        });
        if (layer_count >= 4) {
            $('#add-layer').prop('disabled', true);
        }
    });

    // New FilterFeature creation
    $('#filter-add').click(function(event) {
        event.preventDefault();
        var filter_values = '';
        $('.filter-val-input').each(function(index){
            value = $('#' + this.id).val();
            if (value) {
                if (filter_values === ''){
                    filter_values = value;
                } else {
                    filter_values += '||' + value;
                }
            }
        });
        if (filter_values.slice(-2) === '||'){
            filter_values = filter_values.substr(0, filter_values.length - 2);
        }
        $('#id_value').val(filter_values);
        $.ajax({
            type: "POST",
            url: "{% url 'targetadmin:filter-add' client.pk %}",
            data: $('#add-filter-form').serialize()
        }).done(function(data){
            $('#existing-filters').prepend(data.html);
            $('#filter-modal').modal('toggle');
            $('#filter-modal').removeData();
        });
    });
</script>
{% endblock %}
