{% extends "targetadmin/page.html" %}
{% block title %}{{ client.name }}{% endblock %}

{% block require %}
    require( ['app', 'sidebar', 'clientHome', 'views/help'], function(app, Sidebar, ClientHome, Help) {

            new Sidebar( {
                parentEl: $("#content-container"),
                model: new Backbone.Model( { state: 'campaigns' } ),
                templateOptions: {
                    logoSrc: "{{ STATIC_URL }}img/edgeflip-logo.png",
                    clientName: "{{ client.name }}",
                },
                reportingDashboardURL: "{% url 'reporting:main' %}"
            } );
            
            new ClientHome( {
                parentEl: $("#content-container"),
                campaigns: {{ campaigns|safe }},
                createCampaignURL: "{% url 'targetadmin:campaign-wizard' client.pk %}",
                campaignSummaryURL: "{% url 'targetadmin:campaign-summary' client.pk 0 %}"
            } );

            new Help( {
                parentEl: $("#content-container"),
                templateOptions: {
                    howItWorksSrc: "{{ STATIC_URL }}img/how-it-works.jpg"
                }
            } ).$el.hide();
        }
    );


/*
    <h2 style="text-align:center;">{{ client.name }}</h2>
    <div class="row">
        <div class="span6 offset3">
            <div style="margin-top: 2em; margin-bottom: 4em; text-align: center;" class="row">
                <div class="span3">
                    <a class="btn btn-primary" href="{#% url 'targetadmin:campaign-wizard' client.pk %#}">Create New Campaign</a>
                </div>
                <div class="span3">
                    <a class="btn btn-primary" href="{% url 'reporting:main' %}">Reporting Dashboard</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
            <h4 style="text-align: center; margin-bottom: 1em;">Campaigns</h4>
            <ul class="row">
                {% for campaign in root_campaigns.all %}
                    <li style="margin-bottom: 1em; list-style-type: none;">
                        <span style="margin-right: 1em;">{{ campaign.create_dt.year }}.{{ campaign.create_dt.month }}.{{ campaign.create_dt.day }}</span>
                        <a href="{#% url 'targetadmin:campaign-summary' client.pk campaign.pk %#}">{{ campaign.name|slice:":-2" }}</a>
                        <a href="{#% url 'targetadmin:campaign-wizard' client.pk campaign.pk %#}"><i class="icon-edit"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
*/
{% endblock %}
