{% extends "targetadmin/page.html" %}
{% block title %}{{ client.name }}{% endblock %}

{% block require %}
    require(
        [
          'app',
          'views/sidebar',
          'views/clientCampaigns',
          'views/miniHeader',
        ], function(app, sidebar, ClientCampaigns, miniHeader) {

        var clientCampaignsContent =        
            new ClientCampaigns( {
                campaigns: {{ campaigns|safe }},
                campaignSummaryURL: "{% url 'targetadmin:campaign-summary' client.pk 0 %}",
                howItWorksURL: "{% url 'targetadmin:how-it-works' %}",
                facebookPostImage: "{{ STATIC_URL }}img/fb-obj-example.png",
                facesExampleURL: "{{ STATIC_URL }}img/faces-example.png",
                clientId: {{client.pk}}
            } ).$el;

        miniHeader.setup( { name: "{{client.name}}" } ).render();

        sidebar.setup( {
            model: new Backbone.Model( {
                state: 'campaigns',
                logoSrc: "{{ STATIC_URL }}img/edgeflip-logo.png",
                nav: [
                    { name: 'campaigns',
                      label: 'Campaigns',
                      glyphClass: 'glyphicon glyphicon-share',
                      content: clientCampaignsContent
                    },
                    { name: 'reports',
                      label: 'Reports',
                      glyphClass: 'glyphicon glyphicon-stats'
                    },
                    { name: 'help',
                      label: 'Help',
                      glyphClass: 'glyphicon glyphicon-info-sign'
                    }
                ]
            } ),
            reportingDashboardURL: "{% url 'reporting:main' %}"
        } ).render();
    } );
{% endblock %}
