{% extends "targetadmin/base.html" %}
{% block title %}Edit Filter{% endblock %}
{% block content %}
    <h2>Edit Filter: {{ filter_obj.name }}</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <hr>
        {{ formset.management_form }}
        {% if formset.initial_forms %}
            <h4>Existing Features</h4>
                {% for form in formset.initial_forms %}
                    {{ form }}
                {% endfor %}
            </hr>
        {% endif %}
        <h4>Add Filter Features</h4>
        {% for form in formset.extra_forms %}
            {{ form }}
            <hr>
        {% endfor %}
        <input class="btn btn-small btn-primary" type="submit" value="Submit" />
    </form>
{% endblock %}
