{% extends "targetadmin/page.html" %}
{% block title %}How It Works{% endblock %}
{% block require %}
    require(
        [
          'app',
          'views/sidebar',
        ], function(app, sidebar) {

        /* sidebar is already instantiated (singleton pattern),
           give it data to work with -- TODO: tie reporting url to
           nav data structure */
        sidebar.setup( {
            model: new Backbone.Model( {
                state: 'campaigns',
                logoSrc: "{{ STATIC_URL }}img/edgeflip-logo.png",
                nav: [
                    { name: 'campaigns',
                      label: 'Campaigns',
                      glyphClass: 'glyphicon glyphicon-share',
                      view: true
                    },
                    { name: 'reports',
                      label: 'Reports',
                      glyphClass: 'glyphicon glyphicon-stats'
                    },
                    { name: 'help',
                      label: 'Help',
                      glyphClass: 'glyphicon glyphicon-info-sign'
                    }
                ]
            } ),
            views: { },
            reportingDashboardURL: "{% url 'reporting:main' %}"
        } ).render();
    } );
{% endblock %}

{% block content %}
    <img class="how-it-works-img" src="{{ STATIC_URL }}img/how-it-works.jpg">
    <div class="how-it-works-contact">
        <span>If you have more questions, feel free to </span>
        <a href="mailto:help@edgeflip.com" target="_blank">contact us</a>
    </div>
{% endblock %}
