{% extends "targetadmin/base.html" %}
{% block extrahead %}
    <script>
        function doUpdate() {
            var cmpg = $('#id_campaign').val();
            var cnt = $('#id_content').val();
            $.ajax({
                type: "GET",
                url: "{% url 'targetadmin:snippet-update' client.pk %}",
                dataType: 'json',
                data: {
                    campaign: cmpg,
                    content: cnt
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('Ruh-Roh! ' + errorThrown)
                },
                success: function(data, textStatus, jqXHR) {
                    $('.cmpgslug').html(data.slug);
                    $('#oauth_url').html(data.oauth_url);
                    $('.campaign-pk').html(cmpg);
                    $('.content-pk').html(cnt);
                }
            });
        }
    </script>
{% endblock %}
{% block title %}Generate Snippets{% endblock %}
{% block content %}
    <h2>Generate Snippets for {{ name }}</h2>

    <div id="snippet-form">
        <form action="" method="get">
            <div class="row">
                <div class="span5">
                    <p>{{ snippet_form.campaign.errors }}<label for="{{ snippet_form.campaign.id_for_label }}">{{ snippet_form.campaign.label }}:</label>{{ snippet_form.campaign }}</p>
                </div>
                <div class="span5">
                    <p>{{ snippet_form.content.errors }}<label for="{{ snippet_form.content.id_for_label }}">{{ snippet_form.content.label }}:</label>{{ snippet_form.content }}</p>
                </div>
            </div>
        </form>
    </div>
    <div id="button-snippet">
        <h4>Button Snippet (<span class="campaign-pk">{{ first_campaign.pk }}</span>/<span class="content-pk">{{ first_content.pk }}</span>)</h4>
        <div id="button-snippet-code">
            <pre><code>{% spaceless %}
&lt;!-- SHARE BUTTON --&gt;
    &lt;div style="display: table; position: relative; margin: 0px auto;"&gt;
        &lt;iframe src="https://{{client.subdomain}}.{{client.domain}}/button/<span class="cmpgslug">{{ first_slug }}</span>" id="button_frame" ALLOWTRANSPARENCY="true" scrolling="no" style="width: 280px; border: none; overflow: hidden;"&gt;&lt;/iframe&gt;
    &lt;/div&gt;
&lt;!-- SHARE BUTTON --&gt;
            {% endspaceless %}</code></pre>
        </div>
    </div>
    <div id="faces-snippet">
        <h4>Faces Snippet (<span class="campaign-pk">{{ first_campaign.pk }}</span>/<span class="content-pk">{{ first_content.pk }}</span>)</h4>
        <div id="faces-snippet-code">
            <pre><code>{% spaceless %}
&lt;!-- SHARE FACES --&gt;
    &lt;div id="ef_frame_div" style="width: 100%; height: 930px; border: none;"&gt;
        &lt;script src="https://{{client.subdomain}}.{{client.domain}}/static/js/create_frame.js"&gt;&lt;/script&gt;
&lt;/div&gt;
&lt;!-- SHARE FACES --&gt;
            {% endspaceless %}</code></pre>
        </div>
    </div>
    <div id="canvas-snippet">
        <h4>Canvas URL (<span class="campaign-pk">{{ first_campaign.pk }}</span>/<span class="content-pk">{{ first_content.pk }}</span>)</h4>
        <div id="canvas-snippet-code">
            <pre><code>https://apps.facebook.com/{{ client.fb_app_name }}/<span class="cmpgslug">{{ first_slug }}</span>/</pre></code>
        </div>
    </div>
    <div id="oauth-snippet">
        <h4>OAuth URL (<span class="campaign-pk">{{ first_campaign.pk }}</span>/<span class="content-pk">{{ first_content.pk }}</span>)</h4>
        <div id="oauth-snippet-code">
        <pre><code id="oauth_url">{{ oauth_url }}</code></pre>
        </div>
    </div>
{% endblock %}
{% block extrascript %}
<script>
    $('#id_campaign, #id_content').change(doUpdate);
</script>
{% endblock %}
