{% extends "targetadmin/base.html" %}
{% block extrahead %}
    <script type='text/javascript'>
        {% include "core/includes/edgeflip.js" %}
    </script>
    <script src="{{ STATIC_URL }}js/router.js" async></script>

    <script type='text/javascript'>
        function doUpdate() {
            var cmpg = $('#id_campaign').val(),
                cnt = $('#id_content').val();

            $.getJSON("{% url 'targetadmin:snippet-update' client.pk %}", {campaign: cmpg, content: cnt}, function(data) {
                $('.campaign-pk').html(cmpg);
                $('.content-pk').html(cnt);
                $('.cmpgslug').html(data.slug);
                $('.oauth-url').html(data.fb_oauth_url);
                $('.initial-url').html(data.initial_url);

                $('.url').each(function () {
                    var $this = $(this),
                        name = $this.attr('data-url'),
                        url = edgeflip.router.reverse(name, data.slug);
                    $this.html(url);
                });
            }).fail(function(jqXHR, textStatus, errorThrown) {alert('Ruh-Roh! ' + errorThrown);});
        }
    </script>
{% endblock %}
{% block title %}Snippets &amp; URLs for {{ client.name }}{% endblock %}
{% block content %}
    <h1>Snippets &amp; URLs for {{ client.name }}</h1>

    <form method="get">
        <div class="row">
            <div class="span5">
                <p>{{ snippet_form.campaign.errors }}<label for="{{ snippet_form.campaign.id_for_label }}">{{ snippet_form.campaign.label }}:</label>{{ snippet_form.campaign }}</p>
            </div>
            <div class="span5">
                <p>{{ snippet_form.content.errors }}<label for="{{ snippet_form.content.id_for_label }}">{{ snippet_form.content.label }}:</label>{{ snippet_form.content }}</p>
            </div>
        </div>
    </form>

    <h2>URLs</h2>
    <section>
        <h4>Initial URL (<span class="campaign-pk">{{ campaign.pk }}</span>/<span class="content-pk">{{ content.pk }}</span>)</h4>
        <p>This should be the URL shared with clients, which users click first, to be directed through OAuth.</p>
        <pre><code>https://{{ client.subdomain }}.{{ client.domain }}<span class="initial-url">{{ initial_url }}</span></code></pre>
    </section>
    <section>
        <h4>OAuth URL (<span class="campaign-pk">{{ campaign.pk }}</span>/<span class="content-pk">{{ content.pk }}</span>)</h4>
        <pre><code class="oauth-url">{{ fb_oauth_url }}</code></pre>
    </section>
    <section>
        <h4>Canvas URL (<span class="campaign-pk">{{ campaign.pk }}</span>/<span class="content-pk">{{ content.pk }}</span>)</h4>
        <pre><code>https://apps.facebook.com/{{ client.fb_app_name }}/<span class="cmpgslug">{{ slug }}</span>/</pre></code>
    </section>

    <h2>Snippets</h2>
    <section>
        <h4>Button Snippet (<span class="campaign-pk">{{ campaign.pk }}</span>/<span class="content-pk">{{ content.pk }}</span>)</h4>
        <pre><code>{% spaceless %}
&lt;!-- SHARE BUTTON --&gt;
    &lt;div style="display: table; position: relative; margin: 0px auto;"&gt;
        &lt;iframe src="https://{{client.subdomain}}.{{client.domain}}<span class="url" data-url="button-encoded">{% url 'button-encoded' slug %}</span>" id="button_frame" ALLOWTRANSPARENCY="true" scrolling="no" style="width: 280px; border: none; overflow: hidden;"&gt;&lt;/iframe&gt;
    &lt;/div&gt;
&lt;!-- SHARE BUTTON --&gt;
        {% endspaceless %}</code></pre>
    </section>
    <section>
        <h4>Faces Snippet (<span class="campaign-pk">{{ campaign.pk }}</span>/<span class="content-pk">{{ content.pk }}</span>)</h4>
        <pre><code>{% spaceless %}
&lt;!-- SHARE FACES --&gt;
    &lt;div id="ef_frame_div" style="width: 100%; height: 930px; border: none;"&gt;
        &lt;script src="https://{{client.subdomain}}.{{client.domain}}{{ STATIC_URL }}js/create_frame.js"&gt;&lt;/script&gt;
&lt;/div&gt;
&lt;!-- SHARE FACES --&gt;
        {% endspaceless %}</code></pre>
    </section>
{% endblock %}
{% block extrascript %}
<script>
    $('#id_campaign, #id_content').change(doUpdate);
</script>
{% endblock %}
