
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="coming, soon, sharing, social good" />

<title>Powered by Edgeflip</title>

<link rel="stylesheet" href="{{ url_for('static', filename='sfsg_style.css')}}">

<style type="text/css">
/*
This was coded by João Sardinha
Visit me at http://johnsardine.com/

It has been tested in all modern browsers.

This coming soon page design has been created by the awesome Orman Clark,
you can download a PSD version of this at his website, PremiumPixels.
http://www.premiumpixels.com/freebies/coming-soon-splash-page-psd/
*/
</style>


</head>

<body>

<div id="coming-soon">

<h1>Helping social good organizations engage the right audiences</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>

<a href="http://www.mayorsagainstillegalguns.org/"><img src="{{ url_for('static', filename='MayorsAgainstIllegalGuns.png')}}" width="273" height="113" border=0></a>
<a href="http://terrymcauliffe.com/"><img src="{{ url_for('static', filename='mcauliffe.jpg')}}" width="207" height="158" border=0></a>
<p>Powered by <a href="http://www.edgeflip.com/" title="" target="_blank">Edgeflip</a> </p>


<a href="http://twitter.com/#!/edgeflip" title="Visit Edgeflip on Twitter" class="twitter center">edgeflip</a>

</div>

</body>
</html>
