
{% from 'new_face.html' import face %}

<SCRIPT>
    {% include 'faces_and_msg.js' %}
</SCRIPT>

<SCRIPT>

    var nextidx = {{ face_friends | length }};

    // Just the friends who can come in as faces
    var friends = [
        {% for friend in all_friends %}
            {'id': {{friend.id}}, 'fname': '{{friend.fname}}', 'lname': '{{friend.lname}}' },
        {% endfor %}
        ];

      // This needs to the dictionary of all names, not just those initially shown...
    var fbnames = {

        {% for friend in pickFriends %}
            {{friend.id}}: '{{friend.name}}',
        {% endfor %}

                  };

      // Needs to be ALL of the user's friends since they could type in anyone,
      // regardless of whether they meet our targeting criteria.
    var pick_friends = [

    {% for pickFriend in pickFriends %}
        {
            value: {{pickFriend.id}},
            label: "{{pickFriend.name}}"
        },
    {% endfor %}

    ];

</SCRIPT>

<div class="h2_container" style="margin-bottom: 25px;">
    <h2>Ask your Facebook friends in {{ senInfo.state_name }} to let Senator {{ senInfo.name }} know we're putting climate denial on trial!</h2>
</div>

<div id="the_left_container" class="left_container">

    <div class="faces_container">
    <div class="msg_title" style="padding: 0px;">Choose Some Friends:</div>
    <input type="button" id="check_em_all" class="small_button" onClick="checkAll();" value="Select All &gt;&gt;" />
    <table align=center border=0 cellpadding=0 cellspacing=7 class="friends_table" style="clear: both;">
        <tr>
        {% for face_friend in face_friends %}

            <td>
                {{ face(face_friend.id, face_friend.fname, face_friend.lname) }}
            </td>

            {% if ( (loop.index0 == 1) and (numFriends > 2) ) or ( (loop.index0 == 3) and (numFriends > 4) ) %}
                    </tr><tr>

            {% endif %}

        {% endfor %}

        </tr>
    </table>

    <div id="manual_add">
        <div id="manual_input_container">
            <div>Manually add up to three other friends:</div>
            <div><input id="manual_input" onLoad="adjust_manual_width();" /></div>
        </div>
        <div id="picked_friends_container"></div>
    </div> <!-- manual_add -->

    </div> <!-- faces_container -->
</div> <!-- left_container -->

<div class="right_container">
<div class="msg_picker">
    <div class="msg_title" style="margin-bottom: 10px;">Write A Message:</div>

    <div class="msg_block">
        <div class="msg_txt">
            <div id="other_msg_prompt">{{ msgParams.msg_other_prompt }}</div>
            <div id="other_msg_container">
                <div id="other_msg" contentEditable="True"></div>
                <div style="height: 30px;"><input type="button" id="sugg_msg" class="small_button" style="margin: 4px;" onClick="useSuggested('#msg'+(Math.round(Math.random()*1)+1)+'_txt');" value="Suggest Message" /></div>
            </div>
        </div>
    </div>    

    <div style="display: none;"> <!-- hide the suggestions -->
        <div id="suggested_msg_title">Suggested Messages:</div>
        <div class="msg_block" style="padding-bottom: 3px; margin-bottom: 0px;">
            <div class="msg_txt suggested_msg" id="msg1_txt">{{ msgParams.msg1_pre }}<span class="preset_names"></span>{{ msgParams.msg1_post }}</div>
        </div>

        <div class="msg_block" style="padding-bottom: 3px; margin-bottom: 0px;">
            <div class="msg_txt suggested_msg" id="msg2_txt">{{ msgParams.msg2_pre }}<span class="preset_names"></span>{{ msgParams.msg2_post }}</div>
        </div>
    </div>

</div> <!-- msg_picker -->

<div id="do_share_container">
    <div id="do_share_button" class="button" onclick="doShare();">Show Your Support</div>
</div>

</div> <!-- right_container -->

<script>
// Adding listeners in script block to ensure necessary divs already exist...

var editable = $('#other_msg');
var msg_length = $('#other_msg').text().length;
var max_msg_length = 1000;

// key presses that we'll let through in the event the message has gotten too long
var allow_keys = [
                    8,         // Backspace
                    46,        // Delete
                    20,     // Caps Lock
                    91,        // Command
                    93,        // Right Command
                    17,        // Control
                    18,        // Alt
                    40,        // Down
                    35,        // End
                    27,        // Escape
                    36,        // Home
                    37,        // Left
                    34,        // Page Down
                    33,        // Page Up
                    39,        // Right
                    38        // Up
                 ];


// disable pasting to avoid introducing marked-up text
editable.on('paste', function(event) {
    event.preventDefault();
    return false;
});

// disable drag-and-drop to avoid introducing marked-up text
editable.on('dragover drop', function(event) {
    event.preventDefault();
    return false;
});

// have to catch return key presses on the keydown (to use preventDefault)
editable.on('keydown', function(event) {  

    var code = (event.keyCode ? event.keyCode : event.which);
    // return (13) or enter (108) key pressed
    if(code == 13 || code == 108) {

        event.preventDefault();
        return false;

    } else if (msg_length >= max_msg_length && allow_keys.indexOf(code) === -1) {

        event.preventDefault();
        return false;

    } else {

        msg_length = $('#other_msg').text().length;

    }

});

// catch deletes and undos on keyup (after text has been edited)
editable.on('keyup', function(event) {

    var code = (event.keyCode ? event.keyCode : event.which);

    // check if user has manually deleted a friend
    var recips_removed = handleDeleted();
    if (recips_removed) { 
        $('.suggested_msg .preset_names').html(friendNames(false));
    }

    // in the event of an "undo" could actually add back a friend!
    var recips_added = handleUndo();
    if (recips_added || $(".msg-txt-friend").length > recips.length) { 
        $('.suggested_msg .preset_names').html(friendNames(false));
        $('#other_msg .preset_names').html(friendNames(true));
    }

    // Doing this here rather than the keydown because the alert seems to cause trouble with the preventDefault() to avoid the input
    if (msg_length >= max_msg_length && allow_keys.indexOf(code) === -1 && code != 13 && code != 108) {
        alert("Please limit your message to fewer than 1000 character.");
    }

});

</script>

<script>

    // Quick code to pre-load messages for testing...
    
    {% for face_friend in face_friends %}
//        recips.push({{face_friend.id}});
    {% endfor %}

    {% for face_friend in face_friends %}
//        $('#other_msg').append(' <span class="msg_friend_name msg-txt-friend" id="msg-txt-friend-'+{{face_friend.id}}+'" contentEditable="False">'+fbnames[{{face_friend.id}}]+'</span> ');
    {% endfor %}

    $("input[id*='box-']").prop('checked', false)

    $('.suggested_msg .preset_names').html(friendNames(false));

    $('#other_msg').focus();

</script>

<script src="{{ url_for('static', filename='manual_add.js') }}"></script>

<SCRIPT>

    function set_right_width() {
        var rcwidth = window.innerWidth 
                        - parseInt($('body').css('margin-left')) 
                        - parseInt($('body').css('margin-right'))
                        - parseInt($('#friends_div').css('padding-left')) 
                        - parseInt($('#friends_div').css('padding-right'))
                        - $('#the_left_container').outerWidth()
                        - parseInt($('.right_container').css('padding-left'));

        if ( rcwidth < parseInt($('.right_container').css('min-width')) ) {
            rcwidth = parseInt($('.right_container').css('min-width'));
        } else if ( rcwidth > parseInt($('.right_container').css('max-width')) ) {
            rcwidth = parseInt($('.right_container').css('max-width'));
        }

        $('.right_container').width(rcwidth);
        $('#friends_div').width($('.left_container').outerWidth() + $('.right_container').outerWidth() );
    }

    // Initial call and set up a listener on window resizing
    $(document).ready(function(){ set_right_width(); });
    $(window).resize(function(){ set_right_width(); });

</SCRIPT>


