<!-- DOC snippet returned by faces enpoint

this is the message div and the faces themselves
 -->

{% from 'new_face.html' import face %}
<script src="{{ url_for('static', filename='manual_add.js') }}"></script>
<script>{% include 'faces_and_msg.js' %}</script>


<script>

    if ({{ faceFriends | length }} === 0) {
        // Should never, ever get here unless something went very wrong in Flask land
        // Even so, let's be sure to send the user somewhere reasonable rather than 
        // land them on a page with nothing to do...
        alert("Sorry. An error was encountered while communicating with Facebook.");
        top.location = errorURL; // set in frame_faces.html via Jinja
    }

    // suggested messages
    var suggested_messages = [];
    suggested_messages.push(['{{ msgParams.msg1_pre }}', '{{ msgParams.msg1_post }}']);
    suggested_messages.push(['{{ msgParams.msg2_pre }}', '{{ msgParams.msg2_post }}']);

    console.log(suggested_messages.toString());

    console.log("zzz ehllo 8");


</script>


<div id="faces_form_container">

    <div class="text_title_prompt">{{ msgParams.sharing_prompt }}</div>

    {% block faces_prompt %}
    <div class="text_instructions">Step 1. Click on the friends you want to share with:</div>
    {% endblock faces_prompt %}

    <div id="button_select_all" class="button_small button_active" onClick="selectAll();">Select All &gt;&gt;</div>

    <table align=center border=0 cellpadding=0 cellspacing=7 class="friends_table">
        <tr>
            {% for faceFriend in faceFriends[:numFace] %}
                <td>{{ face(faceFriend.id, faceFriend.fname, faceFriend.lname) }}</td>
                {% if ( (loop.index0 == 2) and (numFace > 3) ) or ( (loop.index0 == 5) and (numFace > 6) ) %}
                    </tr><tr>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <div id="manual_add">
        <div>You can add extra friends by typing their names here:&nbsp;
        <input id="manual_input"/></div>
        <div id="picked_friends_container"></div>
    </div> <!-- manual_add -->

    {% block msg_prompt %}
    <div class="text_instructions" style="margin-bottom: 10px;">Step 2. Write a message to post on Facebook:</div>
    {% endblock msg_prompt %}

    <div id="button_sugg_msg" class="button_small button_inactive" onClick="useSuggested(suggested_messages);">Suggest Message</div>

    <div id="message_form">
        <div id="message_form_editable" contentEditable="True">
            <span id='message_helper_txt' style='color: gray;'></span>
        </div>
        <div id='message_preview' valign='middle'>
            <img src='{{ fbParams.fb_object_image }}'>
            <div id='message_preview_title'>
                {{ fbParams.fb_object_title }}
            </div>
            <div id='message_preview_desc'>
                {{ fbParams.fb_object_description }}
            </div>
        </div>
    </div>

    {% block button %}
    <div id="button_share_container">
        <div id="button_do_share" class="button_big button_inactive" onclick="doShare();">Show Your Support</div>
    </div>
    {% endblock button %}

</div> <!-- faces_container -->




