<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"
      xmlns:fb="https://www.facebook.com/2008/fbml"> 
    <head prefix="og: http://ogp.me/ns# {{ fbParams.fb_app_name }}: 
                  http://ogp.me/ns/apps/{{ fbParams.fb_app_name }}#">
    <title>{{ fbParams.page_title }}</title>
    <!-- DOC: destination page facebook sends user to after auth -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta property="fb:app_id" content="{{ fbParams.fb_app_id }}" /> 
    <meta property="og:type" content="{{ fbParams.fb_app_name }}:{{ fbParams.fb_object_type }}" /> 
    <meta property="og:title" content="{{ fbParams.fb_object_title }}" /> 
    <meta property="og:image" content="{{ fbParams.fb_object_image }}" /> 
    <meta property="og:description" content="{{ fbParams.fb_object_desc }}" /> 
    <meta property="og:url" content="{{ fbParams.fb_object_url }}">

    <script>
        /* 
        redirect to page on client site
        */

        window.location = '{{ redirectURL | safe }}';

    </script>

</HEAD>
<BODY>
<h2>L o a d i n g...</h2>
<p>You should be redirected to your content shortly.</p>

<h3><a href="{{ redirectURL }}">Click here</a> if you're not sent to your content immediately.</h3>
</BODY>
</HTML>
