@import "colors.less";

.campaign-summary {
    .divided {
        border-bottom: 1px solid @lightGray;
    }

    .create-campaign-btn {
        float: right;
        margin-right: 25px;
        margin-top: 25px;
    }

    .group {
        margin-left: 15px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;

        .name {
            color: black;
            font-weight: 700;
        }

        .homeBtn {
             margin-right: 13px;
        }

        .campaign-actions {
            .btn {
                 margin-right: 10px;
            }
            .btn-default {
                color: black;

                &:hover {
                    color: black;
                }
            }
        }
    }

    h1 {
        .label {
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 0.5px;
            margin-left: 5px;
            vertical-align: 60%;
        }

        .label-draft {
            background-color: #999;
        }
        .label-published {
            background-color: #2C4C6C;
        }
        .label-archived {
            background-color: rgb(228, 228, 228);
            border: solid rgb(173, 172, 172) 1px;
            color: rgb(116, 116, 116);
        }
    }
}
