{% extends 'frame_faces.html' %}
{% block edgeflip_style %}
<!-- MAIG FONTS!!! -->
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/s3.mayorsagainstillegalguns.org/css/fonts.css" />
<!-- MAIG FONTS!!! -->

<!-- edgeflip stylesheets -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients/demandaction/button.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients/demandaction/faces.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients/demandaction/share_msg.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clients/demandaction/manual_add.css') }}" />
<!-- edgeflip stylesheets -->
{% endblock edgeflip_style %}
