<div class="filter-layer" data-js="filterLayer">
    <div class="filter-layer-header">
        <span data-target="filterLabel" class="filter-layer-label">{{label}}</span>
        <button data-js="addFallbackBtn" type="button" class="btn">Add Fallback Audience</button>
        {{#if removeBtn}}<span class="glyphicon glyphicon-remove" data-js="removeLayerBtn"></span>{{/if}}
    </div>
    <div data-js="filterContainer" class="filter-container" data-type="sortable"></div>
    <input data-target="filterLayerFormField" type="hidden" name="enabled-filters-{{count}}" />
</div>
