<div class="filter-layer">
    <div class="filter-layer-header">
        <span class="filter-layer-label">{{label}}</span>
        {{#if addBtn}}<button data-js="addFallbackBtn" type="button" class="btn">Add Fallback Audience</button>{{/if}}
    </div>
    <div class="filter-container"></div>
</div>
