<div class="form-group no-label">
    <input class="form-control" autocomplete="off" data-js="formInput" name="name" type="text" placeholder="Your campaign name">
    <span class="glyphicon glyphicon-remove form-control-feedback hide"></span>
</div>
