{% extends "core/campaignstatus/base.html" %}

{% block heading %}Page removed{% endblock %}

{% block content %}
<p>This campaign has been archived and may no longer be accessed.</p>

{% if redirect_url %}
<p>You are logged into the Edgeflip admin. Regular visitors, who are not logged into the admin, do not see this page &ndash; they are automatically redirected.</p>
<p><a href="{{ redirect_url }}">Click here</a> to follow that redirect.</p>

<script>
    {% include "core/includes/edgeflip.js" %}
    {% include "core/includes/util.js" %}
    (function () {
        /* Treat all anchor HREFs as "outgoing redirects" which must engage the top frame.
         */
        var index, anchor,
            anchors = document.getElementsByTagName('a'),
            redirector = function (event) {
                event.preventDefault();
                edgeflip.util.outgoingRedirect(this.href);
            };

        for (index = 0; index < anchors.length; index++) {
            anchor = anchors[index];
            anchor.addEventListener('click', redirector);
        }
    })();
</script>
{% endif %}

{% endblock %}
